<!-- Environment Section -->
<div class="toggle-section">
    <h5 class="toggle-title underline">
        {{localize "PL1E.Environment"}}
        <i class="fas fa-question-circle help-icon" data-tooltip="{{localize 'PL1E.EnvironmentTooltip'}}"></i>
    </h5>
    <div class="toggle-group">
        {{#each environmentOptions}}
            <div class="toggle-item" data-value="{{this.value}}">
                <img src="{{this.img}}" alt="{{this.alt}}" />
            </div>
        {{/each}}
    </div>
</div>

<!-- Service Section -->
<div class="toggle-section">
    <h5 class="toggle-title underline">
        {{localize "PL1E.Service"}}
        <i class="fas fa-question-circle help-icon" data-tooltip="{{localize 'PL1E.ServiceTooltip'}}"></i>
    </h5>
    <div class="toggle-group">
        {{#each serviceOptions}}
            <div class="toggle-item" data-value="{{this.value}}">
                <img src="{{this.img}}" alt="{{this.alt}}" />
            </div>
        {{/each}}
    </div>
</div>

<!-- Service Section -->
<div class="toggle-section">
    <h5 class="toggle-title underline">
        {{localize "PL1E.Service"}}
        <i class="fas fa-question-circle help-icon" data-tooltip="{{localize 'PL1E.ServiceTooltip'}}"></i>
    </h5>
    <div class="toggle-group">
        {{#each serviceOptions}}
            <div class="toggle-item" data-value="{{this.value}}">
                <img src="{{this.img}}" alt="{{this.alt}}" />
            </div>
        {{/each}}
    </div>
</div>

<!-- Service Section -->
<div class="toggle-section">
    <h5 class="toggle-title underline">
        {{localize "PL1E.Service"}}
        <i class="fas fa-question-circle help-icon" data-tooltip="{{localize 'PL1E.ServiceTooltip'}}"></i>
    </h5>
    <div class="toggle-group">
        {{#each serviceOptions}}
            <div class="toggle-item" data-value="{{this.value}}">
                <img src="{{this.img}}" alt="{{this.alt}}" />
            </div>
        {{/each}}
    </div>
</div>