<div class="toggle-section">
    <h5 class="toggle-title">
        {{localize "PL1E.Environment"}}
        <i class="fas fa-question-circle help-icon" data-tooltip="{{localize 'PL1E.EnvironmentTooltip'}}"></i>
    </h5>
    <div class="toggle-group environment-toggle" style="--toggle-columns: 3;">
        {{#each environments}}
            <div class="toggle-item {{#if (eq ../selectedEnvironment @key)}}selected{{/if}}" data-value="{{@key}}" data-tooltip="{{localize this.tooltip}}">
                <img src="{{this.img}}" alt="{{this.tooltip}}" />
            </div>
        {{/each}}
    </div>
</div>

<!-- Service Section -->
<div class="toggle-section">
    <h5 class="toggle-title">
        {{localize "PL1E.Services"}}
        <i class="fas fa-question-circle help-icon" data-tooltip="{{localize 'PL1E.ServicesTooltip'}}"></i>
    </h5>
    <div class="toggle-group bed-toggle" style="--toggle-columns: 5;">
        {{#each beds}}
            <div class="toggle-item {{#if (eq ../selectedBed @key)}}selected{{/if}}" data-value="{{@key}}" data-tooltip="{{localize this.tooltip}}">
                <img src="{{this.img}}" alt="{{this.tooltip}}" />
            </div>
        {{/each}}
    </div>
    <div class="toggle-group meal-toggle" style="--toggle-columns: 5;">
        {{#each meals}}
            <div class="toggle-item {{#if (eq ../selectedMeal @key)}}selected{{/if}}" data-value="{{@key}}" data-tooltip="{{localize this.tooltip}}">
                <img src="{{this.img}}" alt="{{this.tooltip}}" />
            </div>
        {{/each}}
    </div>
</div>

<!-- Inventory Section -->
{{> "systems/pl1e/templates/actor/parts/inventory-commons.hbs" }}