<form class="pl1e rest-form" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header color-negative">
        <div class="flex-vertical gap-md header-infos">
            <div class="flex-horizontal gap-md flex-shrink flex-items-center">
                <input class="sheet-name" type="text" value="{{localize "PL1E.Rest"}}" disabled/>
                <div class="dropdown-icons">
                    <div class="dropdown-button" data-tooltip="{{localize "PL1E.Actions"}}">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="dropdown-content">
                        <i class="fas fa-check confirm-rest" data-tooltip="{{localize "PL1E.Confirm"}}"></i>
                        <i class="fas fa-times cancel-rest" data-tooltip="{{localize "PL1E.Cancel"}}"></i>
                    </div>
                </div>
            </div>
            <div class="flex-vertical gap-md resources">
                {{#each system.resources}}
                    {{#with (config "resources" @key)}}
                        <div class="resource {{@key}}-bar" data-resource-id="{{@key}}">
                            <div class="infos">
                                <span class="resource-name hover-info highlight-link name"
                                      data-characteristics="{{weights.characteristics}}">{{localize label}}</span>
                                <input type="number" name="system.resources.{{@key}}.value"
                                       value="{{../value}}" max="{{../max}}" data-dtype="Number" disabled/>
                                <span>/</span>
                                <input type="number" name="system.resources.{{@key}}.max"
                                       value="{{../max}}" data-dtype="Number" disabled/>
                            </div>
                            <div class="bar">
                                <div class="fill {{@key}}" style="width: {{../percentage}}%;"></div>
                            </div>
                        </div>
                    {{/with}}
                {{/each}}
            </div>
            <div class="icons-stats">
                {{#each effects}}
                    <span class="stat-icon hover-info" data-tooltip="{{localize label}}">
                        <i class="far {{icon}}"></i> {{value}}
                    </span>
                {{/each}}
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="hover-action enabled-action" data-tab="sleep-and-meal">{{localize "PL1E.SleepAndMeal"}}</a>
        <a class="hover-action enabled-action">{{localize "PL1E.Training"}}</a>
        <a class="hover-action enabled-action">{{localize "PL1E.Crafting"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Sleep and Meal Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="sleep-and-meal">
            {{> "systems/pl1e/templates/rest/parts/sleep-and-meal.hbs"}}
        </div>

        {{!-- Training Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="training">
            {{> "systems/pl1e/templates/rest/parts/training.hbs"}}
        </div>

        {{!-- Crafting Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="crafting">
            {{> "systems/pl1e/templates/rest/parts/crafting.hbs"}}
        </div>
    </section>
</form>