<div class="list-items">
    <div class="list-header">
        <h4>{{localize "PL1E.Abilities"}}</h4>
        {{#unless favoriteDisplay}}
            <div class="header-actions item-filter-list" data-filter="abilities">
                {{#each (config "activations")}}
                    <div class="item-filter hover-action enabled-action" data-filter="{{@key}}">
                        {{localize this}}
                    </div>
                {{/each}}
            </div>
        {{/unless}}
    </div>

    <div class="list-column">
        {{#each abilities}}
            <div class="item {{#unless isEnabled}}background-unavailable{{/unless}}" data-item-id="{{_id}}" data-item-source-id="{{sourceId}}"">
                <div class="item-content">
                    <div class="title">
                        <img class="item-edit hover-action" src="{{img}}" title="{{name}}" width="24" height="24"/>
                        <label class="item-tooltip-activate hover-info">{{name}}</label>
                    </div>
                    <div class="icons">
                        {{#unless ../favoriteDisplay}}
                            {{> "systems/pl1e/templates/item/components/icons-ability.hbs"}}
                        {{/unless}}
                    </div>
                    <div class="controls">
                        {{#if @root.actor.isOwner}}
                            {{#if (or (eq @root.actor.type "character") (eq @root.actor.type "npc"))}}
                                {{#if isEnabled}}
                                    {{#if (ne system.attributes.activation "passive")}}
                                        <a class="item-use hover-action" data-tooltip='{{localize "PL1E.Use"}}'><i class="fas fa-dice-d20"></i></a>
                                    {{/if}}
                                {{else if (gt (length warnings) 0)}}
                                    <a data-tooltip='{{list warnings ', ' true}}'>
                                        <i class="far fa-exclamation-triangle hover-info color-warning"></i>
                                    </a>
                                {{/if}}
                                <a class="item-favorite hover-action" data-favorite-type="items" data-favorite-id="{{sourceId}}" data-tooltip='{{localize "PL1E.Favorite"}}'>
                                    <i class="fas fa-bookmark {{#unless (contains ../system.favorites.items sourceId)}}color-disabled{{/unless}}"></i>
                                </a>
                            {{/if}}
                            {{#if (eq flags.pl1e.childId undefined)}}
                                <a class="item-remove hover-action" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                            {{else}}
                                <a class="item-link hover-action" data-tooltip='{{localize "PL1E.Link"}}'><i class="fas fa-link"></i></a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
                <div class="item-tooltip" data-exclude-toc>{{{enriched}}}</div>
            </div>
        {{/each}}
        {{#if (eq abilities.length 0)}}
            <div class="empty">
                {{#if favoriteDisplay}}
                    {{localize "PL1E.NoFavorites"}}
                {{else}}
                    {{localize "PL1E.NoItems"}}
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>