<section class="scroll-hidden grid grid-6col">
    <!-- Left column : Listing characteristics -->
    <div class="characteristics">
        {{#each system.characteristics as |characteristic key|}}
            <div class="characteristic flex-group-center">
                <h3 class="characteristic-label align-left" data-id="{{key}}"
                    data-resources="{{characteristic.weights.resources}}" data-skills="{{characteristic.weights.skills}}">{{localize characteristic.label}}</h3>
                <div class="characteristic-values flexrow flex-group-center">
                    <div class="input-spin">
                        <input name="characteristics.{{key}}.base" type="number" value="{{characteristic.base}}" data-dtype="Number" min="0" placeholder="0" disabled/>
                        {{#if ../system.attributes.creationMod}}
                        <span>
                            <i class="characteristic-control pointer fa fa-plus-square" data-characteristic="{{key}}" data-value="1"></i>
                            <i class="characteristic-control pointer fa fa-minus-square" data-characteristic="{{key}}" data-value="-1"></i>
                        </span>
                        {{/if}}
                    </div>
                    <span class="characteristic-mod {{#if (gt characteristic.mod 0)}}color-green{{/if}} {{#if (lt characteristic.mod 0)}}color-red{{/if}}">
                        {{numberFormat characteristic.mod decimals=0 sign=true}}
                    </span>
                </div>
            </div>
        {{/each}}
    </div>
    <!-- Middle column -->
    <div class="grid-span-2">
        <ul class="skills box">
            <!-- Listing defenses, resistances and skills -->
            {{#each system.skills as |skill key|}}
                <li class="skill grid grid-5col">
                    <i class="skill-roll fas fa-dice-d{{skill.dice}} interactable rollable {{#if (gt skill.diceMod 0)}}color-green{{/if}} {{#if (lt skill.diceMod 0)}}color-red{{/if}}"
                       data-roll="{{skill.number}}d{{skill.dice}}xo{{skill.dice}}cs>=4" data-label="{{skill.label}}">
                        <label class="{{#if (gt skill.numberMod 0)}}color-green{{/if}}
                            {{#if (lt skill.numberMod 0)}}color-red{{/if}}
                            {{#if (eq skill.numberMod 0)}}color-black{{/if}}">{{skill.number}}</label>
                    </i>
                    <label class="skill-label tooltip grid-span-3 align-left" data-id="{{key}}"
                           data-attributes="{{skill.weights.attributes}}" data-characteristics="{{skill.weights.characteristics}}">{{localize skill.label}}</label>
                    <div class="skill-ranks align-right">
                        {{#if (eq skill.rank 1)}}
                            {{#if skill.fixedRank}}
                                <i class="fas fa-circle-1 fa-lg"></i>
                            {{else}}
                                <i class="rank-control far fa-circle-1 fa-lg interactable" data-skill="{{key}}"></i>
                            {{/if}}
                        {{else if (eq skill.rank 2)}}
                            {{#if skill.fixedRank}}
                                <i class="fas fa-circle-2 fa-lg"></i>
                            {{else}}
                                <i class="rank-control far fa-circle-2 fa-lg interactable" data-skill="{{key}}"></i>
                            {{/if}}
                        {{else if (eq skill.rank 3)}}
                            {{#if skill.fixedRank}}
                                <i class="fas fa-circle-3 fa-lg"></i>
                            {{else}}
                                <i class="rank-control far fa-circle-3 fa-lg interactable" data-skill="{{key}}"></i>
                            {{/if}}
                        {{else if (eq skill.rank 4)}}
                            {{#if skill.fixedRank}}
                                <i class="fas fa-circle-4 fa-lg"></i>
                            {{else}}
                                <i class="rank-control far fa-circle-4 fa-lg interactable" data-skill="{{key}}"></i>
                            {{/if}}
                        {{else if (eq skill.rank 5)}}
                            {{#if skill.fixedRank}}
                                <i class="fas fa-circle-5 fa-lg"></i>
                            {{else}}
                                <i class="rank-control far fa-circle-5 fa-lg interactable" data-skill="{{key}}"></i>
                            {{/if}}
                        {{/if}}
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <!-- Right column -->
    <div class="attributes scroll-auto grid-span-3">
        {{#if game.user.isGM}}
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Admin"}}</legend>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.CreationMod"}}</label>
                <input type="checkbox" name="system.attributes.creationMod" {{checked system.attributes.creationMod}}/>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.UpdateDocuments"}}</label>
                <input type="button" class="activate-button"/>
            </div>
        </fieldset>
        {{/if}}
        <fieldset>
            <legend class="section-header">{{localize "PL1E.General"}}</legend>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Experience"}}</label>
                <input type="number" step="1" min="0" max="60" name="system.attributes.experience"
                       value="{{system.attributes.experience}}" data-dtype="Number"/>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Characteristics"}}</label>
                <input type="number" step="1" min="0" max="60" name="system.attributes.remainingCharacteristics"
                       value="{{system.attributes.remainingCharacteristics}}" data-dtype="Number" disabled/>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Slots"}}</label>
                <label class="align-right">{{system.attributes.slots}}</label>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Ranks"}}</label>
                <label class="align-right">{{system.attributes.ranks}}</label>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.MaxRank"}}</label>
                {{#if (eq system.attributes.maxRank 1)}}
                    <i class="far fa-circle-1 fa-lg align-right"></i>
                {{else if (eq system.attributes.maxRank 2)}}
                    <i class="far fa-circle-2 fa-lg align-right"></i>
                {{else if (eq system.attributes.maxRank 3)}}
                    <i class="far fa-circle-3 fa-lg align-right"></i>
                {{else if (eq system.attributes.maxRank 4)}}
                    <i class="far fa-circle-4 fa-lg align-right"></i>
                {{else if (eq system.attributes.maxRank 5)}}
                    <i class="far fa-circle-5 fa-lg align-right"></i>
                {{/if}}
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Bonuses"}}</label>
                <div class="form-group">
                    {{rangePicker name="system.attributes.bonuses" value=system.attributes.bonuses min=-2 max=2 step=1}}
                </div>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Advantages"}}</label>
                <div class="form-group">
                    {{rangePicker name="system.attributes.advantages" value=system.attributes.advantages min=-2 max=2 step=1}}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Base"}}</legend>
            <div class="form-group attribute">
                <label>{{localize "PL1E.Size"}}</label>
                <label class="align-right">{{localize (configEntry "sizes" system.attributes.size)}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.Speed"}}</label>
                <label class="align-right">{{system.attributes.speed}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.Initiative"}}</label>
                <label class="align-right">{{system.attributes.initiative}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.DodgeBonuses"}}</label>
                <label class="align-right">{{system.attributes.dodgeBonuses}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.ParryBonuses"}}</label>
                <label class="align-right">{{system.attributes.parryBonuses}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.MovementPenalty"}}</label>
                <label class="align-right">{{system.attributes.movementPenalty}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.NightVision"}}</label>
                <label class="align-right">{{system.attributes.nightVision}}</label>
            </div>
        </fieldset>
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Reduction"}}</legend>
            <div class="form-group attribute">
                <label>{{localize "PL1E.SlashingReduction"}}</label>
                <label class="align-right">{{system.attributes.slashingReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.CrushingReduction"}}</label>
                <label class="align-right">{{system.attributes.crushingReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.PiercingReduction"}}</label>
                <label class="align-right">{{system.attributes.piercingReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.FireReduction"}}</label>
                <label class="align-right">{{system.attributes.fireReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.ColdReduction"}}</label>
                <label class="align-right">{{system.attributes.coldReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.AcidReduction"}}</label>
                <label class="align-right">{{system.attributes.acidReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.ShockReduction"}}</label>
                <label class="align-right">{{system.attributes.shockReduction}}</label>
            </div>
        </fieldset>
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Others"}}</legend>
            <div class="form-group attribute">
                <label>{{localize "PL1E.Languages"}}</label>
                <a class="trait-selector" data-options="languages" data-target="system.traits.languages"
                   title="{{localize 'PL1E.TraitConfig' trait=(localize 'PL1E.Languages')}}" tabindex="0">
                    <i class="fas fa-edit"></i>
                </a>
                <ul class="traits-list">
                    {{#each system.traits.languages.selected as |v k|}}
                        <li class="tag {{k}}">{{v}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.Immunities"}}</label>
                <a class="trait-selector" data-options="damageTypes" data-target="system.traits.di"
                   title="{{localize 'PL1E.TraitConfig' trait=(localize 'PL1E.Immunities')}}" tabindex="0">
                    <i class="fas fa-edit"></i>
                </a>
                <ul class="traits-list">
                    {{#each system.traits.di.selected as |v k|}}
                        <li class="tag {{k}}">{{v}}</li>
                    {{/each}}
                </ul>
            </div>
        </fieldset>
    </div>
</section>