<section class="scroll-hidden grid grid-5col">
    <!-- Left column : Listing characteristics -->
    <div class="characteristics">
        {{#each system.characteristics as |characteristic key|}}
            <div class="characteristic flex-group-center">
                <h2 class="characteristic-label hoverable align-left" data-tooltip="{{localize characteristic.tooltip}}" data-id="{{characteristic.id}}"
                    data-resources="{{characteristics.weights.resources}}" data-skills="{{characteristic.weights.skills}}">{{characteristic.label}}</h2>
                <div class="characteristic-values flexrow flex-group-center">
                    <input type="number" min="{{characteristic.min}}" max="{{characteristic.max}}"
                           name="system.characteristics.{{key}}.base" value="{{characteristic.base}}"
                           data-dtype="Number"/>
                    <span class="characteristic-mod {{#if (gt characteristic.mod 0)}}color-green{{/if}} {{#if (lt characteristic.mod 0)}}color-red{{/if}}">
                        {{numberFormat characteristic.mod decimals=0 sign=true}}
                    </span>
                </div>
            </div>
        {{/each}}
    </div>
    <!-- Middle column -->
    <div class="grid-span-2">
        <ul class="skills box">
            <!-- Listing defenses, resistances and skills -->
            {{#each system.skills as |skill key|}}
                {{#if (ne skill.header undefined) }}
                    <h3>{{localize skill.header}}</h3>
                {{/if}}
                <li class="skill grid grid-6col">
                    <i class="skill-roll fas fa-dice-d{{skill.dice}} rollable {{#if (gt skill.diceMod 0)}}color-green{{/if}} {{#if (lt skill.diceMod 0)}}color-red{{/if}}"
                       data-roll="{{skill.number}}d{{skill.dice}}xo{{skill.dice}}cs>=4" data-label="{{skill.label}}">
                        <label class="{{#if (gt skill.numberMod 0)}}color-green{{/if}}
                            {{#if (lt skill.numberMod 0)}}color-red{{/if}}
                            {{#if (eq skill.numberMod 0)}}color-black{{/if}}">{{skill.number}}</label>
                    </i>
                    <label class="skill-label hoverable grid-span-2 align-left" data-tooltip="{{localize skill.tooltip}}" data-id="{{skill.id}}"
                           data-characteristics="{{skill.weights.characteristics}}">{{skill.label}}</label>
                    <div class="skill-masteries grid-span-3 align-right">
                        <input type="radio" name="system.skills.{{key}}.rank" class="rank-1" value="1"
                               data-dtype="Number" {{checked (eq skill.rank 1)}} {{disabled skill.rankDisabled}}/>
                        <input type="radio" name="system.skills.{{key}}.rank" class="rank-2" value="2"
                               data-dtype="Number" {{checked (eq skill.rank 2)}} {{disabled skill.rankDisabled}}/>
                        <input type="radio" name="system.skills.{{key}}.rank" class="rank-3" value="3"
                               data-dtype="Number" {{checked (eq skill.rank 3)}} {{disabled skill.rankDisabled}}/>
                        <input type="radio" name="system.skills.{{key}}.rank" class="rank-4" value="4"
                               data-dtype="Number" {{checked (eq skill.rank 4)}} {{disabled skill.rankDisabled}}/>
                        <input type="radio" name="system.skills.{{key}}.rank" class="rank-5" value="5"
                               data-dtype="Number" {{checked (eq skill.rank 5)}} {{disabled skill.rankDisabled}}/>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <!-- Right column -->
    <div class="attributes scroll-auto grid-span-2">
        <div class="form-group">
            <label>Experience</label>
            <input type="number" step="1" min="0" max="60" name="system.attributes.experience"
                   value="{{system.attributes.experience}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Bonuses"}}</label>
            <div class="form-group">
                {{rangePicker name="system.attributes.bonuses" value=system.attributes.bonuses min=-2 max=2 step=1}}
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Advantages"}}</label>
            <div class="form-group">
                {{rangePicker name="system.attributes.advantages" value=system.attributes.advantages min=-2 max=2 step=1}}
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Size"}}</label>
            <label class="align-right">{{localize system.attributes.size}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Speed"}}</label>
            <label class="align-right">{{system.attributes.speed}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Initiative"}}</label>
            <label class="align-right">{{system.attributes.initiative}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.DodgeBonuses"}}</label>
            <label class="align-right">{{system.attributes.dodgeBonuses}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.ParryBonuses"}}</label>
            <label class="align-right">{{system.attributes.parryBonuses}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.MovementPenalty"}}</label>
            <label class="align-right">{{system.attributes.movementPenalty}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.NightVision"}}</label>
            <label class="align-right">{{system.attributes.nightVision}}</label>
        </div>
        <hr>
        <div class="form-group">
            <label>{{localize "PL1E.SlashingReduction"}}</label>
            <label class="align-right">{{system.attributes.slashingReduction}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.CrushingReduction"}}</label>
            <label class="align-right">{{system.attributes.crushingReduction}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.PiercingReduction"}}</label>
            <label class="align-right">{{system.attributes.piercingReduction}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.FireReduction"}}</label>
            <label class="align-right">{{system.attributes.fireReduction}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.ColdReduction"}}</label>
            <label class="align-right">{{system.attributes.coldReduction}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.AcidReduction"}}</label>
            <label class="align-right">{{system.attributes.acidReduction}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.ShockReduction"}}</label>
            <label class="align-right">{{system.attributes.shockReduction}}</label>
        </div>
        <hr>
        <div class="form-group">
            <label>{{localize "PL1E.Languages"}}</label>
            <a class="trait-selector" data-options="languages" data-target="system.traits.languages"
               title="{{localize 'PL1E.TraitConfig' trait=(localize 'PL1E.Languages')}}" tabindex="0">
                <i class="fas fa-edit"></i>
            </a>
            <ul class="traits-list">
                {{#each system.traits.languages.selected as |v k|}}
                    <li class="tag {{k}}">{{v}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Immunities"}}</label>
            <a class="trait-selector" data-options="damageTypes" data-target="system.traits.di"
               title="{{localize 'PL1E.TraitConfig' trait=(localize 'PL1E.Immunities')}}" tabindex="0">
                <i class="fas fa-edit"></i>
            </a>
            <ul class="traits-list">
                {{#each system.traits.di.selected as |v k|}}
                    <li class="tag {{k}}">{{v}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>