<div class="list-items">
    <div class="list-header">
        <h5>{{localize "PL1E.Parameters"}}</h5>
    </div>
    <div class="list-column">
        <div class="item">
            <div class="title">
                <label>{{localize "PL1E.UnlimitedItems"}}</label>
            </div>
            <div class="fields">
                <input type="checkbox" name="system.general.unlimitedItems" {{checked system.general.unlimitedItems}} data-dtype="Boolean"/>
            </div>
        </div>
        <div class="item">
            <div class="title">
                <label>{{localize "PL1E.RemoveItems"}}</label>
            </div>
            <div class="fields">
                <button class="button-remove-items">{{localize "PL1E.Remove"}}</button>
            </div>
        </div>
        <div class="item">
            <div class="title">
                <label>{{localize "PL1E.RandomizeItems"}}</label>
            </div>
            <div class="fields">
                <input type="number" name="system.general.itemPerRoll" value="{{system.general.itemPerRoll}}" min="1" data-dtype="Number"/>
                <button class="button-randomize-item">{{localize "PL1E.Randomize"}}</button>
            </div>
        </div>
        <div class="item">
            <div class="title">
                <label>{{localize "PL1E.GenerateItems"}}</label>
            </div>
            <div class="fields">
                <button class="button-generate-item">{{localize "PL1E.Generate"}}</button>
            </div>
        </div>
    </div>
</div>
