<div class="list-items">
    <div class="list-header">
        <h4>{{localize "PL1E.Effects"}}</h4>
        <div class="header-actions item-filter-list" data-filter="effects">
            {{#each (config "effectTypesKeys")}}
                <div class="item-filter hover-action enabled-action" data-filter="{{@key}}">{{localize this}}</div>
            {{/each}}
        </div>
    </div>
    <div class="list-column">
        {{#each effects}}
            <div class="item" data-effect-id="{{_id}}" data-item-origin-id="{{origin}}" data-actor-origin-id="{{flags.pl1e.originActor}}">
                <div class="item-content">
                    <div class="title">
                        <img class="effect-edit hover-action" src="{{icon}}" title="{{localize name}}" width="24" height="24"/>
                        <label class="item-tooltip-activate hover-info">{{localize name}}</label>
                    </div>
                    <div class="icons">
                        {{#if duration.rounds}}
                            <i class="far fa-clock hover-info" data-tooltip="{{localize "PL1E.Turn"}}">
                                <label>{{duration.rounds}}</label>
                            </i>
                        {{/if}}
                    </div>
                    <div class="controls">
                        {{#if @root.actor.isOwner}}
                            {{#if (and origin flags.pl1e.originActor)}}
                                <a class="item-origin hover-action" data-tooltip='{{localize "PL1E.Link"}}'><i class="fas fa-link"></i></a>
                            {{/if}}
                            {{#if @root.game.user.isGM}}
                                <a class="effect-remove hover-action" data-tooltip="{{localize "PL1E.Delete"}}"><i class="fas fa-trash"></i></a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
                <div class="item-tooltip" data-exclude-toc>{{{description}}}</div>
            </div>
        {{/each}}
        {{#if (eq effects.length 0)}}
            <div class="empty">
                {{localize "PL1E.NoItems"}}
            </div>
        {{/if}}
    </div>
</div>
