<div class="list-items">
    <div class="list-header">
        <h4>{{localize "PL1E.Background"}}</h4>
        <div class="header-actions item-filter-list" data-filter="background">
            <div class="item-filter hover-action enabled-action" data-filter="race">{{localize "PL1E.Race"}}</div>
            <div class="item-filter hover-action enabled-action" data-filter="culture">{{localize "PL1E.Culture"}}</div>
            <div class="item-filter hover-action enabled-action" data-filter="class">{{localize "PL1E.Class"}}</div>
            <div class="item-filter hover-action enabled-action" data-filter="mastery">{{localize "PL1E.Mastery"}}</div>
        </div>
    </div>
    <div class="list-row">
        {{#each background}}
            <div class="item" data-item-id="{{_id}}" data-item-source-id="{{sourceId}}">
                <img class="item-edit hover-action" src="{{img}}" title="{{name}}"/>
                {{#if @root.actor.isOwner}}
                    {{#if flags.pl1e.childId}}
                        <a class="item-link hover-action" data-tooltip='{{localize "PL1E.Link"}}'><i class="fas fa-link"></i></a>
                    {{else}}
                        <a class="item-remove hover-action" data-tooltip='{{localize "PL1E.Delete"}}'>
                            <i class="fas fa-trash"></i>
                        </a>
                    {{/if}}
                    {{#if (gt (length warnings) 0)}}
                        <i class="far fa-exclamation-triangle hover-info color-warning"
                           data-tooltip="{{join warnings ', ' true}}"></i>
                    {{/if}}
                {{/if}}
            </div>
        {{/each}}
        {{#if (eq background.length 0)}}
            <div class="empty">
                {{localize "PL1E.NoItems"}}
            </div>
        {{/if}}
    </div>
</div>
