<div class="list-items">
    <div class="list-header">
        <h4>{{localize "PL1E.Features"}}</h4>
        <div class="header-actions item-filter-list" data-filter="features">
            {{#each (config "featureTypes")}}
                <div class="item-filter hover-action enabled-action" data-filter="{{@key}}">{{localize this}}</div>
            {{/each}}
        </div>
    </div>
    <div class="list-row">
        {{#if (gt features.length 0)}}
            {{#each features}}
                <div class="item" data-item-id="{{_id}}" {{#if flags.pl1e.sourceId}}data-source-id="{{flags.pl1e.sourceId}}"{{/if}}>
                    <img class="item-edit hover-action" src="{{img}}" title="{{name}}"/>
                    {{#if @root.actor.isOwner}}
                        {{#if flags.pl1e.childId}}
                            <a class="item-link hover-action" data-tooltip='{{localize "PL1E.Link"}}'><i class="fas fa-link"></i></a>
                        {{else}}
                            <a class="item-remove hover-action" data-tooltip='{{localize "PL1E.Delete"}}'>
                                <i class="fas fa-trash"></i>
                            </a>
                        {{/if}}
                    {{/if}}
                </div>
            {{/each}}
        {{else}}
            <div class="empty">
                {{localize "PL1E.NoItems"}}
            </div>
        {{/if}}
    </div>
</div>
