<div class="list-items">
    <div class="list-header">
        <h4>{{localize "PL1E.Consumables"}}</h4>
        {{#unless favoriteDisplay}}
            <div class="header-actions item-filter-list" data-filter="consumables">
                <div class="item-filter hover-action enabled-action" data-filter="action">{{localize "PL1E.Action"}}</div>
                <div class="item-filter hover-action enabled-action" data-filter="quickAction">{{localize "PL1E.QuickAction"}}</div>
                <div class="item-filter hover-action enabled-action" data-filter="outOfCombat">{{localize "PL1E.OutOfCombat"}}</div>
            </div>
        {{/unless}}
    </div>
    <div class="list-column">
        {{#each consumables}}
            <div class="item" data-item-id="{{_id}}">
                <div class="item-content">
                    <div class="title">
                        <img class="item-edit hover-action" src="{{img}}" title="{{name}}" width="24" height="24"/>
                        <label class="item-tooltip-activate hover-info">
                            {{units}}x {{name}}
                        </label>
                    </div>
                    <div class="icons">
                        {{#unless ../favoriteDisplay}}
                            {{> "systems/pl1e/templates/item/components/icons-consumable.hbs"}}
                        {{/unless}}
                    </div>
                    <div class="controls">
                        {{#if @root.actor.isOwner}}
                            {{#if (or (eq @root.actor.type "character") (eq @root.actor.type "npc"))}}
                                {{#if (gt (length warnings) 0)}}
                                    <a data-tooltip='{{join warnings ', ' true}}'>
                                        <i class="far fa-exclamation-triangle hover-info color-warning"></i>
                                    </a>
                                {{/if}}
                                {{#if (and (ne system.removedUses 0) system.attributes.isReloadable)}}
                                    <a class="item-reload hover-action" data-tooltip='{{localize "PL1E.Reload"}}'>
                                        <i class="fas fa-repeat"></i>
                                    </a>
                                {{/if}}
                                {{#if isEnabled}}
                                    <a class="item-use hover-action" data-tooltip='{{localize "PL1E.Use"}}'><i class="fas fa-dice-d20"></i></a>
                                {{/if}}
                            {{/if}}
                            <a class="item-favorite hover-action" data-favorite-type="items" data-favorite-id="{{sourceId}}" data-tooltip='{{localize "PL1E.Favorite"}}'>
                                <i class="fas fa-bookmark {{#unless (contains ../system.favorites.items sourceId)}}color-disabled{{/unless}}"></i>
                            </a>
                            {{#if flags.pl1e.childId}}
                                <a class="item-link hover-action" data-tooltip='{{localize "PL1E.Link"}}'><i class="fas fa-link"></i></a>
                            {{else}}
                                <a class="item-remove hover-action" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
                <div class="item-tooltip">{{{enriched}}}</div>
            </div>
        {{/each}}
        {{#if (eq consumables.length 0)}}
            <div class="empty">
                {{#if favoriteDisplay}}
                    {{localize "PL1E.NoFavorites"}}
                {{else}}
                    {{localize "PL1E.NoItems"}}
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>
