<div class="list-items">
    <div class="list-header">
        <h4>{{localize "PL1E.Weapons"}}</h4>
        {{#unless favoriteDisplay}}
            <div class="header-actions item-filter-list" data-filter="weapons">
                {{#each (config "weaponUsages")}}
                    <div class="item-filter hover-action enabled-action" data-filter="{{@key}}">{{localize this}}</div>
                {{/each}}
            </div>
        {{/unless}}
    </div>
    <div class="list-column">
        {{#each weapons}}
            <div class="item {{#if (or system.isEquippedMain system.isEquippedSecondary)}}background-ready{{/if}}" data-item-id="{{_id}}">
                <div class="item-content">
                    <div class="title">
                        <img class="item-edit hover-action" src="{{realImg}}" title="{{realName}}" width="24" height="24"/>
                        <label class="item-tooltip-activate hover-info">
                            {{realName}}
                        </label>
                    </div>
                    <div class="icons">
                        {{#unless @root.favoriteDisplay}}
                            {{> "systems/pl1e/templates/item/components/icons-weapon.hbs"}}
                        {{/unless}}
                    </div>
                    <div class="controls">
                        {{#if @root.actor.isOwner}}
                            {{#if (or (eq @root.actor.type "character") (eq @root.actor.type "npc"))}}
                                {{#if (gt (length warnings) 0)}}
                                    <a data-tooltip='{{join warnings ', ' true}}'>
                                        <i class="far fa-exclamation-triangle hover-info color-warning"></i>
                                    </a>
                                {{/if}}
                                {{#if (gt system.attributes.hands 0)}}
                                    <a class="item-toggle hover-action" data-main='false' data-tooltip='{{localize "PL1E.EquipSecondary"}}'>
                                        <i class="fas fa-hand icon-flipped {{#unless system.isEquippedSecondary}}color-disabled{{/unless}}"></i>
                                    </a>
                                    <a class="item-toggle hover-action" data-main='true' data-tooltip='{{localize "PL1E.EquipMain"}}'>
                                        <i class="fas fa-hand {{#unless system.isEquippedMain}}color-disabled{{/unless}}"></i>
                                    </a>
                                {{/if}}
                                <a class="switch-boolean hover-action" data-path="system.isFavorite" data-tooltip='{{localize "PL1E.Favorite"}}'>
                                    <i class="fas fa-bookmark {{#unless system.isFavorite}}color-disabled{{/unless}}"></i>
                                </a>
                            {{/if}}
                            {{#if flags.pl1e.childId}}
                                <a class="item-link hover-action" data-tooltip='{{localize "PL1E.Link"}}'>
                                    <i class="fas fa-link"></i>
                                </a>
                            {{else}}
                                <a class="item-remove hover-action" data-tooltip='{{localize "PL1E.Delete"}}'>
                                    <i class="fas fa-trash"></i>
                                </a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
                <div class="item-tooltip">{{{enriched}}}</div>
            </div>
        {{/each}}
        {{#if (eq weapons.length 0)}}
            <div class="empty">
                {{#if favoriteDisplay}}
                    {{localize "PL1E.NoFavorites"}}
                {{else}}
                    {{localize "PL1E.NoItems"}}
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>
