<div class="item-list">
    <div class="items-header">
        <h5 class="header-title">
            {{localize "PL1E.Modules"}}
            <div class="item-filter-list" data-filter="modules">
                {{#each (config "moduleTypes")}}
                    <div class="item-filter hover-action enabled-action" data-filter="{{@key}}">{{localize this}}</div>
                {{/each}}
            </div>
        </h5>
    </div>
    <div class="items-column">
        {{#if (gt modules.length 0)}}
            {{#each modules}}
                <div class="item" data-item-id="{{_id}}">
                    <div class="item-content">
                        <div class="item-title">
                            <img class="item-edit hover-action" src="{{img}}" title="{{name}}" width="24" height="24"/>
                            <label class="item-tooltip-activate hover-info">
                                {{#if ../system.general.unlimitedItems}}
                                    {{name}}
                                {{else}}
                                    {{units}}x {{name}}
                                {{/if}}
                            </label>
                        </div>
                        <div class="item-icons">
                            {{> "systems/pl1e/templates/item/components/icons-module.hbs"}}
                        </div>
                        <div class="item-controls">
                            {{#if @root.actor.isOwner}}
                                {{#unless flags.pl1e.childId}}
                                    <a class="item-remove hover-action" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                                {{/unless}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="item-tooltip">{{{enriched}}}</div>
                </div>
            {{/each}}
        {{else}}
            <div class="no-items">
                {{localize "PL1E.NothingToDisplay"}}
            </div>
        {{/if}}
    </div>
</div>