<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Parameters"}}</legend>
        <div class="form-group">
            <label class="attribute-name">{{localize "PL1E.UnlimitedItems"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="system.general.unlimitedItems" {{checked system.general.unlimitedItems}} data-dtype="Boolean"/>
            </div>
        </div>
        <div class="form-group">
            <label class="attribute-name">{{localize "PL1E.RemoveItems"}}</label>
            <div class="form-fields">
                <button class="button-remove-items">{{localize "PL1E.Remove"}}</button>
            </div>
        </div>
        <div class="form-group">
            <label class="attribute-name">{{localize "PL1E.GenerateItemsFromRollTables"}}</label>
            <div class="form-fields">
                <button class="button-generate-item">{{localize "PL1E.Generate"}}</button>
            </div>
        </div>
    </fieldset>
    {{> "systems/pl1e/templates/actor/components/roll-tables.hbs" }}
</section>