<section class="scroll-hidden grid grid-8col">
    <!-- Left column -->
    <div class="grid-span-2">
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Skills"}}</legend>
            <ul class="skills">
                <!-- Listing defenses, resistances and skills -->
                {{#each system.skills}}
                    {{#with (configEntry "skills" @key)}}
                        <li class="skill grid grid-6col">
                            <i class="skill-roll grid-span-2 fas fa-dice-d{{../dice}} hover-red rollable{{#if (gt ../diceMod 0)}}color-green{{/if}} {{#if (lt ../diceMod 0)}}color-red{{/if}}"
                               data-roll="{{../number}}d{{../dice}}xo{{../dice}}cs>=4" data-label="{{label}}">
                                <label class="{{#if (gt ../numberMod 0)}}color-green{{/if}}
                                    {{#if (lt ../numberMod 0)}}color-red{{/if}}
                                    {{#if (eq ../numberMod 0)}}color-black{{/if}}">{{../number}}</label>
                            </i>
                            <label class="skill-label grid-span-4 align-left">{{localize label}}</label>
                        </li>
                    {{/with}}
                {{/each}}
            </ul>
        </fieldset>
    </div>
    <!-- Middle column -->
    <div class="scroll-auto grid-span-3">
        <ol class="items-list">
            <li class="item items-header flexrow">
                <div class="item-name">{{localize "PL1E.Traits"}}</div>
            </li>
            {{#each features as |item id|}}
                <li class="item flexrow grid grid-3col" data-item-id="{{item._id}}">
                    <div class="item-name grid-span-2">
                        <div class="item-image">
                            <a class="item-edit hover-red" data-item-id='{{item._id}}'>
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            </a>
                        </div>
                        <h4>{{item.name}}</h4>
                    </div>
                    <div class="item-controls">
                        {{#if (eq item.system.childId undefined)}}
                            <a class="item-control item-delete" data-item-id="{{item._id}}" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                        {{/if}}
                    </div>
                </li>
            {{/each}}
            {{#each abilities as |abilities level|}}
                <li class="item items-header flexrow">
                    <div class="item-name">{{localize "PL1E.AbilitiesLevel"}} {{level}}</div>
                </li>
                {{#each abilities as |item id|}}
                    <li class="item flexrow grid grid-3col" data-item-id="{{item._id}}">
                        <div class="item-name grid-span-2">
                            <div class="item-image">
                                <a class="item-edit hover-red" data-item-id='{{item._id}}'>
                                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                </a>
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="item-controls">
                            {{#if item.system.isMemorized}}
                                <a class="item-control item-use" data-tooltip='{{localize "PL1E.Use"}}'><i class="fas fa-dice-d20"></i></a>
                                <a class="item-control item-toggle" data-tooltip='{{localize "PL1E.Memorize"}}'><i class="fas fa-book"></i></a>
                            {{else}}
                                <a class="item-control item-inactive item-toggle" data-tooltip='{{localize "PL1E.Memorize"}}'><i class="fas fa-book"></i></a>
                            {{/if}}
                            {{#if (eq item.system.childId undefined)}}
                                <a class="item-control item-delete" data-item-id="{{item._id}}" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            {{/each}}
            <li class="item flexrow items-header">
                <div class="item-name">{{localize "PL1E.Weapon"}}</div>
            </li>
            {{#each weapons as |item key|}}
                <li class="item flexrow grid grid-3col" data-item-id="{{item._id}}">
                    <div class="item-name grid-span-2">
                        <div class="item-image">
                            <a class="item-edit hover-red" data-item-id='{{item._id}}'>
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            </a>
                        </div>
                        <label>{{item.name}}</label>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-toggle" data-main='false' data-tooltip='{{localize "PL1E.EquipSecondary"}}'>
                            <i class="fas fa-hand icon-flipped {{#unless item.system.isEquippedSecondary}}item-inactive{{/unless}}"></i>
                        </a>
                        <a class="item-control item-toggle" data-main='true' data-tooltip='{{localize "PL1E.EquipMain"}}'>
                            <i class="fas fa-hand {{#unless item.system.isEquippedMain}}item-inactive{{/unless}}"></i>
                        </a>
                        <a class="item-control item-delete" data-item-id="{{item._id}}" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            <li class="item flexrow items-header">
                <div class="item-name">{{localize "PL1E.Wearable"}}</div>
            </li>
            {{#each wearables as |item key|}}
                <li class="item flexrow grid grid-3col" data-item-id="{{item._id}}">
                    <div class="item-name grid-span-2">
                        <div class="item-image">
                            <a class="item-edit hover-red" data-item-id='{{item._id}}'>
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            </a>
                        </div>
                        <label>{{item.name}}</label>
                    </div>
                    <div class="item-controls">
                        {{#if (eq item.system.misc.slot.value "clothes")}}
                            <a class="item-control item-toggle" data-tooltip='Reloadable'>
                                <i class="fas fa-shirt-long-sleeve {{#unless item.system.isEquipped}}item-inactive{{/unless}}"></i>
                            </a>
                        {{else if (eq item.system.misc.slot.value "armor")}}
                            <a class="item-control item-toggle" data-tooltip='Reloadable'>
                                <i class="fas fa-helmet-battle {{#unless item.system.isEquipped}}item-inactive{{/unless}}"></i>
                            </a>
                        {{else if (eq item.system.misc.slot.value "ring")}}
                            <a class="item-control item-toggle" data-tooltip='Reloadable'>
                                <i class="fas fa-ring {{#unless item.system.isEquipped}}item-inactive{{/unless}}"></i>
                            </a>
                        {{else if (eq item.system.misc.slot.value "amulet")}}
                            <a class="item-control item-toggle" data-tooltip='Reloadable'>
                                <i class="fas fa-gem {{#unless item.system.isEquipped}}item-inactive{{/unless}}"></i>
                            </a>
                        {{else}}
                            <a class="item-control item-toggle" data-tooltip='{{localize "PL1E.Equip"}}'>
                                <i class="fas fa-clothes-hanger {{#unless item.system.isEquipped}}item-inactive{{/unless}}"></i>
                            </a>
                        {{/if}}
                        <a class="item-control item-delete" data-item-id="{{item._id}}" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            <li class="item flexrow items-header">
                <div class="item-name">{{localize "PL1E.Consumable"}}</div>
            </li>
            {{#each consumables as |item key|}}
                <li class="item flexrow grid grid-3col" data-item-id="{{item._id}}">
                    <div class="item-name grid-span-2">
                        <div class="item-image">
                            <a class="item-edit hover-red" data-item-id='{{item._id}}'>
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            </a>
                        </div>
                        <label>{{item.name}}</label>
                    </div>
                    <div class="item-controls">
                        {{#if (eq item.system.attributes.uses.value item.system.removedUses)}}
                            {{#if item.system.attributes.reloadable.value}}
                                <a class="item-control consumable-reload" data-tooltip='{{localize "PL1E.Reload"}}'>
                                    <i class="fas fa-repeat"></i>
                                </a>
                            {{/if}}
                        {{/if}}
                        {{#if (ne item.system.attributes.uses.value item.system.removedUses)}}
                            <a class="item-control item-toggle" data-tooltip='{{localize "PL1E.Use"}}'>
                                <i class="fas fa-gear"></i>
                            </a>
                        {{/if}}
                        <a class="item-control item-delete" data-item-id="{{item._id}}" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            {{#each effects as |section sid|}}
                <li class="item items-header flexrow" data-effect-type="{{section.type}}">
                    <label class="item-name flexrow">{{localize section.label}}</label>
                    <label>Source</label>
                    <label>Duration</label>
                </li>
                <ol class="item-list">
                    {{#each section.effects as |effect|}}
                        <li class="item flexrow" data-effect-id="{{effect.id}}">
                            <div class="item-name flexrow">
                                <img class="item-image" src="{{effect.icon}}"/>
                                <h4>{{effect.label}}</h4>
                            </div>
                            <label>{{effect.sourceName}}</label>
                            <label>{{effect.duration.label}}</label>
                            <div class="item-controls effect-controls flexrow">
                                <a class="effect-control" data-action="toggle" title="{{localize 'PL1E.EffectToggle'}}">
                                    <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                                </a>
                                <a class="effect-control" data-action="edit" title="{{localize 'PL1E.EffectEdit'}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="effect-control" data-action="delete" title="{{localize 'PL1E.EffectDelete'}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            {{/each}}
        </ol>
    </div>
    <!-- Right column -->
    <div class="attributes scroll-auto grid-span-3">
        <fieldset>
            <legend class="section-header">{{localize "PL1E.General"}}</legend>
            <div class="form-group attribute">
                <select name="system.misc.NPCTemplate">
                    {{selectOptionsWithLabel (config "NPCTemplates") selected=system.misc.NPCTemplate localize=true}}
                </select>
            </div>
            <div class="form-group attribute">
                <select name="system.misc.experienceTemplate">
                    {{selectOptionsWithLabel (config "experienceTemplates") selected=system.misc.experienceTemplate localize=true}}
                </select>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Slots"}}</label>
                <label class="align-right">{{system.misc.slots}}</label>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Ranks"}}</label>
                <label class="align-right">{{system.misc.ranks}}</label>
            </div>
        </fieldset>
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Base"}}</legend>
            <div class="form-group attribute">
                <label>{{localize "PL1E.Size"}}</label>
                <label class="align-right">{{localize (configEntryLabel "sizes" system.misc.size)}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.Speed"}}</label>
                <label class="align-right">{{system.misc.speed}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.Initiative"}}</label>
                <label class="align-right">{{system.misc.initiative}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.DodgeBonuses"}}</label>
                <label class="align-right">{{system.misc.dodgeBonuses}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.ParryBonuses"}}</label>
                <label class="align-right">{{system.misc.parryBonuses}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.MovementPenalty"}}</label>
                <label class="align-right">{{system.misc.movementPenalty}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.NightVision"}}</label>
                <label class="align-right">{{system.misc.nightVision}}</label>
            </div>
        </fieldset>
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Reduction"}}</legend>
            <div class="form-group attribute">
                <label>{{localize "PL1E.SlashingReduction"}}</label>
                <label class="align-right">{{system.misc.slashingReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.CrushingReduction"}}</label>
                <label class="align-right">{{system.misc.crushingReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.PiercingReduction"}}</label>
                <label class="align-right">{{system.misc.piercingReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.BurnReduction"}}</label>
                <label class="align-right">{{system.misc.burnReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.ColdReduction"}}</label>
                <label class="align-right">{{system.misc.coldReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.AcidReduction"}}</label>
                <label class="align-right">{{system.misc.acidReduction}}</label>
            </div>
            <div class="form-group attribute">
                <label>{{localize "PL1E.ShockReduction"}}</label>
                <label class="align-right">{{system.misc.shockReduction}}</label>
            </div>
        </fieldset>
    </div>
</section>