<section class="scroll-hidden grid grid-8col">
    <!-- Left column -->
    <div class="grid-span-2">
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Skills"}}</legend>
            <ul class="skills">
                <!-- Listing defenses, resistances and skills -->
                {{#each system.skills}}
                    {{#with (configEntry "skills" @key)}}
                        <li class="skill grid grid-6col">
                            <i class="skill-roll grid-span-2 fas fa-dice-d{{../dice}} hover-red rollable{{#if (gt ../diceMod 0)}}color-green{{/if}} {{#if (lt ../diceMod 0)}}color-red{{/if}}"
                               data-roll="{{../number}}d{{../dice}}xo{{../dice}}cs>=4" data-label="{{label}}">
                                <label class="{{#if (gt ../numberMod 0)}}color-green{{/if}}
                                    {{#if (lt ../numberMod 0)}}color-red{{/if}}
                                    {{#if (eq ../numberMod 0)}}color-black{{/if}}">{{../number}}</label>
                            </i>
                            <label class="skill-label grid-span-4 align-left">{{localize label}}</label>
                        </li>
                    {{/with}}
                {{/each}}
            </ul>
        </fieldset>
    </div>
    <!-- Middle column -->
    <div class="scroll-auto grid-span-3">
        <ol class="items-list">
            <li class="item items-header flexrow">
                <div class="item-name">{{localize "PL1E.Traits"}}</div>
            </li>
            {{#each features}}
                <li class="item flexrow" data-item-id="{{@key}}">
                    <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                    <label class="item-name">{{name}}</label>
                    <div class="item-controls">
                        {{#if (eq system.childId undefined)}}
                            <a class="item-control item-delete" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                        {{/if}}
                    </div>
                </li>
            {{/each}}
            {{#each abilities as |abilities level|}}
                <li class="item items-header flexrow">
                    <div class="item-name">{{localize "PL1E.AbilitiesLevel"}} {{level}}</div>
                </li>
                {{#each abilities}}
                    <li class="item flexrow" data-item-id="{{@key}}">
                        <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                        <label class="item-name">{{name}}</label>
                        <div class="item-controls">
                            {{#if system.isMemorized}}
                                <a class="item-control item-use" data-tooltip='{{localize "PL1E.Use"}}'><i class="fas fa-dice-d20"></i></a>
                                <a class="item-control item-toggle" data-tooltip='{{localize "PL1E.Memorize"}}'><i class="fas fa-book"></i></a>
                            {{else}}
                                <a class="item-control icon-inactive item-toggle" data-tooltip='{{localize "PL1E.Memorize"}}'><i class="fas fa-book"></i></a>
                            {{/if}}
                            {{#if (eq system.childId undefined)}}
                                <a class="item-control item-delete" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            {{/each}}
            <li class="item flexrow items-header">
                <div class="item-name">{{localize "PL1E.Weapon"}}</div>
            </li>
            {{#each weapons}}
                <li class="item flexrow" data-item-id="{{@key}}">
                    <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                    <label class="item-name">{{name}}</label>
                    <div class="item-controls">
                        <a class="item-control item-toggle" data-main='false' data-tooltip='{{localize "PL1E.EquipSecondary"}}'>
                            <i class="fas fa-hand icon-flipped {{#unless system.isEquippedSecondary}}icon-inactive{{/unless}}"></i>
                        </a>
                        <a class="item-control item-toggle" data-main='true' data-tooltip='{{localize "PL1E.EquipMain"}}'>
                            <i class="fas fa-hand {{#unless system.isEquippedMain}}icon-inactive{{/unless}}"></i>
                        </a>
                        <a class="item-control item-delete" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            <li class="item flexrow items-header">
                <div class="item-name">{{localize "PL1E.Wearable"}}</div>
            </li>
            {{#each wearables}}
                <li class="item flexrow" data-item-id="{{@key}}">
                    <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                    <label class="item-name">{{name}}</label>
                    <div class="item-controls">
                        {{#if (eq system.attributes.slot.value "clothes")}}
                            <a class="item-control item-toggle" data-tooltip='Reloadable'>
                                <i class="fas fa-shirt-long-sleeve {{#unless system.isEquipped}}icon-inactive{{/unless}}"></i>
                            </a>
                        {{else if (eq system.attributes.slot.value "armor")}}
                            <a class="item-control item-toggle" data-tooltip='Reloadable'>
                                <i class="fas fa-helmet-battle {{#unless system.isEquipped}}icon-inactive{{/unless}}"></i>
                            </a>
                        {{else if (eq system.attributes.slot.value "ring")}}
                            <a class="item-control item-toggle" data-tooltip='Reloadable'>
                                <i class="fas fa-ring {{#unless system.isEquipped}}icon-inactive{{/unless}}"></i>
                            </a>
                        {{else if (eq system.attributes.slot.value "amulet")}}
                            <a class="item-control item-toggle" data-tooltip='Reloadable'>
                                <i class="fas fa-gem {{#unless system.isEquipped}}icon-inactive{{/unless}}"></i>
                            </a>
                        {{else}}
                            <a class="item-control item-toggle" data-tooltip='{{localize "PL1E.Equip"}}'>
                                <i class="fas fa-clothes-hanger {{#unless system.isEquipped}}icon-inactive{{/unless}}"></i>
                            </a>
                        {{/if}}
                        <a class="item-control item-delete" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            <li class="item flexrow items-header">
                <div class="item-name">{{localize "PL1E.Consumable"}}</div>
            </li>
            {{#each consumables}}
                <li class="item flexrow" data-item-id="{{@key}}">
                    <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                    <label class="item-name">{{system.units}}x {{name}}</label>
                    <div class="item-controls">
                        {{#if (eq system.attributes.uses.value system.removedUses)}}
                            {{#if system.attributes.isReloadable.value}}
                                <a class="item-control consumable-reload" data-tooltip='{{localize "PL1E.Reload"}}'>
                                    <i class="fas fa-repeat"></i>
                                </a>
                            {{/if}}
                        {{/if}}
                        {{#if (ne system.attributes.uses.value system.removedUses)}}
                            <a class="item-control item-toggle" data-tooltip='{{localize "PL1E.Use"}}'>
                                <i class="fas fa-gear"></i>
                            </a>
                        {{/if}}
                        <a class="item-control item-delete" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            {{#each effects}}
                <li class="item items-header flexrow" data-effect-type="{{type}}">
                    <label class="item-name flexrow">{{localize label}}</label>
                    <label>Source</label>
                    <label>Duration</label>
                </li>
                <ol class="item-list">
                    {{#each effects}}
                        <li class="item flexrow" data-effect-id="{{id}}">
                            <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                            <label class="item-name">{{name}}</label>
                            <label>{{sourceName}}</label>
                            <label>{{duration.label}}</label>
                            <div class="item-controls effect-controls flexrow">
                                <a class="effect-control" data-action="toggle" title="{{localize 'PL1E.EffectToggle'}}">
                                    <i class="fas {{#if disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                                </a>
                                <a class="effect-control" data-action="edit" title="{{localize 'PL1E.EffectEdit'}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="effect-control" data-action="delete" title="{{localize 'PL1E.EffectDelete'}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            {{/each}}
        </ol>
    </div>
    <!-- Right column -->
    <div class="attributes scroll-auto grid-span-3">
        <fieldset>
            <legend class="section-header">{{localize "PL1E.General"}}</legend>
            <div class="form-group attribute">
                <select name="system.general.NPCTemplate">
                    {{selectOptionsWithLabel (config "NPCTemplates") selected=system.general.NPCTemplate localize=true}}
                </select>
            </div>
            <div class="form-group attribute">
                <select name="system.general.experienceTemplate">
                    {{selectOptionsWithLabel (config "experienceTemplates") selected=system.general.experienceTemplate localize=true}}
                </select>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Slots"}}</label>
                <label class="align-right">{{system.general.slots}}</label>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Ranks"}}</label>
                <label class="align-right">{{system.general.ranks}}</label>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.MaxRank"}}</label>
                {{#if (eq system.general.maxRank 1)}}
                    <i class="far fa-circle-1 fa-lg align-right"></i>
                {{else if (eq system.general.maxRank 2)}}
                    <i class="far fa-circle-2 fa-lg align-right"></i>
                {{else if (eq system.general.maxRank 3)}}
                    <i class="far fa-circle-3 fa-lg align-right"></i>
                {{else if (eq system.general.maxRank 4)}}
                    <i class="far fa-circle-4 fa-lg align-right"></i>
                {{else if (eq system.general.maxRank 5)}}
                    <i class="far fa-circle-5 fa-lg align-right"></i>
                {{/if}}
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Bonuses"}}</label>
                <div class="form-group">
                    {{rangePicker name="system.general.bonuses" value=system.general.bonuses min=-2 max=2 step=1}}
                </div>
            </div>
            <div class="form-group grid grid-2col attribute">
                <label>{{localize "PL1E.Advantages"}}</label>
                <div class="form-group">
                    {{rangePicker name="system.general.advantages" value=system.general.advantages min=-2 max=2 step=1}}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Misc"}}</legend>
            {{#each system.misc}}
                {{#with (configEntry "misc" @key)}}
                    <div class="form-group attribute">
                        <label>{{localize label}}</label>
                        {{#if (eq type "select")}}
                            <label class="align-right">{{localize (configEntryLabel select ../this)}}</label>
                        {{/if}}
                        {{#if (eq type "number")}}
                            <label class="align-right">{{../this}}</label>
                        {{/if}}
                    </div>
                {{/with}}
            {{/each}}
        </fieldset>
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Reduction"}}</legend>
            {{#each system.reductions}}
                {{#with (configEntry "reductions" @key)}}
                    <div class="form-group attribute">
                        <label>{{localize label}}</label>
                        <label class="align-right">{{../this}}</label>
                    </div>
                {{/with}}
            {{/each}}
        </fieldset>
    </div>
</section>