<div class="characteristics">
    {{#each system.characteristics}}
        {{#with (config "characteristics" @key)}}
            {{#if (or (eq @key "strength") (eq @key "agility") (eq @key "constitution") (eq @key "perception"))}}
                <div class="characteristic" data-characteristic-id="{{@key}}">
                    <h4 class="characteristic-label highlight-link hover-info" data-resources="{{weights.resources}}"
                        data-skills="{{weights.skills}}" data-tooltip="{{localize label}}">{{localize short}}</h4>
                    <input type="number" min="2" max="5" step="1" oninput="this.value = Math.min(5, Math.max(2, this.value))"
                           name="system.characteristics.{{@key}}.base" value="{{../base}}" {{#if ../../system.general.autoDistribute}}disabled{{/if}}/>
                    <span class="mod {{#if (gt ../mod 0)}}color-bonus{{/if}} {{#if (lt ../mod 0)}}color-malus{{/if}}">
                        {{numberFormat ../mod decimals=0 sign=true}}
                    </span>
                </div>
            {{/if}}
        {{/with}}
    {{/each}}
    <i class="fas fa-b group-icon hover-info" data-tooltip="{{localize "PL1E.Body"}}"></i>
</div>
<div class="characteristics">
    <i class="fas fa-m group-icon hover-info" data-tooltip="{{localize "PL1E.Mind"}}"></i>
    {{#each system.characteristics}}
        {{#with (config "characteristics" @key)}}
            {{#if (or (eq @key "intellect") (eq @key "cunning") (eq @key "wisdom") (eq @key "will"))}}
                <div class="characteristic" data-characteristic-id="{{@key}}">
                    <h4 class="characteristic-label highlight-link hover-info" data-resources="{{weights.resources}}"
                        data-skills="{{weights.skills}}" data-tooltip="{{localize label}}">{{localize short}}</h4>
                    <input type="number" min="2" max="5" step="1" oninput="this.value = Math.min(5, Math.max(2, this.value))"
                           name="system.characteristics.{{@key}}.base" value="{{../base}}" {{#if ../../system.general.lockedStats}}disabled{{/if}}/>
                    <span class="mod {{#if (gt ../mod 0)}}color-bonus{{/if}} {{#if (lt ../mod 0)}}color-malus{{/if}}">
                        {{numberFormat ../mod decimals=0 sign=true}}
                    </span>
                </div>
            {{/if}}
        {{/with}}
    {{/each}}
</div>
