<fieldset>
    <legend class="section-header">{{localize "PL1E.Misc"}}</legend>
    {{#each system.misc}}
        {{#with (configEntry "misc" @key)}}
            {{#unless hidden}}
                <div class="form-group">
                    <label>{{localize label}}</label>
                    <div class="form-fields">
                        {{#if (eq type "array")}}
                            <ul class="align-right">
                                {{#each ../this}}
                                    <li class="tag {{this}}">{{localize (configEntry ../select this)}}</li>
                                {{/each}}
                            </ul>
                        {{else if (eq type "select")}}
                            <label class="align-right">{{localize (configEntryLabel select ../this)}}</label>
                        {{else if (eq type "number")}}
                            <label class="align-right">{{../this}}</label>
                        {{else if (eq type "bool")}}
                            <label class="align-right">{{#if ../this}}{{localize "PL1E.Yes"}}{{else}}{{localize "PL1E.No"}}{{/if}}</label>
                        {{/if}}
                    </div>
                </div>
            {{/unless}}
        {{/with}}
    {{/each}}
</fieldset>