<ol class="items-list">
    <li class="items-header grid grid-12col">
        <div class="item-title grid-span-4 flexrow">
            <label class="item-name">{{localize "PL1E.Traits"}}</label>
        </div>
        <ul class="item-filter-list grid-span-8" data-filter="features">
            {{#each (config "featureTypes")}}
                <li class="item-filter" data-filter="{{@key}}">{{localize this}}</li>
            {{/each}}
        </ul>
    </li>
    {{#each features}}
        <li class="item" data-item-id="{{_id}}">
            <div class="item-content grid grid-12col">
                <div class="item-title grid-span-4 flexrow">
                    <img class="item-image item-edit hover-action" src="{{img}}" title="{{name}}" width="24" height="24"/>
                    <label class="item-name item-tooltip-activate">{{name}}</label>
                </div>
                <div class="item-icons grid-span-6">
                    <i class="item-info far fa-receipt hover-info" data-tooltip="{{localize "PL1E.Points"}}">
                        <label>{{formatNumber system.attributes.points sign=true}}</label>
                    </i>
                </div>
                <div class="item-controls grid-span-2">
                    {{#if @root.actor.isOwner}}
                        {{#if flags.pl1e.childId}}
                            <a class="item-control item-link" data-tooltip='{{localize "PL1E.Link"}}'><i class="fas fa-link"></i></a>
                        {{else}}
                            <a class="item-control item-remove" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div class="item-tooltip">{{{enriched}}}</div>
        </li>
    {{/each}}
</ol>