<ol class="items-list">
    <li class="items-header grid grid-12col">
        <div class="item-title grid-span-4 flexrow">
            <label class="item-name">{{localize "PL1E.Consumables"}}</label>
        </div>
        <ul class="item-filter-list grid-span-8" data-filter="consumables">
            <li class="item-filter" data-filter="action">{{localize "PL1E.Action"}}</li>
            <li class="item-filter" data-filter="quickAction">{{localize "PL1E.QuickAction"}}</li>
            <li class="item-filter" data-filter="outOfCombat">{{localize "PL1E.OutOfCombat"}}</li>
        </ul>
    </li>
    {{#each consumables}}
        <li class="item" data-item-id="{{_id}}">
            <div class="item-content grid grid-12col">
                <div class="item-title grid-span-4 flexrow">
                    <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                    <label class="item-name item-tooltip-activate">
                        {{#if ../system.general.unlimitedItems}}
                            {{name}}
                        {{else}}
                            {{system.units}}x {{name}}
                        {{/if}}
                    </label>
                </div>
                <div class="item-icons grid-span-6">
                    {{#if (ne system.attributes.actionCost 0)}}
                        <i class="item-info far fa-clock hover-green" data-tooltip='{{localize "PL1E.ActionCost"}}'>
                            <label>{{system.attributes.actionCost}}</label>
                        </i>
                    {{/if}}
                    {{#if (ne system.attributes.reactionCost 0)}}
                        <i class="item-info far fa-reply-clock hover-green" data-tooltip='{{localize "PL1E.ReactionCost"}}'>
                            <label>{{system.attributes.reactionCost}}</label>
                        </i>
                    {{/if}}
                    {{#if (ne system.attributes.quickActionCost 0)}}
                        <i class="item-info far fa-bell hover-green" data-tooltip='{{localize "PL1E.QuickActionCost"}}'>
                            <label>{{system.attributes.quickActionCost}}</label>
                        </i>
                    {{/if}}
                    {{#if (ne system.attributes.healthCost 0)}}
                        <i class="item-info far fa-heart hover-green" data-tooltip='{{localize "PL1E.HealthCost"}}'>
                            <label>{{system.attributes.healthCost}}</label>
                        </i>
                    {{/if}}
                    {{#if (ne system.attributes.staminaCost 0)}}
                        <i class="item-info far fa-wave-pulse hover-green" data-tooltip="{{localize "PL1E.StaminaCost"}}">
                            <label>{{system.attributes.staminaCost}}</label>
                        </i>
                    {{/if}}
                    {{#if (ne system.attributes.manaCost 0)}}
                        <i class="item-info far fa-sparkles hover-green" data-tooltip='{{localize "PL1E.ManaCost"}}'>
                            <label>{{system.attributes.manaCost}}</label>
                        </i>
                    {{/if}}
                    {{#if (ne system.attributes.usageCost 0)}}
                        <i class="item-info far fa-tally hover-green" data-tooltip='{{localize "PL1E.UsageCost"}}'>
                            <label>{{system.attributes.usageCost}}</label>
                        </i>
                    {{/if}}
                    {{#if system.attributes.isMajorAction}}
                        <i class="item-info far fa-star hover-green" data-tooltip='{{localize "PL1E.IsMajorAction"}}'></i>
                    {{/if}}
                    {{#if system.attributes.isDangerous}}
                        <i class="item-info far fa-skull-crossbones hover-green" data-tooltip='{{localize "PL1E.IsDangerous"}}'></i>
                    {{/if}}
                    {{#if (gt system.attributes.uses 0)}}
                        {{#if (eq system.removedUses 0)}}
                            <i class="item-info far fa-battery-full hover-green" data-tooltip='{{localize "PL1E.Uses"}}'>
                                <label>{{minus system.attributes.uses system.removedUses}}</label>
                            </i>
                        {{else if (eq system.removedUses system.attributes.uses)}}
                            <i class="item-info far fa-battery-empty hover-green" data-tooltip='{{localize "PL1E.Uses"}}'>
                                <label>{{minus system.attributes.uses system.removedUses}}</label>
                            </i>
                        {{else}}
                            <i class="item-info far fa-battery-half hover-green" data-tooltip='{{localize "PL1E.Uses"}}'>
                                <label>{{minus system.attributes.uses system.removedUses}}</label>
                            </i>
                        {{/if}}
                        {{#if system.attributes.isReloadable}}
                            <i class="item-info far fa-repeat hover-green" data-tooltip='{{localize "PL1E.Reloadable"}}'></i>
                        {{/if}}
                    {{/if}}
                    {{#if (eq @root.actor.type "character")}}
                        {{#if (gt system.attributes.goldPrice 0)}}
                            <i class="item-info far fa-coins color-gold hover-green" data-tooltip='{{localize "PL1E.Gold"}}'>
                                <label class="color-black">{{system.attributes.goldPrice}}</label>
                            </i>
                        {{/if}}
                        {{#if (gt system.attributes.silverPrice 0)}}
                            <i class="item-info far fa-coins color-silver hover-green" data-tooltip='{{localize "PL1E.Silver"}}'>
                                <label class="color-black">{{system.attributes.silverPrice}}</label>
                            </i>
                        {{/if}}
                        {{#if (gt system.attributes.copperPrice 0)}}
                            <i class="item-info far fa-coins color-copper hover-green" data-tooltip='{{localize "PL1E.Copper"}}'>
                                <label class="color-black">{{system.attributes.copperPrice}}</label>
                            </i>
                        {{/if}}
                    {{else if (eq @root.actor.type "merchant")}}
                        {{#with (lookup ../system.merchantPrices _id)}}
                            {{#if (gt gold 0)}}
                                <i class="item-info far fa-coins color-gold hover-green" data-tooltip='{{localize "PL1E.Gold"}}'>
                                    <label class="color-black">{{gold}}</label>
                                </i>
                            {{/if}}
                            {{#if (gt silver 0)}}
                                <i class="item-info far fa-coins color-silver hover-green" data-tooltip='{{localize "PL1E.Silver"}}'>
                                    <label class="color-black">{{silver}}</label>
                                </i>
                            {{/if}}
                            {{#if (gt copper 0)}}
                                <i class="item-info far fa-coins color-copper hover-green" data-tooltip='{{localize "PL1E.Copper"}}'>
                                    <label class="color-black">{{copper}}</label>
                                </i>
                            {{/if}}
                        {{/with}}
                    {{/if}}
                </div>
                <div class="item-controls grid-span-2">
                    {{#if (or (eq @root.actor.type "character") (eq @root.actor.type "npc"))}}
                        {{#if (and (ne system.removedUses 0) system.attributes.isReloadable)}}
                            <a class="item-control item-reload" data-tooltip='{{localize "PL1E.Reload"}}'>
                                <i class="fas fa-repeat"></i>
                            </a>
                        {{/if}}
                    {{/if}}
                    {{#if (or (eq @root.actor.type "character") (eq @root.actor.type "npc"))}}
                        {{#unless (eq system.attributes.uses system.removedUses)}}
                            <a class="item-control item-use" data-tooltip='{{localize "PL1E.Use"}}'><i class="fas fa-dice-d20"></i></a>
                        {{/unless}}
                    {{/if}}
                    {{#if @root.actor.isOwner}}
                        {{#if flags.pl1e.childId}}
                            <a class="item-control item-link" data-tooltip='{{localize "PL1E.Link"}}'><i class="fas fa-link"></i></a>
                        {{else}}
                            <a class="item-control item-remove" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div class="item-tooltip">{{{enriched}}}</div>
        </li>
    {{/each}}
</ol>