<ol class="items-list">
    <li class="flexrow items-header">
        <div class="item-name">{{localize "PL1E.Consumable"}}</div>
    </li>
    {{#each consumables}}
        <li class="item" data-item-id="{{_id}}" data-item-link-id="{{flags.pl1e.childId}}">
            <div class="flexrow">
                <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                <label class="item-name item-tooltip-activate">{{#unless ../system.general.unlimitedItems}}{{system.units}}x {{/unless}}{{name}}</label>
                <div class="item-icons">
                    {{#unless (eq @root.actor.type "npc")}}
                        {{#if (gt system.attributes.uses 1)}}
                            {{#if (eq system.removedUses 0)}}
                                <i class="item-info fas fa-hourglass-start hover-green" data-tooltip='{{localize "PL1E.Uses"}}'>
                                    <label>{{minus system.attributes.uses system.removedUses}}</label>
                                </i>
                            {{else if (eq system.removedUses system.attributes.uses)}}
                                <i class="item-info fas fa-hourglass-end hover-green" data-tooltip='{{localize "PL1E.Uses"}}'>
                                    <label>{{minus system.attributes.uses system.removedUses}}</label>
                                </i>
                            {{else}}
                                <i class="item-info fas fa-hourglass-half hover-green" data-tooltip='{{localize "PL1E.Uses"}}'>
                                    <label>{{minus system.attributes.uses system.removedUses}}</label>
                                </i>
                            {{/if}}
                            {{#if system.attributes.isReloadable}}
                                <i class="item-info fas fa-repeat hover-green" data-tooltip='{{localize "PL1E.Reloadable"}}'></i>
                            {{/if}}
                        {{/if}}
                        {{#if (ne system.attributes.actionCost 0)}}
                            <i class="item-info fas fa-clock hover-green" data-tooltip='{{localize "PL1E.ActionCost"}}'>
                                <label>{{system.attributes.actionCost}}</label>
                            </i>
                        {{/if}}
                        {{#if (ne system.attributes.reactionCost 0)}}
                            <i class="item-info fas fa-bell hover-green" data-tooltip='{{localize "PL1E.ReactionCost"}}'>
                                <label>{{system.attributes.reactionCost}}</label>
                            </i>
                        {{/if}}
                        {{#if system.attributes.triggerReactions}}
                            <i class="item-info fas fa-skull hover-green" data-tooltip='{{localize "PL1E.TriggerReactions"}}'></i>
                        {{/if}}
                        {{#if (ne system.attributes.range 0)}}
                            <i class="item-info fas fa-bullseye hover-green" data-tooltip='{{localize "PL1E.Range"}}'>
                                <label>{{system.attributes.range}}</label>
                            </i>
                        {{/if}}
                        {{#if (eq system.attributes.areaShape "target")}}
                            <i class="item-info fas fa-crosshairs-simple hover-green" data-tooltip='{{localize "PL1E.Target"}}'>
                                <label>{{#if (eq system.attributes.areaNumberResolutionType "multipliedBySuccess")}}X{{/if}}
                                    {{system.attributes.areaNumber}}</label>
                            </i>
                        {{else if (eq system.attributes.areaShape "circle")}}
                            <i class="item-info fas fa-circle-xmark hover-green" data-tooltip='{{localize "PL1E.Circle"}}'>
                                <label>{{#if (eq system.attributes.areaNumberResolutionType "multipliedBySuccess")}}X{{/if}}
                                    {{system.attributes.areaNumber}}</label>
                            </i>
                        {{else if (eq system.attributes.areaShape "cone")}}
                            <i class="item-info fas fa-triangle hover-green" data-tooltip='{{localize "PL1E.Cone"}}'>
                                <label>{{#if (eq system.attributes.areaNumberResolutionType "multipliedBySuccess")}}X{{/if}}
                                    {{system.attributes.areaNumber}}</label>
                            </i>
                        {{else if (eq system.attributes.areaShape "square")}}
                            <i class="item-info fas fa-square hover-green" data-tooltip='{{localize "PL1E.Square"}}'>
                                <label>{{#if (eq system.attributes.areaNumberResolutionType "multipliedBySuccess")}}X{{/if}}
                                    {{system.attributes.areaNumber}}</label>
                            </i>
                        {{else if (eq system.attributes.areaShape "ray")}}
                            <i class="item-info fas fa-rectangle-vertical hover-green" data-tooltip='{{localize "PL1E.Ray"}}'>
                                <label>{{#if (eq system.attributes.areaNumberResolutionType "multipliedBySuccess")}}x{{/if}}
                                    {{system.attributes.areaNumber}}</label>
                            </i>
                        {{/if}}
                    {{/unless}}
                    {{#if (eq @root.actor.type "character")}}
                        {{#if (gt system.price.gold 0)}}
                            <i class="item-info fas fa-coins color-gold hover-green" data-tooltip='{{localize "PL1E.Gold"}}'>
                                <label class="color-black">{{system.price.gold}}</label>
                            </i>
                        {{/if}}
                        {{#if (gt system.price.silver 0)}}
                            <i class="item-info fas fa-coins color-silver hover-green" data-tooltip='{{localize "PL1E.Silver"}}'>
                                <label class="color-black">{{system.price.silver}}</label>
                            </i>
                        {{/if}}
                        {{#if (gt system.price.copper 0)}}
                            <i class="item-info fas fa-coins color-copper hover-green" data-tooltip='{{localize "PL1E.Copper"}}'>
                                <label class="color-black">{{system.price.copper}}</label>
                            </i>
                        {{/if}}
                    {{else if (eq @root.actor.type "merchant")}}
                        {{#with (lookup ../system.merchantPrices _id)}}
                            {{#if (gt gold 0)}}
                                <i class="item-info fas fa-coins color-gold hover-green" data-tooltip='{{localize "PL1E.Gold"}}'>
                                    <label class="color-black">{{gold}}</label>
                                </i>
                            {{/if}}
                            {{#if (gt silver 0)}}
                                <i class="item-info fas fa-coins color-silver hover-green" data-tooltip='{{localize "PL1E.Silver"}}'>
                                    <label class="color-black">{{silver}}</label>
                                </i>
                            {{/if}}
                            {{#if (gt copper 0)}}
                                <i class="item-info fas fa-coins color-copper hover-green" data-tooltip='{{localize "PL1E.Copper"}}'>
                                    <label class="color-black">{{copper}}</label>
                                </i>
                            {{/if}}
                        {{/with}}
                    {{/if}}
                </div>
                <div class="item-controls">
                    {{#if (eq @root.actor.type "merchant")}}
                        {{#if (eq @root.actor.system.general.buyMultiplier 0)}}
                            <a class="item-control item-buy" data-tooltip='{{localize "PL1E.Take"}}'>
                                <i class="fas fa-hand"></i>
                            </a>
                        {{else}}
                            <a class="item-control item-buy" data-tooltip='{{localize "PL1E.Buy"}}'>
                                <i class="fas fa-coins"></i>
                            </a>
                        {{/if}}
                    {{else if (or (eq @root.actor.type "character") (eq @root.actor.type "npc"))}}
                        {{#if (and (ne system.removedUses 0) system.attributes.isReloadable)}}
                            <a class="item-control item-reload" data-tooltip='{{localize "PL1E.Reload"}}'>
                                <i class="fas fa-repeat"></i>
                            </a>
                        {{/if}}
                        {{#if (ne system.attributes.uses system.removedUses)}}
                            <a class="item-control item-use" data-tooltip='{{localize "PL1E.Use"}}'>
                                <i class="fas fa-flask-round-potion"></i>
                            </a>
                        {{/if}}
                    {{/if}}
                    {{#if @root.actor.isOwner}}
                        {{#if flags.pl1e.childId}}
                            <a class="item-control item-link" data-tooltip='{{localize "PL1E.Link"}}'><i class="fas fa-link"></i></a>
                        {{else}}
                            <a class="item-control item-remove" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div class="item-tooltip">{{{system.description}}}</div>
        </li>
    {{/each}}
</ol>