<ol class="items-list">
    <li class="items-header grid grid-12col">
        <div class="item-title grid-span-4 flexrow">
            <label class="item-name">{{localize "PL1E.Common"}}</label>
        </div>
        <ul class="item-filter-list grid-span-8" data-filter="commons">
            {{#each (config "commonTypes")}}
                <li class="item-filter" data-filter="{{@key}}">{{localize this}}</li>
            {{/each}}
        </ul>
    </li>
    {{#each commons}}
        <li class="item" data-item-id="{{_id}}" data-item-link-id="{{flags.pl1e.childId}}">
            <div class="item-content grid grid-12col">
                <div class="item-title grid-span-4 flexrow">
                    <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                    <label class="item-name item-tooltip-activate">{{system.units}}x {{name}}</label>
                </div>
                <div class="item-icons grid-span-6">
                    {{#unless (eq @root.actor.type "npc")}}
                        {{#if (or (eq system.attributes.commonType "food"))}}
                            <i class="item-info far fa-pot-food hover-green" data-tooltip='{{localize "PL1E.Food"}}'></i>
                            {{#if (ne system.attributes.healthRest 0)}}
                                <i class="item-info far fa-heart hover-green" data-tooltip='{{localize "PL1E.HealthRest"}}'>
                                    <label>{{system.attributes.healthRest}}</label>
                                </i>
                            {{/if}}
                            {{#if (ne system.attributes.staminaRest 0)}}
                                <i class="item-info far fa-wave-pulse hover-green" data-tooltip='{{localize "PL1E.StaminaRest"}}'>
                                    <label>{{system.attributes.staminaRest}}</label>
                                </i>
                            {{/if}}
                            {{#if (ne system.attributes.manaRest 0)}}
                                <i class="item-info far fa-sparkles hover-green" data-tooltip='{{localize "PL1E.ManaRest"}}'>
                                    <label>{{system.attributes.manaRest}}</label>
                                </i>
                            {{/if}}
                        {{else if (eq system.attributes.commonType "drink")}}
                            <i class="item-info far fa-glass hover-green" data-tooltip='{{localize "PL1E.Drink"}}'></i>
                            {{#if (ne system.attributes.healthRest 0)}}
                                <i class="item-info far fa-heart hover-green" data-tooltip='{{localize "PL1E.HealthRest"}}'>
                                    <label>{{system.attributes.healthRest}}</label>
                                </i>
                            {{/if}}
                            {{#if (ne system.attributes.staminaRest 0)}}
                                <i class="item-info far fa-wave-pulse hover-green" data-tooltip='{{localize "PL1E.StaminaRest"}}'>
                                    <label>{{system.attributes.staminaRest}}</label>
                                </i>
                            {{/if}}
                            {{#if (ne system.attributes.manaRest 0)}}
                                <i class="item-info far fa-sparkles hover-green" data-tooltip='{{localize "PL1E.ManaRest"}}'>
                                    <label>{{system.attributes.manaRest}}</label>
                                </i>
                            {{/if}}
                        {{/if}}
                    {{/unless}}
                    {{#if (eq @root.actor.type "merchant")}}
                        {{#with (lookup ../system.merchantPrices _id)}}
                            {{#if (gt gold 0)}}
                                <i class="item-info far fa-coins color-gold hover-green" data-tooltip='{{localize "PL1E.Gold"}}'>
                                    <label class="color-black">{{gold}}</label>
                                </i>
                            {{/if}}
                            {{#if (gt silver 0)}}
                                <i class="item-info far fa-coins color-silver hover-green" data-tooltip='{{localize "PL1E.Silver"}}'>
                                    <label class="color-black">{{silver}}</label>
                                </i>
                            {{/if}}
                            {{#if (gt copper 0)}}
                                <i class="item-info far fa-coins color-copper hover-green" data-tooltip='{{localize "PL1E.Copper"}}'>
                                    <label class="color-black">{{copper}}</label>
                                </i>
                            {{/if}}
                        {{/with}}
                    {{/if}}
                </div>
                <div class="item-controls grid-span-2">
                    {{#if (eq @root.actor.type "merchant")}}
                        {{#if (eq @root.actor.system.general.buyMultiplier 0)}}
                            <a class="item-control item-buy" data-tooltip='{{localize "PL1E.Take"}}'>
                                <i class="fas fa-hand"></i>
                            </a>
                        {{else}}
                            <a class="item-control item-buy" data-tooltip='{{localize "PL1E.Buy"}}'>
                                <i class="fas fa-coins"></i>
                            </a>
                        {{/if}}
                    {{/if}}
                    {{#if @root.actor.isOwner}}
                        {{#if flags.pl1e.childId}}
                            <a class="item-control item-link" data-tooltip='{{localize "PL1E.Link"}}'><i class="fas fa-link"></i></a>
                        {{else}}
                            <a class="item-control item-remove" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div class="item-tooltip">{{{enriched}}}</div>
        </li>
    {{/each}}
</ol>