<fieldset>
    <legend class="section-header">{{localize "PL1E.Resistances"}}</legend>
    <ul class="skills">
        <!-- Listing resistances -->
        {{#each system.skills}}
            {{#with (config "skills" @key)}}
                {{#if fixedRank}}
                    <li class="skill grid grid-5col" data-skill-id="{{@key}}">
                        <i class="skill-roll fas fa-dice-d{{../dice}} hover-red
                        {{#if (gt ../diceMod 0)}}color-green
                        {{else if (lt ../diceMod 0)}}color-red
                        {{else}}color-black{{/if}}">
                            <label class="{{#if (gt ../numberMod 0)}}color-green{{else if (lt ../numberMod 0)}}color-red
                            {{else}}color-black{{/if}}">{{../number}}</label>
                        </i>
                        <label class="skill-label {{#if (eq @root.actor.type "character")}}highlight-link hover-green{{/if}} grid-span-3 align-left"
                               data-attributes="{{weights.attributes}}" data-characteristics="{{weights.characteristics}}">
                            {{localize label}}
                        </label>
                        <div class="skill-rank align-right">
                            {{#unless ../usable}}
                                <i class="fas fa-ban fa-lg hover-green" data-tooltip='{{localize "PL1E.Unusable"}}'></i>
                            {{/unless}}
                            {{#if ../implosion}}
                                <i class="fas fa-skull fa-lg hover-green" data-tooltip='{{localize "PL1E.Implosion"}}'></i>
                            {{/if}}
                            {{#if ../explosion}}
                                <i class="fas fa-burst fa-lg hover-green" data-tooltip='{{localize "PL1E.Explosion"}}'></i>
                            {{/if}}
                            <i class="far fa-circle-{{../rank}} fa-lg"></i>
                        </div>
                    </li>
                {{/if}}
            {{/with}}
        {{/each}}
    </ul>
</fieldset>
<fieldset>
    <legend class="section-header">{{localize "PL1E.Skills"}}</legend>
    <ul class="skills">
        <!-- Listing skills -->
        {{#each system.skills}}
            {{#with (config "skills" @key)}}
                {{#unless fixedRank}}
                    <li class="skill grid grid-5col" data-skill-id="{{@key}}">
                        <i class="skill-roll fas fa-dice-d{{../dice}} hover-red
                        {{#if (gt ../diceMod 0)}}color-green
                        {{else if (lt ../diceMod 0)}}color-red
                        {{else}}color-black{{/if}}">
                            <label class="{{#if (gt ../numberMod 0)}}color-green{{else if (lt ../numberMod 0)}}color-red
                            {{else}}color-black{{/if}}">{{../number}}</label>
                        </i>
                        <label class="skill-label {{#if (eq @root.actor.type "character")}}highlight-link hover-green{{/if}} grid-span-3 align-left"
                               data-attributes="{{weights.attributes}}" data-characteristics="{{weights.characteristics}}">
                            {{localize label}}
                        </label>
                        <div class="skill-rank align-right">
                            {{#unless ../usable}}
                                <i class="fas fa-ban fa-lg hover-green" data-tooltip='{{localize "PL1E.Unusable"}}'></i>
                            {{/unless}}
                            {{#if ../implosion}}
                                <i class="fas fa-skull fa-lg hover-green" data-tooltip='{{localize "PL1E.Implosion"}}'></i>
                            {{/if}}
                            {{#if ../explosion}}
                                <i class="fas fa-burst fa-lg hover-green" data-tooltip='{{localize "PL1E.Explosion"}}'></i>
                            {{/if}}
                            {{#if (and @root.system.general.creationMod (ne @root.type "character"))}}
                                <i class="rank-control fas fa-circle-{{../rank}} fa-lg hover-red" data-skill="{{@key}}"></i>
                            {{/if}}
                        </div>
                    </li>
                {{/unless}}
            {{/with}}
        {{/each}}
    </ul>
</fieldset>