<form class="pl1e {{cssClass}} flexcol" autocomplete="off">
    <header>
        <h{{title.level1}}>{{data.name}}</h{{title.level1}}>
    </header>
    {{#if (ne system.banner "")}}
        <img src="{{system.banner}}" alt="{{localize "PL1E.Banner"}}" style="width: 100%">
    {{/if}}
    <table>
        {{#if (ne system.translation "")}}
            <tr>
                <td><strong>{{localize "PL1E.Translation"}}</strong></td>
                <td><p>{{system.translation}}</p></td>
            </tr>
        {{/if}}
        <tr>
            <td><strong>{{localize "PL1E.Type"}}</strong></td>
            <td><p>{{system.type}}</p></td>
        </tr>
        <tr>
            <td><strong>{{localize "PL1E.Climate"}}</strong></td>
            <td><p>{{system.climate}}</p></td>
        </tr>
    </table>
    {{{system.content}}}
</form>