<form class="pl1e {{cssClass}} flexcol" autocomplete="off">
    <header>
        <h{{title.level1}}>{{data.name}}</h{{title.level1}}>
    </header>
    {{#if (ne system.banner "")}}
        <img src="{{system.banner}}" alt="{{localize "PL1E.Banner"}}" style="width: 100%">
    {{/if}}
    <table>
        {{#if (ne system.translation "")}}
            <tr>
                <td><strong>{{localize "PL1E.Translation"}}</strong></td>
                <td><p>{{system.translation}}</p></td>
            </tr>
        {{/if}}
        <tr>
            <td><strong>{{localize "PL1E.Type"}}</strong></td>
            <td><p>{{localize (config "locationTypes" system.type)}}</p></td>
        </tr>
        {{#if (ne system.subType undefined)}}
            <tr>
                <td><strong>{{localize "PL1E.SubType"}}</strong></td>
                <td><p>{{localize (config (concat system.type "Types") system.subType)}}</p></td>
            </tr>
        {{/if}}
        {{#if (ne system.type "area")}}
            <tr>
                <td><strong>{{localize "PL1E.Ruin"}}</strong></td>
                <td><p>
                    {{#if system.ruin}}
                        {{localize "PL1E.Yes"}}
                    {{else}}
                        {{localize "PL1E.No"}}
                    {{/if}}
                </p></td>
            </tr>
        {{/if}}
        {{#if (ne system.type "building")}}
            <tr>
                <td><strong>{{localize "PL1E.Climate"}}</strong></td>
                <td><p>{{localize (config "climates" system.climate)}}</p></td>
            </tr>
        {{/if}}
    </table>
    {{{system.content}}}
</form>