<form class="pl1e {{cssClass}} flexcol" autocomplete="off">
    {{> journalEntryPageHeader}}

    <div class="sheet-body">
        <div class="list-fields">
            <div class="list-header">
                <h4>{{localize "PL1E.MerchantDetails"}}</h4>
            </div>
            <div class="list-column">

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.Banner"}}</label>
                        </div>
                        <div class="fields">
                            <input type="text" name="system.banner" value="{{system.banner}}" />
                            {{filePicker target="system.banner" type="image"}}
                        </div>
                    </div>
                    <p class="field-hint">{{localize "PL1E.DescriptionBanner"}}</p>
                </div>

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.SellMultiplier"}}</label>
                        </div>
                        <div class="fields">
                            <input type="number" name="system.sellMultiplier" value="{{system.sellMultiplier}}" min="0" max="200" data-dtype="Number"/>
                            <span class="unit">%</span>
                        </div>
                    </div>
                    <p class="field-hint">{{localize "PL1E.DescriptionSellMultiplier"}}</p>
                </div>

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.BuyMultiplier"}}</label>
                        </div>
                        <div class="fields">
                            <input type="number" name="system.buyMultiplier" value="{{system.buyMultiplier}}" min="0" max="200" data-dtype="Number"/>
                            <span class="unit">%</span>
                        </div>
                    </div>
                    <p class="field-hint">{{localize "PL1E.DescriptionBuyMultiplier"}}</p>
                </div>

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.RestrictBuybackSameItem"}}</label>
                        </div>
                        <div class="fields">
                            <input type="checkbox" name="system.restrictBuybackSameItem"{{checked system.restrictBuybackSameItem}}/>
                        </div>
                    </div>
                    <p class="field-hint">
                        {{localize "PL1E.MerchantRestrictBuybackSameItem"}}
                    </p>
                </div>

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.DisableItemTooltip"}}</label>
                        </div>
                        <div class="fields">
                            <input type="checkbox" name="system.disableItemTooltip"{{checked system.disableItemTooltip}}/>
                        </div>
                    </div>
                    <p class="field-hint">
                        {{localize "PL1E.DisableItemTooltipHint"}}
                    </p>
                </div>

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.Content"}}</label>
                        </div>
                        <div class="fields">
                            <button type="button" class="launch-text-editor" data-target="text.content">
                                <i class="fas fa-edit"></i> {{localize "PL1E.EditContent"}}
                            </button>
                        </div>
                    </div>
                    <p class="field-hint">{{localize "PL1E.DescriptionContent"}}</p>
                </div>

            </div>
        </div>
    </div>
</form>
