<form class="pl1e {{cssClass}} flexcol" autocomplete="off">
    {{> journalEntryPageHeader}}

    <div class="sheet-body">
        <div class="list-fields">
            <div class="list-header">
                <h4>{{localize "PL1E.MerchantDetails"}}</h4>
            </div>
            <div class="list-column">

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.Banner"}}</label>
                        </div>
                        <div class="fields">
                            <input type="text" name="system.banner" value="{{system.banner}}" />
                            {{filePicker target="system.banner" type="image"}}
                        </div>
                    </div>
                    <p class="field-hint">{{localize "PL1E.DescriptionBanner"}}</p>
                </div>

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.SellMultiplier"}}</label>
                        </div>
                        <div class="fields">
                            <input type="number" name="system.sellMultiplier" value="{{system.sellMultiplier}}" min="0" max="200" data-dtype="Number"/>
                            <span class="unit">%</span>
                        </div>
                    </div>
                    <p class="field-hint">{{localize "PL1E.DescriptionSellMultiplier"}}</p>
                </div>

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.BuyMultiplier"}}</label>
                        </div>
                        <div class="fields">
                            <input type="number" name="system.buyMultiplier" value="{{system.buyMultiplier}}" min="0" max="200" data-dtype="Number"/>
                            <span class="unit">%</span>
                        </div>
                    </div>
                    <p class="field-hint">{{localize "PL1E.DescriptionBuyMultiplier"}}</p>
                </div>

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.BuyMode"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.buyMode">
                                <option value="none" {{#if (eq system.buyMode "none")}}selected{{/if}}>
                                    {{localize "PL1E.BuyModeNone"}}
                                </option>
                                <option value="same-item" {{#if (eq system.buyMode "same-item")}}selected{{/if}}>
                                    {{localize "PL1E.BuyModeSameItem"}}
                                </option>
                                <option value="same-type" {{#if (eq system.buyMode "same-type")}}selected{{/if}}>
                                    {{localize "PL1E.BuyModeSameType"}}
                                </option>
                                <option value="all" {{#if (eq system.buyMode "all")}}selected{{/if}}>
                                    {{localize "PL1E.BuyModeAll"}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <p class="field-hint">
                        {{localize "PL1E.MerchantBuyModeHint"}}
                    </p>
                </div>

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.PrivateItems"}}</label>
                        </div>
                        <div class="fields">
                            <input type="checkbox" name="system.privateItems"{{checked system.privateItems}}/>
                        </div>
                    </div>
                    <p class="field-hint">
                        {{localize "PL1E.PrivateItemsHint"}}
                    </p>
                </div>

                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.Content"}}</label>
                        </div>
                        <div class="fields">
                            <button type="button" class="launch-text-editor" data-target="text.content">
                                <i class="fas fa-edit"></i> {{localize "PL1E.EditContent"}}
                            </button>
                        </div>
                    </div>
                    <p class="field-hint">{{localize "PL1E.DescriptionContent"}}</p>
                </div>

            </div>
        </div>
    </div>
</form>
