<form class="{{cssClass}} flexcol" autocomplete="off">
    {{> journalEntryPageHeader}}

    <div class="form-group">
        <label>{{localize "PL1E.Blazon"}}</label>
        <div class="form-fields">
            <input name="system.blazon" type="text" value="{{system.blazon}}"/>
            {{filePicker target="system.blazon" type="image"}}
        </div>
        <p class="hint">{{localize "PL1E.DescriptionBlazon"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Translation"}}</label>
        <div class="form-fields">
            <input type="text" name="system.translation" value="{{system.translation}}"/>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionTranslation"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Type"}}</label>
        <div class="form-fields">
            <input type="text" name="system.type" value="{{system.type}}"/>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionType"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Culture"}}</label>
        <div class="form-fields">
            <input type="text" name="system.culture" value="{{system.culture}}"/>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionCulture"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Population"}}</label>
        <div class="form-fields">
            <input type="range" name="system.population" min="0" max="9" value="{{system.population}}" oninput="this.nextElementSibling.value = this.value">
            <output>{{system.population}}</output>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionPopulation"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Power"}}</label>
        <div class="form-fields">
            <input type="range" name="system.power" min="0" max="9" value="{{system.power}}" oninput="this.nextElementSibling.value = this.value">
            <output>{{system.power}}</output>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionPower"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Content"}}</label>
        <div class="form-fields">
            <button class="launch-text-editor" data-target="system.content">
                <i class="fas fa-edit"></i> {{localize "PL1E.EditContent"}}
            </button>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionContent"}}</p>
    </div>

</form>
