<form class="{{cssClass}} flexcol" autocomplete="off">
    {{> journalEntryPageHeader}}

    <div class="form-group">
        <label>{{localize "PL1E.Banner"}}</label>
        <div class="form-fields">
            <input name="system.banner" type="text" value="{{system.banner}}"/>
            {{filePicker target="system.banner" type="image"}}
        </div>
        <p class="hint">{{localize "PL1E.DescriptionBanner"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Translation"}}</label>
        <div class="form-fields">
            <input type="text" name="system.translation" value="{{system.translation}}"/>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionTranslation"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Type"}}</label>
        <div class="form-fields">
            <input type="text" name="system.type" value="{{system.type}}"/>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionLocationType"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Culture"}}</label>
        <div class="form-fields">
            <input type="text" name="system.culture" value="{{system.culture}}"/>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionCulture"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Population"}}</label>
        <div class="form-fields">
            <input type="range" name="system.population" min="0" max="9" value="{{system.population}}"
                   oninput="this.nextElementSibling.value = this.value">
            <output>{{system.population}}</output>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionPopulation"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Dangerousness"}}</label>
        <div class="form-fields">
            <input type="range" name="system.dangerousness" min="0" max="9" value="{{system.dangerousness}}"
                   oninput="this.nextElementSibling.value = this.value">
            <output>{{system.dangerousness}}</output>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionDangerousness"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Temperature"}}</label>
        <div class="form-fields">
            <input type="range" name="system.temperature" min="1" max="9" value="{{system.temperature}}"
                   oninput="this.nextElementSibling.value = this.value">
            <output>{{system.temperature}}</output>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionTemperature"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Humidity"}}</label>
        <div class="form-fields">
            <input type="range" name="system.humidity" min="1" max="9" value="{{system.humidity}}"
                   oninput="this.nextElementSibling.value = this.value">
            <output>{{system.humidity}}</output>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionHumidity"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PL1E.Content"}}</label>
        <div class="form-fields">
            <button class="launch-text-editor" data-target="system.content">
                <i class="fas fa-edit"></i> {{localize "PL1E.EditContent"}}
            </button>
        </div>
        <p class="hint">{{localize "PL1E.DescriptionContent"}}</p>
    </div>

</form>
