<form class="pl1e {{cssClass}} flexcol" autocomplete="off">
    <header>
        <h{{title.level1}}>{{data.name}}</h{{title.level1}}>
    </header>
    <section class="journal-page-content flexrow">
        <table class="journal-table">
            {{#if (ne system.translation "")}}
                <tr>
                    <td><strong>{{localize "PL1E.Translation"}}</strong></td>
                    <td><p>{{system.translation}}</p></td>
                </tr>
            {{/if}}
            {{#if (ne system.type "")}}
                <tr>
                    <td><strong>{{localize "PL1E.Type"}}</strong></td>
                    <td><p>{{system.type}}</p></td>
                </tr>
            {{/if}}
            {{#if (ne system.culture "")}}
                <tr>
                    <td><strong>{{localize "PL1E.Culture"}}</strong></td>
                    <td><p>{{system.culture}}</p></td>
                </tr>
            {{/if}}
            {{#if (ne system.religion "")}}
                <tr>
                    <td><strong>{{localize "PL1E.Religion"}}</strong></td>
                    <td><p>{{system.religion}}</p></td>
                </tr>
            {{/if}}
            {{#if (gt system.population 0)}}
                <tr>
                    <td><strong>{{localize "PL1E.Population"}}</strong></td>
                    <td>
                        <p class="flexrow">
                            {{#range 1 9}}
                                {{#if (lte this ../system.population)}}
                                    <i class="fas fa-user"></i>
                                {{else}}
                                    <i class="far fa-user"></i>
                                {{/if}}
                            {{/range}}
                        </p>
                    </td>
                </tr>
            {{/if}}
            {{#if (gt system.power 0)}}
                <tr>
                    <td><strong>{{localize "PL1E.Power"}}</strong></td>
                    <td>
                        <p class="flexrow">
                            {{#range 1 9}}
                                {{#if (lte this ../system.power)}}
                                    <i class="fas fa-star"></i>
                                {{else}}
                                    <i class="far fa-star"></i>
                                {{/if}}
                            {{/range}}
                        </p>
                    </td>
                </tr>
            {{/if}}
        </table>
        {{#if (ne system.blazon "")}}
            <img class="flex-shrink" src="{{system.blazon}}" alt="{{localize "PL1E.Blazon"}}"
                 height="250" width="250">
        {{/if}}
    </section>
    {{{enriched}}}
</form>