<form class="pl1e {{cssClass}} flexcol" autocomplete="off">
    <header class="journal-page-header">
        <h{{title.level1}}>{{data.name}}</h{{title.level1}}>
    </header>
    <section class="journal-page-content flexrow">
        {{#if (ne system.portrait "")}}
            <img class="flex-shrink" src="{{system.portrait}}" alt="{{localize "PL1E.Portrait"}}"
                 height="150" width="150" style="border-style: none">
        {{/if}}
        <table class="journal-table">
            {{#if (ne system.nickname "")}}
                <tr>
                    <td><strong>{{localize "PL1E.Nickname"}}</strong></td>
                    <td><p>{{system.nickname}}</p></td>
                </tr>
            {{/if}}
            {{#if (ne system.race "")}}
                <tr>
                    <td><strong>{{localize "PL1E.Race"}}</strong></td>
                    <td><p>{{system.race}}</p></td>
                </tr>
            {{/if}}
            {{#if (ne system.attributes "")}}
                <tr>
                    <td><strong>{{localize "PL1E.Attributes"}}</strong></td>
                    <td><p>{{system.attributes}}</p></td>
                </tr>
            {{/if}}
        </table>
    </section>
    {{{enriched}}}
</form>