<form class="pl1e {{cssClass}} flexcol" autocomplete="off">
    <header class="journal-page-header">
        <h{{title.level1}}>{{data.name}}</h{{title.level1}}>
    </header>

    <section class="journal-page-content">
        {{#if (ne system.banner "")}}
            <img src="{{system.banner}}" alt="Banner" style="width: 100%">
        {{/if}}

        <p><strong>{{localize "PL1E.MerchantSellRate" sell=actor.system.general.sellMultiplier}}</strong></p>
        <p><strong>{{localize "PL1E.MerchantBuyRate" buy=actor.system.general.buyMultiplier}}</strong></p>

        {{{enriched}}}

        <br>
        <div class="flex-vertical gap-md drop-target"  data-drop-target-uuid="{{document.uuid}}" data-drop-target-type="actor">
            {{#if (ne servicesCount 0)}}
                {{> systems/pl1e/templates/actor/parts/inventory-services.hbs }}
            {{/if}}
            {{#if (ne weaponsCount 0)}}
                {{> systems/pl1e/templates/actor/parts/inventory-weapons.hbs }}
            {{/if}}
            {{#if (ne wearablesCount 0)}}
                {{> systems/pl1e/templates/actor/parts/inventory-wearables.hbs }}
            {{/if}}
            {{#if (ne consumablesCount 0)}}
                {{> systems/pl1e/templates/actor/parts/inventory-consumables.hbs }}
            {{/if}}
            {{#if (ne commonsCount 0)}}
                {{> systems/pl1e/templates/actor/parts/inventory-commons.hbs }}
            {{/if}}
            {{#if (ne modulesCount 0)}}
                {{> systems/pl1e/templates/actor/parts/inventory-modules.hbs }}
            {{/if}}
        </div>
    </section>
</form>