<form class="merchant-sheet {{actor.type}} {{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header color-negative">
        <div class="profile-container">
            <div class="profile-wrapper">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                <img class="profile-frame" src="systems/pl1e/assets/frames/frame-level-1.png"/>
            </div>
        </div>
        <div class="flex-vertical gap-md header-infos">
            <div class="flex-horizontal gap-md flex-shrink">
                <input class="sheet-name" type="text" name="name" value="{{actor.name}}" placeholder="{{localize "PL1E.Name"}}"/>
                <div class="dropdown-icons">
                    <div class="dropdown-button" data-tooltip="{{localize "PL1E.Actions"}}">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="dropdown-content">
                        <i class="fas fa-lock" data-tooltip="{{localize "PL1E.Lock"}}"></i>
                    </div>
                </div>
            </div>
            <div class="sell-bar">
                <div class="infos">
                    <span class="name">{{localize "PL1E.SellMultiplier"}}</span>
                    <input type="number" name="system.general.sellMultiplier" value="{{system.general.sellMultiplier}}" min="0" max="200"/>
                    <span>%</span>
                </div>
                <div class="bar">
                    <div class="fill" style="width: {{system.general.sellMultiplier}}%;"></div>
                </div>
            </div>
            <div class="buy-bar">
                <div class="infos">
                    <span class="name">{{localize "PL1E.BuyMultiplier"}}</span>
                    <input type="number" name="system.general.buyMultiplier" value="{{system.general.buyMultiplier}}" min="0" max="200"/>
                    <span>%</span>
                </div>
                <div class="bar">
                    <div class="fill" style="width: {{system.general.buyMultiplier}}%;"></div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{#if actor.system.haveFeatures}}
            <a class="hover-action enabled-action" data-tab="features">{{localize "PL1E.Features"}}</a>
        {{/if}}
        <a class="hover-action enabled-action" data-tab="items">{{localize "PL1E.Items"}}</a>
        {{#if game.user.isGM}}
            <a class="hover-action enabled-action" data-tab="config">{{localize "PL1E.Configuration"}}</a>
        {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Features Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="features">
            {{> "systems/pl1e/templates/actor/parts/features-background.hbs"}}
            {{> "systems/pl1e/templates/actor/parts/features-features.hbs"}}
        </div>
        {{!-- Items Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="items">
            {{> "systems/pl1e/templates/actor/parts/inventory-weapons.hbs" }}
            {{> "systems/pl1e/templates/actor/parts/inventory-wearables.hbs" }}
            {{> "systems/pl1e/templates/actor/parts/inventory-consumables.hbs" }}
            {{> "systems/pl1e/templates/actor/parts/inventory-commons.hbs" }}
            {{> "systems/pl1e/templates/actor/parts/inventory-modules.hbs" }}
        </div>
        {{!-- Config Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="config">
            {{> "systems/pl1e/templates/actor/parts/config-parameters.hbs" }}
            {{> "systems/pl1e/templates/actor/parts/config-roll-tables.hbs" }}
        </div>
    </section>
</form>
