<form class="character-sheet {{actor.type}} {{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="profile-container">
            <div class="profile-wrapper">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                <img class="profile-frame" src="systems/pl1e/assets/frames/frame-level-{{system.general.level}}.png"/>
                <span class="profile-level">{{system.general.level}}</span>
            </div>
            <div class="xp-bar">
                <div class="bar">
                    <div class="fill" style="width: {{system.general.levelProgression}}%;"></div>
                </div>
                <div class="modifiers">
                    <button class="spin-number hover-action" type="button" data-path="system.general.experience" data-value="-1" data-min="0">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input type="text" class="color-negative" value="{{system.general.experience}}/{{system.general.experienceNeeded}}" readonly />
                    <button class="spin-number hover-action" type="button" data-path="system.general.experience" data-value="1" data-max="{{system.general.experienceMax}}">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="flex-vertical gap-md header-infos">
            <div class="flex-horizontal gap-md flex-shrink flex-items-center">
                <input class="sheet-name color-negative" type="text" name="name" value="{{actor.name}}" placeholder="{{localize "PL1E.Name"}}"/>
                <div class="dropdown-icons">
                    <div class="dropdown-button" data-tooltip="{{localize "PL1E.Satiety"}}">
                        {{#if (eq system.general.satiety 2)}}
                            <i class="fas fa-drumstick"></i>
                        {{else if (eq system.general.satiety 1)}}
                            <i class="fas fa-apple-alt"></i>
                        {{else if (eq system.general.satiety 0)}}
                            <i class="fas fa-utensils"></i>
                        {{else if (eq system.general.satiety -1)}}
                            <i class="fas fa-bone color-malus"></i>
                        {{else if (eq system.general.satiety -2)}}
                            <i class="fas fa-skull-crossbones color-malus"></i>
                        {{/if}}
                    </div>
                    <div class="dropdown-content">
                        <i class="set-number" data-path="system.general.satiety" data-value="2">2</i>
                        <i class="set-number" data-path="system.general.satiety" data-value="1">1</i>
                        <i class="set-number" data-path="system.general.satiety" data-value="0">0</i>
                        <i class="set-number" data-path="system.general.satiety" data-value="-1">-1</i>
                        <i class="set-number" data-path="system.general.satiety" data-value="-2">-2</i>
                    </div>
                </div>
                <div class="dropdown-icons">
                    <div class="dropdown-button" data-tooltip="{{localize "PL1E.Tranquility"}}">
                        {{#if (eq system.general.tranquility 2)}}
                            <i class="fas fa-laugh"></i>
                        {{else if (eq system.general.tranquility 1)}}
                            <i class="fas fa-smile"></i>
                        {{else if (eq system.general.tranquility 0)}}
                            <i class="fas fa-meh"></i>
                        {{else if (eq system.general.tranquility -1)}}
                            <i class="fas fa-frown color-malus"></i>
                        {{else if (eq system.general.tranquility -2)}}
                            <i class="fas fa-tired color-malus"></i>
                        {{/if}}
                    </div>
                    <div class="dropdown-content">
                        <i class="set-number" data-path="system.general.tranquility" data-value="2">2</i>
                        <i class="set-number" data-path="system.general.tranquility" data-value="1">1</i>
                        <i class="set-number" data-path="system.general.tranquility" data-value="0">0</i>
                        <i class="set-number" data-path="system.general.tranquility" data-value="-1">-1</i>
                        <i class="set-number" data-path="system.general.tranquility" data-value="-2">-2</i>
                    </div>
                </div>
                <div class="dropdown-icons">
                    <div class="dropdown-button" data-tooltip="{{localize "PL1E.Advantages"}}">
                        {{#if (eq system.general.advantages 2)}}
                            <i class="fas fa-dove color-bonus"></i>
                        {{else if (eq system.general.advantages 1)}}
                            <i class="fas fa-thumbs-up color-bonus"></i>
                        {{else if (eq system.general.advantages 0)}}
                            <i class="fas fa-circle"></i>
                        {{else if (eq system.general.advantages -1)}}
                            <i class="fas fa-thumbs-down color-malus"></i>
                        {{else if (eq system.general.advantages -2)}}
                            <i class="fas fa-crow color-malus"></i>
                        {{/if}}
                    </div>
                    <div class="dropdown-content">
                        <i class="set-number" data-path="system.general.advantages" data-value="2">+2</i>
                        <i class="set-number" data-path="system.general.advantages" data-value="1">+1</i>
                        <i class="set-number" data-path="system.general.advantages" data-value="0">0</i>
                        <i class="set-number" data-path="system.general.advantages" data-value="-1">-1</i>
                        <i class="set-number" data-path="system.general.advantages" data-value="-2">-2</i>
                    </div>
                </div>
                <div class="dropdown-icons">
                    <div class="dropdown-button" data-tooltip="{{localize "PL1E.Destiny"}}">
                        {{#if (eq system.general.destiny 0)}}
                            <i class="fas fa-ban"></i>
                        {{else if (eq system.general.destiny 1)}}
                            <i class="fas fa-dice-one color-bonus"></i>
                        {{else if (eq system.general.destiny 2)}}
                            <i class="fas fa-dice-two color-bonus"></i>
                        {{else if (eq system.general.destiny 3)}}
                            <i class="fas fa-dice-three color-bonus"></i>
                        {{else if (eq system.general.destiny 4)}}
                            <i class="fas fa-dice-four color-bonus"></i>
                        {{else if (eq system.general.destiny 5)}}
                            <i class="fas fa-dice-five color-bonus"></i>
                        {{/if}}
                    </div>
                    <div class="dropdown-content">
                        <i class="fas fa-ban set-number" data-path="system.general.destiny" data-value="0"></i>
                        <i class="fas fa-dice-one set-number" data-path="system.general.destiny" data-value="1"></i>
                        <i class="fas fa-dice-two set-number" data-path="system.general.destiny" data-value="2"></i>
                        <i class="fas fa-dice-three set-number" data-path="system.general.destiny" data-value="3"></i>
                        <i class="fas fa-dice-four set-number" data-path="system.general.destiny" data-value="4"></i>
                        <i class="fas fa-dice-five set-number" data-path="system.general.destiny" data-value="5"></i>
                    </div>
                </div>
                <div class="dropdown-icons">
                    <div class="dropdown-button" data-tooltip="{{localize "PL1E.Actions"}}">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="dropdown-content">
                        {{#if (eq actor.type "character")}}
                            <i class="fas fa-book-open open-journal" data-tooltip="{{localize "PL1E.Journal"}}"></i>
                        {{else if (eq actor.type "npc")}}
                            <i class="fas fa-gear edit-select" data-tooltip="{{localize "PL1E.Templates"}}"
                               data-path="system.general.NPCTemplate" data-options="NPCTemplates"></i>
                        {{/if}}
                        <i class="fas fa-hourglass" data-tooltip="{{localize "PL1E.Ellipse"}}"></i>
                        <i class="fas fa-bed open-rest" data-tooltip="{{localize "PL1E.Rest"}}"></i>
                        <i class="fas fa-exchange" data-tooltip="{{localize "PL1E.Exchange"}}"></i>
                    </div>
                </div>
            </div>
            <div class="flex-vertical gap-md resources">
                {{#each system.resources}}
                    {{#with (config "resources" @key)}}
                        <div class="resource {{@key}}-bar" data-resource-id="{{@key}}">
                            <div class="infos">
                                <span class="resource-name hover-info highlight-link name"
                                      data-characteristics="{{weights.characteristics}}">{{localize label}}</span>
                                <input class="color-negative" type="number" name="system.resources.{{@key}}.value"
                                       value="{{../value}}" max="{{../max}}" data-dtype="Number"/>
                                <span>/</span>
                                <input class="color-negative" type="number" name="system.resources.{{@key}}.max"
                                       value="{{../max}}" data-dtype="Number" disabled/>
                            </div>
                            <div class="bar">
                                <div class="fill {{@key}}" style="width: {{#if (gt ../percentage 0)}}
                                    {{../percentage}}%{{else}}0%{{/if}};"></div>
                            </div>
                        </div>
                    {{/with}}
                {{/each}}
            </div>
            <div class="icons-stats">
                {{#each (config "general")}}
                    {{#if header}}
                        {{#with (lookup ../system.general @key)}}
                            <span class="stat-icon hover-info" data-tooltip="{{localize ../label}}">
                              <i class="far {{../icon}}"></i> {{this}}
                            </span>
                        {{/with}}
                    {{/if}}
                {{/each}}
                {{#each (config "reductions")}}
                    {{#if header}}
                        {{#with (lookup ../system.reductions @key)}}
                            <span class="stat-icon hover-info {{#if (gt this 0)}}color-bonus{{/if}}" data-tooltip="{{localize ../label}}">
                              <i class="far {{../icon}}"></i> {{this}}
                            </span>
                        {{/with}}
                    {{/if}}
                {{/each}}
                {{#each (config "misc")}}
                    {{#if header}}
                        {{#with (lookup ../system.misc @key)}}
                            <span class="stat-icon hover-info" data-tooltip="{{localize ../label}}">
                              <i class="far {{../icon}}"></i> {{this}}
                            </span>
                        {{/with}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="hover-action enabled-action" data-tab="stats">{{localize "PL1E.Stats"}}</a>
        <a class="hover-action enabled-action" data-tab="inventory">{{localize "PL1E.Inventory"}}</a>
        <a class="hover-action enabled-action" data-tab="abilities">{{localize "PL1E.Abilities"}}</a>
        <a class="hover-action enabled-action" data-tab="features">{{localize "PL1E.Features"}}</a>
        <a class="hover-action enabled-action" data-tab="effects">{{localize "PL1E.Effects"}}</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Stats Tab --}}
        <div class="tab" data-group="primary" data-tab="stats">
            <div class="flex-horizontal gap-md">
                {{> "systems/pl1e/templates/actor/parts/stats-characteristics.hbs"}}
            </div>
            <div class="flex-horizontal gap-md scroll-auto-group">
                {{> "systems/pl1e/templates/actor/parts/stats-skills.hbs"}}
                <div class="flex-basic flex-vertical gap-md scroll-auto">
                    {{> "systems/pl1e/templates/actor/parts/inventory-money.hbs" favoriteDisplay=true money=favoritesMoney}}
                    {{> "systems/pl1e/templates/actor/parts/inventory-weapons.hbs" favoriteDisplay=true weapons=favoritesWeapons}}
                    {{> "systems/pl1e/templates/actor/parts/inventory-wearables.hbs" favoriteDisplay=true wearables=favoritesWearables}}
                    {{> "systems/pl1e/templates/actor/parts/abilities.hbs" favoriteDisplay=true abilities=favoritesAbilities}}
                    {{> "systems/pl1e/templates/actor/parts/inventory-consumables.hbs" favoriteDisplay=true consumables=favoritesConsumables}}
                </div>
            </div>
        </div>
        {{!-- Inventory Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="inventory">
            {{> "systems/pl1e/templates/actor/parts/inventory-money.hbs" }}
            {{> "systems/pl1e/templates/actor/parts/inventory-weapons.hbs" }}
            {{> "systems/pl1e/templates/actor/parts/inventory-wearables.hbs" }}
            {{> "systems/pl1e/templates/actor/parts/inventory-consumables.hbs" }}
            {{> "systems/pl1e/templates/actor/parts/inventory-commons.hbs" }}
            {{> "systems/pl1e/templates/actor/parts/inventory-modules.hbs" }}
        </div>
        {{!-- Abilities Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="abilities">
                {{> "systems/pl1e/templates/actor/parts/abilities.hbs" }}
        </div>
        {{!-- Features Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="features">
            {{> "systems/pl1e/templates/actor/parts/features-background.hbs" }}
            {{> "systems/pl1e/templates/actor/parts/features-features.hbs" }}
        </div>
        {{!-- Effects Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="effects">
            {{> "systems/pl1e/templates/actor/parts/effects.hbs" }}
        </div>
    </section>
</form>