<form class="character-sheet {{actor.type}} {{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="profile-container">

            <div class="profile-wrapper">
                <img class="profile-actor" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                <img class="profile-frame" src="systems/pl1e/assets/frames/frame-level-{{system.general.level}}.png"
                     alt="Frame"/>
            </div>

            <div class="xp-container">
                <div class="xp-bar">
                    <div class="xp-fill" style="width: {{system.general.xpPercentage}}%;"></div>
                </div>
                <div class="xp-modifiers">
                    <button class="xp-decrease">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input type="text" class="xp-input" value="10/20" readonly />
                    <button class="xp-increase">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="level-info">
                <span class="level-label">Level {{system.general.level}}</span>
            </div>
        </div>

        <div class="header-infos">
            <input class="sheet-name" type="text" value="{{actor.name}}" placeholder="{{localize "PL1E.Name"}}"/>

            <div class="stats-container">
                {{#each system.resources}}
                    {{#with (config "resources" @key)}}
                        <div class="resource" data-resource-id="{{@key}}">
                            <span class="resource-name">{{localize label}}</span>
                            <input type="number" name="system.resources.{{@key}}.value" value="{{../value}}" max="{{../max}}" data-dtype="Number"/>
                            <div class="stat-bar">
                                <div class="stat-fill {{@key}}" style="width: {{../percentage}}%;"></div>
                            </div>
                            <input type="number" name="system.resources.{{@key}}.max" value="{{../max}}" data-dtype="Number" disabled/>
                        </div>
                    {{/with}}
                {{/each}}
            </div>

            <div class="icons-stats">
                <span class="stat-icon" title="Health"><i class="fas fa-heart"></i> {{system.stats.health}}</span>
                <span class="stat-icon" title="Defense"><i class="fas fa-shield-alt"></i> {{system.stats.defense}}</span>
                <span class="stat-icon" title="Attack"><i class="fas fa-fist-raised"></i> {{system.stats.attack}}</span>
                <!-- Ajoute d'autres icônes si nécessaire -->
            </div>

            <div class="exhaustion-wrap">
                <div class="exhaustion-icon">
                    <i class="far fa-smile"></i> <!-- L'icône principale -->
                </div>
                <ul class="exhaust-level">
                    <li data-elvl="0"><i class="far fa-smile"></i></li>
                    <li data-elvl="1"><i class="far fa-meh"></i></li>
                    <li data-elvl="2"><i class="far fa-frown"></i></li>
                    <li data-elvl="3"><i class="far fa-frown-open"></i></li>
                    <li data-elvl="4"><i class="far fa-tired"></i></li>
                    <li data-elvl="5"><i class="far fa-dizzy"></i></li>
                </ul>
            </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item hover-action enabled-action" data-tab="stats">{{localize "PL1E.Stats"}}</a>
        <a class="item hover-action enabled-action" data-tab="features">{{localize "PL1E.FeaturesAndAbilities"}}</a>
        <a class="item hover-action enabled-action" data-tab="items">{{localize "PL1E.Items"}}</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Stats Tab --}}
        <div class="tab" data-group="primary" data-tab="stats">
            <div class="vertical-content scroll-hidden">
                {{> "systems/pl1e/templates/actor/components/stats-characteristics.hbs"}}
                <div class="horizontal-content flex-shrink">
                    {{> "systems/pl1e/templates/actor/components/stats-skills.hbs"}}
                    {{> "systems/pl1e/templates/actor/components/stats-favorites.hbs"}}
                </div>
            </div>
        </div>
        {{!-- Features Tab --}}
        <div class="tab" data-group="primary" data-tab="features">
            <div class="vertical-content scroll-auto">
                {{> "systems/pl1e/templates/actor/components/features-background-row.hbs" }}
                {{> "systems/pl1e/templates/actor/components/features-features-row.hbs" }}
                {{> "systems/pl1e/templates/actor/components/features-abilities.hbs" }}
                {{> "systems/pl1e/templates/actor/components/features-effects.hbs" }}
            </div>
        </div>
        {{!-- Items Tab --}}
        <div class="tab" data-group="primary" data-tab="items">
            <div class="vertical-content scroll-auto">
                {{> "systems/pl1e/templates/actor/components/items-money.hbs" }}
                {{> "systems/pl1e/templates/actor/components/items-weapons.hbs" }}
                {{> "systems/pl1e/templates/actor/components/items-wearables.hbs" }}
                {{> "systems/pl1e/templates/actor/components/items-consumables.hbs" }}
                {{> "systems/pl1e/templates/actor/components/items-commons.hbs" }}
                {{> "systems/pl1e/templates/actor/components/items-modules.hbs" }}
            </div>
        </div>
    </section>
</form>