<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">

        <img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

        <div class="header-fields">

            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

            <div class="resources grid grid-3col">

                {{#each system.resources as |resource key|}}
                    <div class="resource flex-group-center">
                        <label class="resource-label hover-green" data-id="{{key}}"
                               data-characteristics="{{resource.weights.characteristics}}">{{localize resource.label}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="number" name="{{resource.value}}" value="{{resource.value}}" data-dtype="Number"/>
                            <span> / </span>
                            <input type="number" name="{{resource.max}}" value="{{resource.max}}" data-dtype="Number" disabled/>
                        </div>
                    </div>
                {{/each}}

            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{> "systems/pl1e/templates/actor/parts/npc-stats.hbs"}}

    </section>
</form>

