<form class="pl1e {{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <div class="sheet-header-container">
        {{!-- Sheet Header --}}
        <header class="sheet-header">
            <img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <div class="header-fields">
                <h1 class="sheet-name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PL1E.Name"}}"/></h1>
                <div class="character-stats">
                    {{> "systems/pl1e/templates/actor/components/resources.hbs" resources=system.resources}}
                </div>
            </div>
        </header>
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="stats">{{localize "PL1E.Stats"}}</a>
            <a class="item" data-tab="features">{{localize "PL1E.FeaturesAndAbilities"}}</a>
            <a class="item" data-tab="items">{{localize "PL1E.Items"}}</a>
        </nav>
    </div>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Stats Tab --}}
        <div class="tab stats flexcol" data-group="primary" data-tab="stats">
            {{> "systems/pl1e/templates/actor/parts/character-stats.hbs"}}
        </div>
        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/pl1e/templates/actor/parts/character-features.hbs"}}
        </div>
        {{!-- Items Tab --}}
        <div class="tab items flexcol" data-group="primary" data-tab="items">
            {{> "systems/pl1e/templates/actor/parts/character-items.hbs"}}
        </div>
    </section>
</form>