<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">

    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

    <div class="header-fields">

      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      <div class="resources grid grid-3col">

        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">{{localize "PL1E.Health"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.stamina.value" class="resource-label">{{localize "PL1E.Stamina"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.stamina.value" value="{{system.stamina.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.stamina.max" value="{{system.stamina.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.mana.value" class="resource-label">{{localize "PL1E.Mana"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.mana.value" value="{{system.mana.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.mana.max" value="{{system.mana.max}}" data-dtype="Number"/>
          </div>
        </div>

        <!--<div class="attribute flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.attributes.size" class="attribute-label">{{localize "PL1E.Size"}}</label>
            <input type="text" name="system.attributes.size" value="{{system.attributes.size}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="attribute flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.attributes.speed" class="attribute-label">{{localize "PL1E.Speed"}}</label>
            <input type="text" name="system.attributes.speed" value="{{system.attributes.speed}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="attribute flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.attributes.initiative" class="attribute-label">{{localize "PL1E.Initiative"}}</label>
            <input type="text" name="system.attributes.initiative" value="{{system.attributes.initiative}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="attribute flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.attributes.dodge" class="attribute-label">{{localize "PL1E.Dodge"}}</label>
            <input type="text" name="system.attributes.dodge" value="{{system.attributes.dodge}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="attribute flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.attributes.parry" class="attribute-label">{{localize "PL1E.Parry"}}</label>
            <input type="text" name="system.attributes.parry" value="{{system.attributes.parry}}" data-dtype="Number"/>
          </div>
        </div>-->

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="stats">{{localize "PL1E.Stats"}}</a>
    <a class="item" data-tab="features">{{localize "PL1E.Features"}}</a>
    <a class="item" data-tab="items">{{localize "PL1E.Items"}}</a>
    <a class="item" data-tab="effects">{{localize "PL1E.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Stats Tab --}}
    <div class="tab stats flexcol" data-group="primary" data-tab="stats">
      {{> "systems/pl1e/templates/actor/parts/actor-stats.hbs"}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab features flexcol" data-group="primary" data-tab="features">
      {{> "systems/pl1e/templates/actor/parts/actor-features.hbs"}}
    </div>

    {{!-- Items Tab --}}
    <div class="tab items flexcol" data-group="primary" data-tab="items">
       {{> "systems/pl1e/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/pl1e/templates/actor/parts/actor-effects.hbs"}}
    </div>

    {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
    {{!-- editor system.skills target="system.skills" rollData=rollData button=true owner=owner editable=editable --}}

  </section>
</form>

