<form class="pl1e {{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div class="header-fields">
            <h1 class="sheet-name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PL1E.Name"}}"/></h1>
            {{> "systems/pl1e/templates/actor/components/resources.hbs" resources=system.resources}}
        </div>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab flexcol">
            {{> "systems/pl1e/templates/actor/parts/npc-stats.hbs"}}
        </div>
    </section>
</form>

