<form class="pl1e {{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div class="header-fields">
            <h1 class="sheet-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="resources grid grid-3col">
                {{#each system.resources as |resource key|}}
                    {{#with (configEntry "resources" key) as |resourceConfig|}}
                        <div class="resource box flex-group-center">
                            <label class="resource-label hover-green"  data-resource-id="{{key}}" data-characteristics="{{resourceConfig.weights.characteristics}}">
                                {{localize resourceConfig.label}}
                            </label>
                            <div class="resource-content flexrow flex-center flex-between">
                                <input type="number" name="system.resources.{{key}}.value" value="{{../value}}" max="{{../max}}" data-dtype="Number"/>
                                <span> / </span>
                                <input type="number" name="system.resources.{{key}}.max" value="{{../max}}" data-dtype="Number" disabled/>
                            </div>
                        </div>
                    {{/with}}
                {{/each}}
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="stats">{{localize "PL1E.Stats"}}</a>
        <a class="item" data-tab="features">{{localize "PL1E.Features"}}</a>
        <a class="item" data-tab="items">{{localize "PL1E.Items"}}</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Stats Tab --}}
        <div class="tab stats flexcol" data-group="primary" data-tab="stats">
            {{> "systems/pl1e/templates/actor/parts/character-stats.hbs"}}
        </div>
        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/pl1e/templates/actor/parts/character-features.hbs"}}
        </div>
        {{!-- Items Tab --}}
        <div class="tab items flexcol" data-group="primary" data-tab="items">
            {{> "systems/pl1e/templates/actor/parts/character-items.hbs"}}
        </div>
    </section>
</form>

