<div class="chat-card item-card">
    <header class="card-header flexrow">
        <img class="left-image actor-edit" src="{{targetData.token.actor.img}}" data-token-id="{{targetData.tokenId}}"
             title="{{targetData.token.actor.name}}" width="36" height="36"/>
        <div class="item-effects">
            {{#each targetData.dynamicAttributes as |attribute id|}}
                {{#with (configEntry attribute.dataGroup attribute.data) as |data|}}
                    <i class="{{#if (gt attribute.value 0)}}fas{{else}}far{{/if}} {{data.icon}} hover-green" data-tooltip="{{localize data.label}}">
                        <label>{{formatNumber attribute.value signe=true}}</label>
                    </i>
                {{/with}}
            {{/each}}
        </div>
        <img class="right-image actor-edit" src="{{characterData.token.actor.img}}" data-token-id="{{characterData.tokenId}}"
             title="{{characterData.actor.name}}" width="36" height="36"/>
        <img class="right-image item-edit" src="{{characterData.item.img}}" data-item-id="{{characterData.item._id}}"
             data-token-id="{{characterData.tokenId}}" title="{{characterData.item.name}}" width="36" height="36"/>
    </header>
    <div class="card-content">
        {{#if (ne ../item.system.attributes.targetRoll.value "none")}}
            <!-- Result of the roll -->
            <div class="dice-roll">
                <div class="dice-result">
                    <div class="dice-formula">{{rollData.formula}}</div>
                    <div class="dice-tooltip">
                        {{#each rollData.dice}}
                            <section class="tooltip-part">
                                <div class="dice">
                                    <header class="part-header flexrow">
                                        <span class="part-formula">{{number}}d{{faces}}{{join modifiers ""}}</span>
                                        <span class="part-total">{{total}}</span>
                                    </header>
                                    <ol class="dice-rolls">
                                        {{#each results}}
                                            <li class="roll die d{{faces}} {{#if success}}success{{/if}}
                                                {{#if (eq result faces)}}exploded{{/if}}">{{result}}</li>
                                        {{/each}}
                                    </ol>
                                </div>
                            </section>
                        {{/each}}
                    </div>
                    <h4 class="dice-total {{#if (gt targetData.result 0)}}success{{else}}failure{{/if}}">
                        {{characterData.rollData.total}} - {{targetData.rollData.total}} = {{targetData.result}} {{localize "PL1E.Success"}}
                    </h4>
                </div>
            </div>
        {{/if}}
    </div>
</div>
