<div class="pl1e chat-card item" data-item-id="{{characterData.itemId}}" data-token-id="{{characterData.tokenId}}"
     data-scene-id="{{characterData.sceneId}}">
    <header class="card-header flexrow">
        <img class="token-focus" src="{{targetData.actor.img}}" title="{{targetData.token.name}}"
             data-token-id="{{targetData.tokenId}}"/>
        <div class="flex-large"></div>
        <img class="token-focus" src="{{characterData.actor.img}}" title="{{characterData.token.name}}"/>
        <img class="item-edit" src="{{characterData.item.realImg}}" title="{{characterData.item.realName}}"/>
    </header>
    <div class="card-content">
        {{#if (gt characterData.attributes.oppositeRoll.length 0)}}
            <!-- Result of the roll -->
            <div class="dice-roll">
                <div class="dice-result">
                    <div class="dice-formula">{{rollData.skillName}} : {{rollData.formula}}</div>
                    <div class="dice-tooltip">
                        {{#each rollData.dice}}
                            <section class="tooltip-part">
                                <div class="dice">
                                    <header class="part-header flexrow">
                                        <span class="part-formula">{{number}}d{{faces}}{{join modifiers ""}}</span>
                                        <span class="part-total">{{total}}</span>
                                    </header>
                                    <ol class="dice-rolls">
                                        {{#each results}}
                                            <li class="roll die d{{../faces}} {{#if success}}success{{/if}}
                                                {{#if (eq result ../faces)}}exploded{{/if}}">{{result}}</li>
                                        {{/each}}
                                    </ol>
                                </div>
                            </section>
                        {{/each}}
                    </div>
                    <h6 class="dice-total {{#if (gte targetData.result 0)}}success{{else}}failure{{/if}}">
                        {{characterData.rollData.total}} - {{targetData.rollData.total}} = {{targetData.result}}
                    </h6>
                </div>
            </div>
        {{/if}}
        {{#if (gt targetData.activeAspects.length 0)}}
            <div class="item-effects-target">
                <ul>
                    {{#each targetData.activeAspects}}
                        {{#with (config dataGroup data)}}
                            <li>
                                {{#if (and (eq type "number") (ne ../../this 0))}}
                                    <span>{{localize label}}: {{formatNumber ../value sign=true}}</span>
                                {{else if (eq type "bool")}}
                                    {{#unless (and ../applyIfTrue (not ../value))}}
                                        <span>{{localize label}}</span>
                                    {{/unless}}
                                {{else if (eq type "status")}}
                                    <span>{{localize label}} (Status)</span>
                                {{/if}}
                                {{#if ../effectDuration}}
                                    <span> ({{../effectDuration}} {{localize "PL1E.Turns"}})</span>
                                {{/if}}
                            </li>
                        {{/with}}
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
</div>
