<div class="pl1e chat-card item">
    <header class="card-header flexrow">
        {{#if source.id}}
            <img class="{{#if (eq source.type 'actor')}}actor-edit{{else if (eq source.type 'journal')}}entry-page-edit{{/if}}"
                 src="{{source.img}}" title="{{source.name}}" width="36" height="36" data-{{source.type}}-id="{{source.id}}"/>
        {{/if}}

        <div class="flex-large item-effects-character">
            {{#unless (eq price undefined)}}
                {{#each price}}
                    {{#with (config "money" @key)}}
                        <i class="{{icon}}" data-tooltip='{{localize label}}'>
                            <label class="color-black">{{../this}}</label>
                        </i>
                    {{/with}}
                {{/each}}
            {{/unless}}
        </div>

        {{#if item}}
            <img class="item-edit" src="{{item.img}}" data-item-id="{{item.id}}" title="{{item.name}}" width="36" height="36"/>
        {{/if}}

        {{#if target.id}}
            <img class="{{#if (eq target.type 'actor')}}actor-edit{{else if (eq target.type 'journal')}}entry-page-edit{{/if}}"
                 src="{{target.img}}" title="{{target.name}}" width="36" height="36" data-{{target.type}}-id="{{target.id}}"/>
        {{/if}}
    </header>
</div>
