<div class="chat-card item-card pl1e">
    <header class="card-header flexrow">
        <img class="left-image token-edit" src="{{characterData.token.actor.img}}" data-token-id="{{characterData.tokenId}}"
             data-scene-id="{{characterData.sceneId}}" title="{{characterData.token.name}}" width="36" height="36"/>
        <img class="left-image item-edit" src="{{characterData.item.img}}" data-item-id="{{characterData.item._id}}"
             data-token-id="{{characterData.tokenId}}" title="{{characterData.item.name}}" width="36" height="36"/>
        <div class="item-effects-target">
            {{#each targetData.activeAspects}}
                {{#with (configEntry dataGroup data)}}
                    {{#if (and (eq type "number") (ne ../../this 0))}}
                        <i class="{{#if (gt ../value 0)}}fas{{else}}fas{{/if}} {{icon}} hover-green" data-tooltip="{{localize label}}">
                            <label>{{formatNumber ../value signe=true}}</label>
                        </i>
                    {{else if (eq type "bool")}}
                        {{#unless (and ../applyIfTrue (not ../value))}}
                            <i class="fas {{icon}} hover-green" data-tooltip="{{localize label}}"></i>
                        {{/unless}}
                    {{/if}}
                {{/with}}
            {{/each}}
        </div>
        <img class="right-image token-edit" src="{{targetData.token.actor.img}}" data-token-id="{{targetData.tokenId}}"
             data-scene-id="{{characterData.sceneId}}" title="{{targetData.token.actor.name}}" width="36" height="36"/>
    </header>
    <div class="card-content">
        {{#if (gt characterData.attributes.targetRoll.length 0)}}
            <!-- Result of the roll -->
            <div class="dice-roll">
                <div class="dice-result">
                    <div class="dice-formula">{{rollData.formula}}</div>
                    <div class="dice-tooltip">
                        {{#each rollData.dice}}
                            <section class="tooltip-part">
                                <div class="dice">
                                    <header class="part-header flexrow">
                                        <span class="part-formula">{{number}}d{{faces}}{{join modifiers ""}}</span>
                                        <span class="part-total">{{total}}</span>
                                    </header>
                                    <ol class="dice-rolls">
                                        {{#each results}}
                                            <li class="roll die d{{../faces}} {{#if success}}success{{/if}}
                                                {{#if (eq result ../faces)}}exploded{{/if}}">{{result}}</li>
                                        {{/each}}
                                    </ol>
                                </div>
                            </section>
                        {{/each}}
                    </div>
                    <h4 class="dice-total {{#if (gt targetData.result 0)}}success{{else}}failure{{/if}}">
                        {{characterData.rollData.total}} - {{targetData.rollData.total}} = {{targetData.result}} {{localize "PL1E.Success"}}
                    </h4>
                </div>
            </div>
        {{/if}}
    </div>
</div>
