<div class="chat-card item-card">
    <header class="card-header flexrow">
        <img class="left-image token-edit" src="{{actor.img}}" data-actor-id="{{actor._id}}"
             title="{{actor.name}}" width="36" height="36"/>
        <div class="item-effects-character">
            <i class="far fa-clock hover-green" data-tooltip="{{localize "PL1E.ActionCost"}}">
                <label>-1</label>
            </i>
        </div>
        <img class="right-image item-edit" src="{{item.img}}" data-item-id="{{item._id}}"
             data-actor-id="{{actor._id}}" title="{{item.name}}" width="36" height="36"/>
    </header>
</div>