<div class="pl1e chat-card item" data-item-id="{{characterData.itemId}}" data-token-id="{{characterData.tokenId}}" data-scene-id="{{characterData.sceneId}}">
    <header class="card-header flexrow">
        <img class="left-image token-focus" src="{{characterData.actor.img}}" title="{{characterData.token.name}}"/>
        <img class="left-image item-edit" src="{{characterData.item.realImg}}" title="{{characterData.item.realName}}"/>
        <div class="item-effects-target">
            {{#each targetData.activeAspects}}
                {{#with (config dataGroup data)}}
                    <div class="item-effect">
                        {{#if (and (eq type "number") (ne ../../this 0))}}
                            <i class="{{icon}}" data-tooltip="{{localize label}}">
                                <label>{{formatNumber ../value sign=true}}</label>
                            </i>
                        {{else if (eq type "bool")}}
                            {{#unless (and ../applyIfTrue (not ../value))}}
                                <i class="{{icon}}" data-tooltip="{{localize label}}"></i>
                            {{/unless}}
                        {{else if (eq type "status")}}
                            <i class="far fa-flag hover-info" data-tooltip="{{localize label}}"></i>
                        {{/if}}
                        {{#if ../effectDuration}}
                            <i class="far fa-clock hover-info" data-tooltip="{{localize "PL1E.Turn"}}">
                                <label>{{../effectDuration}}</label>
                            </i>
                        {{/if}}
                    </div>
                {{/with}}
            {{/each}}
        </div>
        <img class="right-image token-focus" src="{{targetData.actor.img}}" title="{{targetData.token.name}}"
             data-token-id="{{targetData.tokenId}}" />
    </header>
    <div class="card-content">
        {{#if (gt characterData.attributes.oppositeRoll.length 0)}}
            <!-- Result of the roll -->
            <div class="dice-roll">
                <div class="dice-result">
                    <div class="dice-formula">{{rollData.skillName}} : {{rollData.formula}}</div>
                    <div class="dice-tooltip">
                        {{#each rollData.dice}}
                            <section class="tooltip-part">
                                <div class="dice">
                                    <header class="part-header flexrow">
                                        <span class="part-formula">{{number}}d{{faces}}{{join modifiers ""}}</span>
                                        <span class="part-total">{{total}}</span>
                                    </header>
                                    <ol class="dice-rolls">
                                        {{#each results}}
                                            <li class="roll die d{{../faces}} {{#if success}}success{{/if}}
                                                {{#if (eq result ../faces)}}exploded{{/if}}">{{result}}</li>
                                        {{/each}}
                                    </ol>
                                </div>
                            </section>
                        {{/each}}
                    </div>
                    <h4 class="dice-total {{#if (gt targetData.result 0)}}success{{else}}failure{{/if}}">
                        {{#if (gt targetData.result 0)}}{{localize "PL1E.Success"}}{{else}}{{localize "PL1E.Failure"}}{{/if}}
                        ({{characterData.rollData.total}} - {{targetData.rollData.total}} = {{targetData.result}})
                    </h4>
                </div>
            </div>
        {{/if}}
    </div>
</div>
