<div class="chat-card item-card" data-item-id={{characterData.itemId}} data-token-id={{characterData.tokenId}}>
    <header class="card-header flexrow">
        <img class="left-image token-edit" src="{{characterData.actor.img}}" data-token-id="{{characterData.tokenId}}"
             title="{{characterData.token.name}}" width="36" height="36"/>
        <div class="item-effects-character">
            {{#each characterData.attributes}}
                {{#with (configEntry "attributes" @key)}}
                    {{#if (and (ne dataGroup undefined) (ne data undefined))}}
                        {{#with (configEntry dataGroup data)}}
                            {{#if (and (eq type "number") (ne ../../this 0))}}
                                <i class="{{#if (gt ../../this 0)}}fas{{else}}far{{/if}} {{icon}} hover-green" data-tooltip="{{localize label}}">
                                    <label>{{formatNumber ../../this signe=true}}</label>
                                </i>
                            {{else if (eq type "bool")}}
                                {{#if (and ../applyIfTrue ../../this)}}
                                    <i class="fas {{icon}} hover-green" data-tooltip="{{localize label}}"></i>
                                {{else}}
                                    <i class="{{#if ../../this}}fas{{else}}far{{/if}} {{icon}} hover-green" data-tooltip="{{localize label}}"></i>
                                {{/if}}
                            {{/if}}
                        {{/with}}
                    {{/if}}
                {{/with}}
            {{/each}}
        </div>
        <img class="right-image item-edit" src="{{characterData.item.img}}" data-item-id="{{characterData.item._id}}"
             data-token-id="{{characterData.tokenId}}" title="{{characterData.item.name}}" width="36" height="36"/>
        {{#if (ne characterData.linkedItem null)}}
            <img class="right-image item-edit" src="{{characterData.linkedItem.img}}" data-item-id="{{characterData.linkedItem._id}}"
                 data-token-id="{{characterData.tokenId}}" title="{{characterData.linkedItem.name}}" width="36" height="36"/>
        {{/if}}
    </header>
    <div class="card-content">
        <!-- Description of the ability -->
        {{characterData.item.system.description}}
        {{#if (ne characterData.attributes.characterRoll "none")}}
            <!-- Result of the roll -->
            <div class="dice-roll">
                <div class="dice-result">
                    <div class="dice-formula">{{rollData.formula}}</div>
                    <div class="dice-tooltip">
                        {{#each rollData.dice}}
                            <section class="tooltip-part">
                                <div class="dice">
                                    <header class="part-header flexrow">
                                        <span class="part-formula">{{number}}d{{faces}}{{join modifiers ""}}</span>
                                        <span class="part-total">{{total}}</span>
                                    </header>
                                    <ol class="dice-rolls">
                                        {{#each results}}
                                            <li class="roll die d{{../faces}} {{#if success}}success{{else}}failure{{/if}}
                                                {{#if (eq result ../faces)}}exploded{{/if}}">{{result}}</li>
                                        {{/each}}
                                    </ol>
                                </div>
                            </section>
                        {{/each}}
                    </div>
                    <h4 class="dice-total {{#if (gt rollData.total 0)}}success{{else}}failure{{/if}}">
                        {{rollData.total}} {{localize "PL1E.Success"}}
                    </h4>
                </div>
            </div>
        {{/if}}
    </div>
    {{#if (and (eq characterData.attributes.activation "action") characterData.attributes.triggerReactions)}}
        <footer class="card-buttons">
            <button data-action="launch">{{localize "PL1E.Launch"}}</button>
            <button data-action="counter">{{localize "PL1E.Counter"}}</button>
            <button data-action="cancel">{{localize "PL1E.Cancel"}}</button>
        </footer>
    {{/if}}
</div>