<div class="chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isSpell}}data-spell-level="{{item.item.system.level}}"{{/if}}>
    <header class="card-header flexrow">
        <img class="item-image item-edit" src="{{item.img}}" data-item-id="{{item._id}}" data-token-id="{{tokenId}}"
             title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
        {{#if (ne launcherData.linkedItem undefined)}}
            <img class="linkedItem-image item-edit" src="{{launcherData.linkedItem.img}}" data-item-id="{{launcherData.linkedItem._id}}"
                 data-token-id="{{tokenId}}" title="{{launcherData.linkedItem.name}}" width="36" height="36"/>
        {{/if}}
    </header>
    <div class="card-content">
        <!-- Description of the ability -->
        {{item.system.attributes.description.value}}
        <!-- Result of the roll -->
        <h4 class="dice-total {{#if (gt launcherData.result 0)}}success{{/if}} {{#if (lt launcherData.result 0)}}failure{{/if}}">
            {{launcherData.result}}
            {{#if (gt launcherData.result 0)}}
                ({{localize "PL1E.Success"}})
            {{else if (eq launcherData.result 0)}}
                ({{localize "PL1E.PartialSuccess"}})
            {{else}}
                ({{localize "PL1E.Failure"}})
            {{/if}}
        </h4>
    </div>
    {{#each targetsData as |targetData id|}}
        <div class="card-header flexrow">
            <img class="item-image actor-edit" src="{{targetData.actor.img}}" data-token-id={{targetData.actor.uuid}} title="{{targetData.actor.name}}" width="36" height="36"/>
            <h3 class="item-name">{{targetData.actor.name}}</h3>
        </div>
        <div class="card-content">
            {{#each targetData.attributes as |attribute id|}}
                <i class="fas {{attribute.icon}} hover-green" data-tooltip="{{localize attribute.label}}">
                    <label>{{attribute.value}}</label>
                </i>
            {{/each}}
            {{#if (ne ../item.system.attributes.oppositeRolls.value "none")}}
                <h4 class="dice-total {{#if (gt targetData.result 0)}}success{{/if}} {{#if (lt targetData.result 0)}}failure{{/if}}">
                    {{targetData.result}}
                    {{#if (gt targetData.result 0)}}
                        ({{localize "PL1E.Success"}})
                    {{else if (eq targetData.result 0)}}
                        ({{localize "PL1E.PartialSuccess"}})
                    {{else}}
                        ({{localize "PL1E.Failure"}})
                    {{/if}}
                </h4>
            {{/if}}
        </div>
    {{/each}}
    <div class="card-buttons">
        <button data-action="apply" data-item-id={{itemId}}>{{localize "PL1E.Apply"}}</button>
        <button data-action="counter" data-item-id={{itemId}}>{{localize "PL1E.Counter"}}</button>
        <button data-action="cancel" data-item-id={{itemId}}>{{localize "PL1E.Cancel"}}</button>
    </div>
    <footer class="card-footer">
    </footer>
</div>
