<div class="chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isSpell}}data-spell-level="{{item.item.system.level}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>
    <div class="card-content">
        {{item.system.attributes.description.value}}
        {{#if simpleRoll}}
            <div class="dice-roll">
                <div class="dice-result">
                    <h4 class="dice-total">
                        {{#if (gt mainRoll.result 0)}}
                            <div class="color-green">{{mainRoll.result}} ({{localize "CHAT.Success"}})</div>
                        {{else if (eq mainRoll.result 0)}}
                            {{mainRoll.result}} ({{localize "CHAT.PartialSuccess"}})
                        {{else}}
                            <div class="color-red">{{mainRoll.result}} ({{localize "CHAT.Failure"}})</div>
                        {{/if}}
                    </h4>
                </div>
            </div>
            <div class="card-stats">
            {{#if hasDamage}}
                {{#unless (eq mainRoll.stats.slashing undefined)}}
                    <i class="fas fa-axe-battle hover-green" data-tooltip="{{localize "PL1E.Slashing"}}">
                        <label>{{mainRoll.stats.slashing}}</label>
                    </i>
                {{/unless}}
                {{#unless (eq mainRoll.stats.crushing undefined)}}
                    <i class="fas fa-hammer-war hover-green" data-tooltip='{{localize "PL1E.Crushing"}}'>
                        <label>{{mainRoll.stats.crushing}}</label>
                    </i>
                {{/unless}}
                {{#unless (eq mainRoll.stats.piercing undefined)}}
                    <i class="fas fa-dagger hover-green" data-tooltip='{{localize "PL1E.Piercing"}}'>
                        <label>{{mainRoll.stats.piercing}}</label>
                    </i>
                {{/unless}}
                {{#unless (eq mainRoll.stats.parry undefined)}}
                    <i class="fas fa-shield hover-green" data-tooltip='{{localize "PL1E.Parry"}}'>
                        <label>{{mainRoll.stats.parry}}</label>
                    </i>
                {{/unless}}
            {{/if}}
            {{#if hasRecovery}}
                {{#unless (eq mainRoll.stats.healthRecovery undefined)}}
                    <i class="fas fa-heart hover-green" data-tooltip='{{localize "PL1E.HealthRecovery"}}'>
                        <label>{{mainRoll.stats.healthRecovery}}</label>
                    </i>
                {{/unless}}
                {{#unless (eq mainRoll.stats.staminaRecovery undefined)}}
                    <i class="fas fa-wave-pulse hover-green" data-tooltip='{{localize "PL1E.StaminaRecovery"}}'>
                        <label>{{mainRoll.stats.staminaRecovery}}</label>
                    </i>
                {{/unless}}
                {{#unless (eq mainRoll.stats.manaRecovery undefined)}}
                    <i class="fas fa-sparkles hover-green" data-tooltip='{{localize "PL1E.ManaRecovery"}}'>
                        <label>{{mainRoll.stats.manaRecovery}}</label>
                    </i>
                {{/unless}}
            </div>
            {{/if}}
        {{else}}
            {{#each oppositeRolls as |oppositeRoll|}}
                <div class="form-group">
                    {{localize "CHAT.OppositeRolls"}}
                    {{minus mainRoll.result oppositeRoll.result}}
                </div>
            {{/each}}
        {{/if}}
    </div>
    <div class="card-buttons">
        <button data-action="apply" data-item-id={{itemId}}>{{localize "CHAT.Apply"}}</button>
        <button data-action="cancel" data-item-id={{itemId}}>{{localize "CHAT.Cancel"}}</button>
    </div>
    <footer class="card-footer">
    </footer>
</div>
