<div class="chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isSpell}}data-spell-level="{{item.item.system.level}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>
    <div class="card-content">
        {{item.system.attributes.description.value}}
        <div class="dice-roll">
            <div class="dice-result">
                <h4 class="dice-total">
                    {{#if (gt launcherData.result 0)}}
                        <div class="color-green">{{launcherData.result}} ({{localize "PL1E.Success"}})</div>
                    {{else if (eq launcherData.result 0)}}
                        {{launcherData.result}} ({{localize "PL1E.PartialSuccess"}})
                    {{else}}
                        <div class="color-red">{{launcherData.result}} ({{localize "PL1E.Failure"}})</div>
                    {{/if}}
                </h4>
            </div>
        </div>
        {{log targetsData}}
        {{#each targetsData as |targetData id|}}
            <div class="dice-roll">
                <div class="dice-result">
                    <img src="{{targetData.actor.img}}" title="{{targetData.actor.name}}" width="36" height="36"/>
                    <h4 class="dice-total">
                        {{#if (gt targetData.result 0)}}
                            <div class="color-green">{{targetData.result}} ({{localize "PL1E.Success"}})</div>
                        {{else if (eq targetData.result 0)}}
                            {{targetData.result}} ({{localize "PL1E.PartialSuccess"}})
                        {{else}}
                            <div class="color-red">{{targetData.result}} ({{localize "PL1E.Failure"}})</div>
                        {{/if}}
                    </h4>
                </div>
            </div>
            {{#each targetData.attributes as |attribute id|}}
                <i class="fas {{attribute.icon}} hover-green" data-tooltip="{{localize attribute.label}}">
                    <label>{{attribute.value}}</label>
                </i>
            {{/each}}
        {{/each}}
    </div>
    <div class="card-buttons">
        <button data-action="apply" data-item-id={{itemId}}>{{localize "PL1E.Apply"}}</button>
        <button data-action="cancel" data-item-id={{itemId}}>{{localize "PL1E.Cancel"}}</button>
    </div>
    <footer class="card-footer">
    </footer>
</div>
