<div class="chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isSpell}}data-spell-level="{{item.system.level}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{data.description.value}}}
        {{#if data.materials.value}}
        <p><strong>{{ localize "DND5E.RequiredMaterials" }}.</strong> {{data.materials.value}}</p>
        {{/if}}
    </div>

    <div class="card-buttons">

        {{#if hasOppositeRolls}}
            {{#each oppositeRolls as |oppositeRoll|}}
                <div class="form-group">
                    {{localize "CHAT.OppositeRolls"}}
                    {{minus ../mainRoll.rolls.[0].result oppositeRoll.rolls.[0].result}}
                </div>
            {{/each}}
        {{else if hasMainRoll}}
            <div class="form-group">
                {{localize "CHAT.MainRoll"}}
                {{mainRoll.rolls.[0].result}}
            </div>
        {{/if}}

        {{#if hasDamage}}
            {{localize "PL1E.Damage"}}
            {{#if item.system.attributes.slashing.apply}}
                <i class="item-info fas fa-axe-battle hover-green" data-tooltip="{{localize "PL1E.Slashing"}}">
                    <label>{{item.system.attributes.slashing.value}}</label>
                </i>
            {{/if}}
            {{#if item.system.attributes.crushing.apply}}
                <i class="item-info fas fa-hammer-war hover-green" data-tooltip='{{localize "PL1E.Crushing"}}'>
                    <label>{{item.system.attributes.crushing.value}}</label>
                </i>
            {{/if}}
            {{#if item.system.attributes.piercing.apply}}
                <i class="item-info fas fa-dagger hover-green" data-tooltip='{{localize "PL1E.Piercing"}}'>
                    <label>{{item.system.attributes.piercing.value}}</label>
                </i>
            {{/if}}
            {{#if item.system.attributes.parry.apply}}
                <i class="item-info fas fa-shield hover-green" data-tooltip='{{localize "PL1E.Parry"}}'>
                    <label>{{item.system.attributes.parry.value}}</label>
                </i>
            {{/if}}
        {{/if}}

        {{#if hasRecovery}}
            {{localize "PL1E.Recovery"}}
            {{#if item.system.attributes.healthRecovery.apply}}
                <i class="item-info fas fa-heart hover-green" data-tooltip='{{localize "PL1E.HealthRecovery"}}'>
                    <label>{{item.system.attributes.healthRecovery.value}}</label>
                </i>
            {{/if}}
            {{#if item.system.attributes.staminaRecovery.apply}}
                <i class="item-info fas fa-wave-pulse hover-green" data-tooltip='{{localize "PL1E.StaminaRecovery"}}'>
                    <label>{{item.system.attributes.staminaRecovery.value}}</label>
                </i>
            {{/if}}
            {{#if item.system.attributes.manaRecovery.apply}}
                <i class="item-info fas fa-sparkles hover-green" data-tooltip='{{localize "PL1E.ManaRecovery"}}'>
                    <label>{{item.system.attributes.manaRecovery.value}}</label>
                </i>
            {{/if}}
        {{/if}}

    </div>

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
