<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Attributes"}}</legend>
        <div class="item-attribute flexrow">
            <label class="attribute-name">
                <i class="item-info far fa-circle-question hover-green" data-tooltip='{{localize "PL1E.TooltipItemLink"}}'></i>
                {{localize "PL1E.ItemLink"}}
            </label>
            <select name="system.attributes.itemLink">
                {{selectOptions (config "itemLinks") selected=system.attributes.itemLink localize=true}}
            </select>
        </div>
        {{#if (or (eq system.attributes.itemLink "mastery") (eq system.attributes.itemLink "multiple"))}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.MasteryLink"}}</label>
                <ul class="attribute-name">
                    {{#each system.attributes.masteryLink}}
                        <li class="tag {{this}}">{{localize (configEntry "masters" this)}}</li>
                    {{/each}}
                </ul>
                <a class="trait-selector flexshrink" data-trait="masters" data-trait-label="PL1E.Masters" data-key-path="attributes.masteryLink"
                   data-tooltip="{{localize 'PL1E.MastersConfig'}}">
                    <i class="fas fa-edit"></i>
                </a>
            </div>
        {{/if}}
        {{#if (ne system.attributes.itemLink "none")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">
                    <i class="item-info far fa-circle-question hover-green" data-tooltip='{{localize "PL1E.TooltipRangeOverride"}}'></i>
                    {{localize "PL1E.RangeOverride"}}
                </label>
                <select name="system.attributes.rangeOverride">
                    {{selectOptions (config "linkOverrides") selected=system.attributes.rangeOverride localize=true}}
                </select>
            </div>
            <div class="item-attribute flexrow">
                <label class="attribute-name">
                    <i class="item-info far fa-circle-question hover-green" data-tooltip='{{localize "PL1E.TooltipLengthOverride"}}'></i>
                    {{localize "PL1E.LengthOverride"}}
                </label>
                <select name="system.attributes.lengthOverride">
                    {{selectOptions (config "linkOverrides") selected=system.attributes.lengthOverride localize=true}}
                </select>
            </div>
        {{/if}}
        <hr>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.CharacterRoll"}}</label>
            <select name="system.attributes.characterRoll">
                {{selectOptions (config "abilitySkills") selected=system.attributes.characterRoll localize=true}}
            </select>
        </div>
        {{#if (ne system.attributes.characterRoll "none")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.TargetRoll"}}</label>
                <ul class="attribute-name">
                    {{#each system.attributes.targetRoll}}
                        <li class="tag {{this}}">{{localize (configEntry "abilityResistances" this)}}</li>
                    {{/each}}
                </ul>
                <a class="trait-selector flexshrink" data-trait="abilityResistances" data-trait-label="PL1E.TargetRoll" data-key-path="attributes.targetRoll"
                   data-tooltip="{{localize 'PL1E.TargetRollConfig'}}">
                    <i class="fas fa-edit"></i>
                </a>
            </div>
        {{/if}}
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.HealthCost"}}</label>
            <input type="number" name="system.attributes.healthCost" value="{{system.attributes.healthCost}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.StaminaCost"}}</label>
            <input type="number" name="system.attributes.staminaCost" value="{{system.attributes.staminaCost}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.ManaCost"}}</label>
            <input type="number" name="system.attributes.manaCost" value="{{system.attributes.manaCost}}" data-dtype="Number"/>
        </div>
        {{#if (ne system.attributes.itemLink "none")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.UsageCost"}}</label>
                <input type="number" name="system.attributes.usageCost" value="{{system.attributes.usageCost}}" data-dtype="Number"/>
            </div>
        {{/if}}
        <hr>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Activation"}}</label>
            <select name="system.attributes.activation">
                {{selectOptions (config "activations") selected=system.attributes.activation localize=true}}
            </select>
        </div>
        {{#if (eq system.attributes.activation "action")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.ActionCost"}}</label>
                <input type="number" name="system.attributes.actionCost" value="{{system.attributes.actionCost}}" data-dtype="Number"/>
            </div>
            {{#if (ne system.attributes.itemLink "none")}}
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.IsMajorAction"}}</label>
                    <input type="checkbox" name="system.attributes.isMajorAction" {{checked system.attributes.isMajorAction}} data-dtype="Boolean"/>
                </div>
            {{/if}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.TriggerReactions"}}</label>
                <input type="checkbox" name="system.attributes.triggerReactions" {{checked system.attributes.triggerReactions}} data-dtype="Boolean"/>
            </div>
        {{else if (eq system.attributes.activation "reaction")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.ReactionCost"}}</label>
                <input type="number" name="system.attributes.reactionCost" value="1" data-dtype="Number" disabled/>
            </div>
        {{/if}}
        <hr>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.AreaShape"}}</label>
            <select name="system.attributes.areaShape">
                {{selectOptions (config "areaShapes") selected=system.attributes.areaShape localize=true}}
            </select>
        </div>
        {{#if (ne system.attributes.areaShape "self")}}
            {{#if (eq system.attributes.rangeOverride "none")}}
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.Range"}}</label>
                    <input type="number" name="system.attributes.range" value="{{system.attributes.range}}" data-dtype="Number"/>
                    {{#if (ne system.attributes.characterRoll "none")}}
                        <select name="system.attributes.rangeResolutionType">
                            {{selectOptions (config "resolutionTypes") selected=system.attributes.rangeResolutionType localize=true}}
                        </select>
                    {{/if}}
                </div>
            {{/if}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.AreaNumber"}}</label>
                <input type="number" name="system.attributes.areaNumber" value="{{system.attributes.areaNumber}}" data-dtype="Number"/>
                {{#if (ne system.attributes.characterRoll "none")}}
                    <select name="system.attributes.areaNumberResolutionType">
                        {{selectOptions (config "resolutionTypes") selected=system.attributes.areaNumberResolutionType localize=true}}
                    </select>
                {{/if}}
            </div>
            {{#if (eq system.attributes.areaShape "circle")}}
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.CircleRadius"}}</label>
                    <input type="number" name="system.attributes.circleRadius" value="{{system.attributes.circleRadius}}" data-dtype="Number"/>
                    {{#if (ne system.attributes.characterRoll "none")}}
                        <select name="system.attributes.circleRadiusResolutionType">
                            {{selectOptions (config "resolutionTypes") selected=system.attributes.circleRadiusResolutionType localize=true}}
                        </select>
                    {{/if}}
                </div>
            {{else if (eq system.attributes.areaShape "cone")}}
                {{#if (eq system.attributes.lengthOverride "none")}}
                    <div class="item-attribute flexrow">
                        <label class="attribute-name">{{localize "PL1E.ConeLength"}}</label>
                        <input type="number" name="system.attributes.coneLength" value="{{system.attributes.coneLength}}" data-dtype="Number"/>
                        {{#if (ne system.attributes.characterRoll "none")}}
                            <select name="system.attributes.coneLengthResolutionType">
                                {{selectOptions (config "resolutionTypes") selected=system.attributes.coneLengthResolutionType localize=true}}
                            </select>
                        {{/if}}
                    </div>
                {{/if}}
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.ConeAngle"}}</label>
                    <input type="number" name="system.attributes.coneAngle" value="{{system.attributes.coneAngle}}" data-dtype="Number"/>
                    <select name="system.attributes.coneAngleResolutionType">
                        {{selectOptions (config "resolutionTypes") selected=system.attributes.coneAngleResolutionType localize=true}}
                    </select>
                </div>
            {{else if (eq system.attributes.areaShape "square")}}
                {{#if (eq system.attributes.lengthOverride "none")}}
                    <div class="item-attribute flexrow">
                        <label class="attribute-name">{{localize "PL1E.SquareLength"}}</label>
                        <input type="number" name="system.attributes.squareLength" value="{{system.attributes.squareLength}}" data-dtype="Number"/>
                        {{#if (ne system.attributes.characterRoll "none")}}
                            <select name="system.attributes.squareLengthResolutionType">
                                {{selectOptions (config "resolutionTypes") selected=system.attributes.squareLengthResolutionType localize=true}}
                            </select>
                        {{/if}}
                    </div>
                {{/if}}
            {{else if (eq system.attributes.areaShape "ray")}}
                {{#if (eq system.attributes.lengthOverride "none")}}
                    <div class="item-attribute flexrow">
                        <label class="attribute-name">{{localize "PL1E.RayLength"}}</label>
                        <input type="number" name="system.attributes.rayLength" value="{{system.attributes.rayLength}}" data-dtype="Number"/>
                        {{#if (ne system.attributes.characterRoll "none")}}
                            <select name="system.attributes.rayLengthResolutionType">
                                {{selectOptions (config "resolutionTypes") selected=system.attributes.rayLengthResolutionType localize=true}}
                            </select>
                        {{/if}}
                    </div>
                {{/if}}
            {{/if}}
            {{#if (and (ne system.attributes.areaShape "target") (ne system.attributes.areaShape "self"))}}
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.ExcludeSelf"}}</label>
                    <input type="checkbox" name="system.attributes.excludeSelf" {{checked system.attributes.excludeSelf}} data-dtype="Boolean"/>
                </div>
            {{/if}}
        {{/if}}
        {{#if (ne system.attributes.areaShape "self")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.IncludeSelf"}}</label>
                <input type="checkbox" name="system.attributes.includeSelf" {{checked system.attributes.includeSelf}} data-dtype="Boolean"/>
            </div>
        {{/if}}
        <hr>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.CustomMacros"}}</label>
            <input type="checkbox" name="system.attributes.customMacro" {{checked system.attributes.customMacro}} data-dtype="Boolean"/>
        </div>
        {{#if system.attributes.customMacro}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.ActivationMacro"}}</label>
                <input type="text" name="system.attributes.activationMacro" value="{{system.attributes.activationMacro}}" data-dtype="String"/>
            </div>
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.PreLaunchMacro"}}</label>
                <input type="text" name="system.attributes.preLaunchMacro" value="{{system.attributes.preLaunchMacro}}" data-dtype="String"/>
            </div>
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.PostLaunchMacro"}}</label>
                <input type="text" name="system.attributes.postLaunchMacro" value="{{system.attributes.postLaunchMacro}}" data-dtype="String"/>
            </div>
        {{else}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.ActivationMacro"}}</label>
                <select name="system.attributes.activationMacro">
                    {{selectOptions itemMacros selected=system.attributes.activationMacro localize=true}}
                </select>
            </div>
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.PreLaunchMacro"}}</label>
                <select name="system.attributes.preLaunchMacro">
                    {{selectOptions itemMacros selected=system.attributes.preLaunchMacro localize=true}}
                </select>
            </div>
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.PostLaunchMacro"}}</label>
                <select name="system.attributes.postLaunchMacro">
                    {{selectOptions itemMacros selected=system.attributes.postLaunchMacro localize=true}}
                </select>
            </div>
        {{/if}}
    </fieldset>
    {{> "systems/pl1e/templates/item/components/item-aspects-passives.hbs"}}
    {{> "systems/pl1e/templates/item/components/item-aspects-actives.hbs"}}
</section>