<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Attributes"}}</legend>
        <div class="item-attribute flexrow">
            <label class="attribute-name">
                {{localize "PL1E.HealthCost"}}
                <input type="number" name="system.attributes.healthCost.value" value="{{system.attributes.healthCost.value}}" data-dtype="Number"/>
            </label>
            <label class="attribute-name">
                {{localize "PL1E.StaminaCost"}}
                <input type="number" name="system.attributes.staminaCost.value" value="{{system.attributes.staminaCost.value}}" data-dtype="Number"/>
            </label>
            <label class="attribute-name">
                {{localize "PL1E.ManaCost"}}
                <input type="number" name="system.attributes.manaCost.value" value="{{system.attributes.manaCost.value}}" data-dtype="Number"/>
            </label>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Activation"}}</label>
            <select name="system.attributes.activation.value">
                {{selectOptions (config "activations") selected=system.attributes.activation.value localize=true}}
            </select>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.AbilityLink"}}</label>
            <select name="system.attributes.abilityLink.value">
                {{selectOptions (config "abilityLinks") selected=system.attributes.abilityLink.value localize=true}}
            </select>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.CharacterRoll"}}</label>
            <select name="system.attributes.characterRoll.value">
                {{selectOptions (config "abilitySkills") selected=system.attributes.characterRoll.value localize=true}}
            </select>
        </div>
        {{#if (ne system.attributes.characterRoll.value "none")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.TargetRoll"}}</label>
                <select name="system.attributes.targetRoll.value">
                    {{selectOptions (config "abilitySkills") selected=system.attributes.targetRoll.value localize=true}}
                </select>
            </div>
        {{/if}}
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.AreaShape"}}</label>
            <select name="system.attributes.areaShape.value">
                {{selectOptions (config "areaShapes") selected=system.attributes.areaShape.value localize=true}}
            </select>
        </div>
        {{#if (ne system.attributes.areaShape.value "self")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.Range"}}</label>
                <input type="number" name="system.attributes.range.value" value="{{system.attributes.range.value}}" data-dtype="Number"/>
            </div>
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.AreaNumber"}}</label>
                <input type="number" name="system.attributes.areaNumber.value" value="{{system.attributes.areaNumber.value}}" data-dtype="Number"/>
                <select name="system.attributes.areaNumber.resolutionType">
                    {{selectOptions (config "resolutionTypes") selected=system.attributes.areaNumber.resolutionType localize=true}}
                </select>
            </div>
        {{/if}}
        {{#if (eq system.attributes.areaShape.value "circle")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.CircleRadius"}}</label>
                <input type="number" name="system.attributes.circleRadius.value" value="{{system.attributes.circleRadius.value}}" data-dtype="Number"/>
                <select name="system.attributes.circleRadius.resolutionType">
                    {{selectOptions (config "resolutionTypes") selected=system.attributes.circleRadius.resolutionType localize=true}}
                </select>
            </div>
        {{else if (eq system.attributes.areaShape.value "cone")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.ConeLength"}}</label>
                <input type="number" name="system.attributes.coneLength.value" value="{{system.attributes.coneLength.value}}" data-dtype="Number"/>
                <select name="system.attributes.coneLength.resolutionType">
                    {{selectOptions (config "resolutionTypes") selected=system.attributes.coneLength.resolutionType localize=true}}
                </select>
            </div>
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.ConeAngle"}}</label>
                <input type="number" name="system.attributes.coneAngle.value" value="{{system.attributes.coneAngle.value}}" data-dtype="Number"/>
                <select name="system.attributes.coneAngle.resolutionType">
                    {{selectOptions (config "resolutionTypes") selected=system.attributes.coneAngle.resolutionType localize=true}}
                </select>
            </div>
        {{else if (eq system.attributes.areaShape.value "square")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.SquareLength"}}</label>
                <input type="number" name="system.attributes.squareLength.value" value="{{system.attributes.squareLength.value}}" data-dtype="Number"/>
                <select name="system.attributes.squareLength.resolutionType">
                    {{selectOptions (config "resolutionTypes") selected=system.attributes.squareLength.resolutionType localize=true}}
                </select>
            </div>
        {{else if (eq system.attributes.areaShape.value "ray")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.RayLength"}}</label>
                <input type="number" name="system.attributes.rayLength.value" value="{{system.attributes.rayLength.value}}" data-dtype="Number"/>
                <select name="system.attributes.rayLength.resolutionType">
                    {{selectOptions (config "resolutionTypes") selected=system.attributes.rayLength.resolutionType localize=true}}
                </select>
            </div>
        {{/if}}
    </fieldset>
    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "PL1E.Aspects"}}</div>
        </li>
        {{#each system.refItems}}
            {{#if (eq type "aspect")}}
                <li class="item" data-item-id="{{_id}}" data-item-uuid="{{system.sourceUuid}}">
                    <div class="flexrow">
                        <div class="flexrow">
                            <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                            <label class="item-name hover-red">{{name}}</label>
                        </div>
                        <div class="flexrow">
                            <div class="item-stats">
                                {{#with (configEntry system.dataGroup system.data)}}
                                    {{#if (eq type "number")}}
                                        <input class="input-positive-decimal" type="number" name="system.refItems.{{@key}}.system.value" value="{{../system.value}}" data-dtype="Number"/>
                                    {{else if (eq type "bool")}}
                                        <input type="checkbox" name="system.refItems.{{@key}}.system.value" {{checked ../system.value}} data-dtype="Boolean"/>
                                    {{else if (eq type "select")}}
                                        <select name="system.refItems.{{@key}}.system.value">
                                            {{selectOptions (config select) selected=../system.value localize=true}}
                                        </select>
                                    {{/if}}
                                {{/with}}
                            </div>
                            <div class="item-controls">
                                <a class="item-control item-delete" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-tooltip flexcol">
                        <div class="flexrow">
                            <label>{{localize "PL1E.TargetGroup"}}</label>
                            <select name="system.refItems.{{@key}}.system.targetGroup">
                                {{selectOptions (config "targetGroups") selected=system.targetGroup localize=true}}
                            </select>
                        </div>
                        <div class="flexrow">
                            <label>{{localize "PL1E.ResolutionType"}}</label>
                            <select name="system.refItems.{{@key}}.system.resolutionType">
                                {{selectOptions (config "resolutionTypes") selected=system.resolutionType localize=true}}
                            </select>
                        </div>
                    </div>
                </li>
            {{/if}}
        {{/each}}
    </ol>
</section>