<div class="control-list">
    <h5 class="control-header">{{localize "PL1E.Attributes"}}</h5>

    <div class="control-column">
        <div class="control">
            <label class="control-label">{{localize "PL1E.Description"}}</label>
            <div class="control-fields">
                <button class="launch-text-editor" data-target="system.description">
                    <i class="fas fa-edit"></i> {{localize "PL1E.EditDescription"}}
                </button>
            </div>
        </div>

        <div class="control">
            <label class="control-label">{{localize "PL1E.Level"}}</label>
            <div class="control-fields">
                <input type="number" name="system.attributes.level" value="{{system.attributes.level}}" data-dtype="Number"/>
            </div>
        </div>
    </div>
</div>

<div class="control-list">
    <h5 class="control-header">{{localize "PL1E.Activation"}}</h5>

    <div class="control-column">
        <div class="control">
            <label class="control-label">{{localize "PL1E.Activation"}}</label>
            <div class="control-fields">
                <select name="system.attributes.activation">
                    {{customSelectOptions (config "activations") selected=system.attributes.activation localize=true}}
                </select>
            </div>
        </div>

        {{#if (eq system.attributes.activation "action")}}
            <div class="control">
                <label class="control-label">{{localize "PL1E.ActionCost"}}</label>
                <div class="control-fields">
                    <input type="number" name="system.attributes.actionCost" value="{{system.attributes.actionCost}}" data-dtype="Number"/>
                </div>
            </div>

            <div class="control">
                <label class="control-label">{{localize "PL1E.IsMajorAction"}}</label>
                <div class="control-fields">
                    <input type="checkbox" name="system.attributes.isMajorAction" {{checked system.attributes.isMajorAction}} data-dtype="Boolean"/>
                </div>
            </div>

            <div class="control">
                <label class="control-label">{{localize "PL1E.IsDangerous"}}</label>
                <div class="control-fields">
                    <input type="checkbox" name="system.attributes.isDangerous" {{checked system.attributes.isDangerous}} data-dtype="Boolean"/>
                </div>
            </div>
        {{/if}}
    </div>
</div>

{{#unless (eq system.attributes.activation "passive")}}
    <div class="control-list">
        <h5 class="control-header">{{localize "PL1E.Target"}}</h5>

        <div class="control-column">
            <div class="control">
                <label class="control-label">{{localize "PL1E.AreaShape"}}</label>
                <div class="control-fields">
                    <select name="system.attributes.areaShape">
                        {{customSelectOptions (config "areaShapes") selected=system.attributes.areaShape localize=true}}
                    </select>
                </div>
            </div>

            {{#if (ne system.attributes.areaShape "none")}}
                {{#unless system.attributes.useParentRange}}
                    <div class="control">
                        <label class="control-label">{{localize "PL1E.Range"}}</label>
                        <div class="control-fields">
                            <input type="number" name="system.attributes.range" value="{{system.attributes.range}}" data-dtype="Number"/>
                            <select name="system.attributes.rangeNumberResolutionType">
                                {{customSelectOptions (config "resolutionTypes") selected=system.attributes.rangeNumberResolutionType localize=true}}
                            </select>
                        </div>
                    </div>
                {{/unless}}

                <div class="control">
                    <label class="control-label">{{localize "PL1E.AreaNumber"}}</label>
                    <div class="control-fields">
                        <input type="number" name="system.attributes.areaNumber" value="{{system.attributes.areaNumber}}" data-dtype="Number"/>
                        {{#if (or system.attributes.useParentRoll (ne (length system.attributes.roll) 0))}}
                            <select name="system.attributes.areaNumberResolutionType">
                                {{customSelectOptions (config "resolutionTypes") selected=system.attributes.areaNumberResolutionType localize=true}}
                            </select>
                        {{/if}}
                    </div>
                </div>

                {{#if (eq system.attributes.areaShape "circle")}}
                    <div class="control">
                        <label class="control-label">{{localize "PL1E.CircleRadius"}}</label>
                        <div class="control-fields">
                            <input type="number" name="system.attributes.circleRadius" value="{{system.attributes.circleRadius}}" data-dtype="Number"/>
                        </div>
                    </div>
                {{else if (eq system.attributes.areaShape "cone")}}
                    <div class="control">
                        <label class="control-label">{{localize "PL1E.ConeLength"}}</label>
                        <div class="control-fields">
                            <input type="number" name="system.attributes.coneLength" value="{{system.attributes.coneLength}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="control">
                        <label class="control-label">{{localize "PL1E.ConeAngle"}}</label>
                        <div class="control-fields">
                            <input type="number" name="system.attributes.coneAngle" value="{{system.attributes.coneAngle}}" data-dtype="Number"/>
                        </div>
                    </div>
                {{else if (eq system.attributes.areaShape "ray")}}
                    <div class="control">
                        <label class="control-label">{{localize "PL1E.RayLength"}}</label>
                        <div class="control-fields">
                            <input type="number" name="system.attributes.rayLength" value="{{system.attributes.rayLength}}" data-dtype="Number"/>
                        </div>
                    </div>
                {{/if}}
            {{/if}}

            <div class="control">
                <label class="control-label">{{localize "PL1E.IncludeSelf"}}</label>
                <div class="control-fields">
                    <input type="checkbox" name="system.attributes.includeSelf" {{checked system.attributes.includeSelf}} data-dtype="Boolean"/>
                </div>
            </div>
        </div>
    </div>

    <div class="control-list">
        <h5 class="control-header">{{localize "PL1E.SequencerMacros"}}</h5>

        <div class="control-column">
            <div class="control">
                <label class="control-label">{{localize "PL1E.ActivationMacro"}}</label>
                <div class="control-fields">
                    <select name="system.attributes.activationMacro">
                        {{customSelectOptions (config "sequencerMacros") selected=system.attributes.activationMacro localize=true}}
                    </select>
                </div>
            </div>
            <div class="control">
                <label class="control-label">{{localize "PL1E.PreLaunchMacro"}}</label>
                <div class="control-fields">
                    <select name="system.attributes.preLaunchMacro">
                        {{customSelectOptions (config "sequencerMacros") selected=system.attributes.preLaunchMacro localize=true}}
                    </select>
                </div>
            </div>
            <div class="control">
                <label class="control-label">{{localize "PL1E.PostLaunchMacro"}}</label>
                <div class="control-fields">
                    <select name="system.attributes.postLaunchMacro">
                        {{customSelectOptions (config "sequencerMacros") selected=system.attributes.postLaunchMacro localize=true}}
                    </select>
                </div>
            </div>
        </div>
    </div>
{{/unless}}

{{#if (eq system.attributes.activation "passive")}}
    {{> "systems/pl1e/templates/item/components/item-aspects-passives.hbs"}}
{{else}}
    {{> "systems/pl1e/templates/item/components/item-aspects-actives.hbs"}}
{{/if}}