<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Attributes"}}</legend>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Masters"}}</label>
            <ul class="attribute-name">
                {{#each system.attributes.masters}}
                    <li class="tag {{this}}">{{localize (configEntry "masters" this)}}</li>
                {{/each}}
            </ul>
            <a class="trait-selector flexshrink" data-trait="masters" data-trait-label="PL1E.Masters" data-key-path="attributes.masters"
               data-tooltip="{{localize 'PL1E.MastersConfig'}}">
                <i class="fas fa-edit"></i>
            </a>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.HealthCost"}}</label>
            <input type="number" name="system.attributes.healthCost" value="{{system.attributes.healthCost}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.StaminaCost"}}</label>
            <input type="number" name="system.attributes.staminaCost" value="{{system.attributes.staminaCost}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.ManaCost"}}</label>
            <input type="number" name="system.attributes.manaCost" value="{{system.attributes.manaCost}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.ActionCost"}}</label>
            <input type="number" name="system.attributes.actionCost" value="{{system.attributes.actionCost}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.ReactionCost"}}</label>
            <input type="number" name="system.attributes.reactionCost" value="{{system.attributes.reactionCost}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.InstantCost"}}</label>
            <input type="number" name="system.attributes.instantCost" value="{{system.attributes.instantCost}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.IsMajor"}}</label>
            <input type="checkbox" name="system.attributes.isMajor" {{checked system.attributes.isMajor}} data-dtype="Boolean"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.CharacterRoll"}}</label>
            <select name="system.attributes.characterRoll">
                {{selectOptions (config "abilitySkills") selected=system.attributes.characterRoll localize=true}}
            </select>
        </div>
        {{#if (ne system.attributes.characterRoll "none")}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.TargetRoll"}}</label>
                <ul class="attribute-name">
                    {{#each system.attributes.targetRoll}}
                        <li class="tag {{this}}">{{localize (configEntry "abilityResistances" this)}}</li>
                    {{/each}}
                </ul>
                <a class="trait-selector flexshrink" data-trait="abilityResistances" data-trait-label="PL1E.TargetRoll" data-key-path="attributes.targetRoll"
                   data-tooltip="{{localize 'PL1E.TargetRollConfig'}}">
                    <i class="fas fa-edit"></i>
                </a>
            </div>
        {{/if}}
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.WeaponLink"}}</label>
            <select name="system.attributes.weaponLink">
                {{selectOptions (config "weaponLinks") selected=system.attributes.weaponLink localize=true}}
            </select>
        </div>
        {{#if (or (eq system.attributes.weaponLink "none") (eq system.attributes.weaponLink "special"))}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.AreaShape"}}</label>
                <select name="system.attributes.areaShape">
                    {{selectOptions (config "areaShapes") selected=system.attributes.areaShape localize=true}}
                </select>
            </div>
            {{#if (ne system.attributes.areaShape "self")}}
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.ExcludeSelf"}}</label>
                    <input type="checkbox" name="system.attributes.excludeSelf" {{checked system.attributes.excludeSelf}} data-dtype="Boolean"/>
                </div>
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.Range"}}</label>
                    <input type="number" name="system.attributes.range" value="{{system.attributes.range}}" data-dtype="Number"/>
                </div>
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.AreaNumber"}}</label>
                    <input type="number" name="system.attributes.areaNumber" value="{{system.attributes.areaNumber}}" data-dtype="Number"/>
                    <select name="system.attributes.areaNumberResolutionType">
                        {{selectOptions (config "resolutionTypes") selected=system.attributes.areaNumberResolutionType localize=true}}
                    </select>
                </div>
            {{/if}}
            {{#if (eq system.attributes.areaShape "circle")}}
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.CircleRadius"}}</label>
                    <input type="number" name="system.attributes.circleRadius" value="{{system.attributes.circleRadius}}" data-dtype="Number"/>
                    <select name="system.attributes.circleRadiusResolutionType">
                        {{selectOptions (config "resolutionTypes") selected=system.attributes.circleRadiusResolutionType localize=true}}
                    </select>
                </div>
            {{else if (eq system.attributes.areaShape "cone")}}
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.ConeLength"}}</label>
                    <input type="number" name="system.attributes.coneLength" value="{{system.attributes.coneLength}}" data-dtype="Number"/>
                    <select name="system.attributes.coneLengthResolutionType">
                        {{selectOptions (config "resolutionTypes") selected=system.attributes.coneLengthResolutionType localize=true}}
                    </select>
                </div>
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.ConeAngle"}}</label>
                    <input type="number" name="system.attributes.coneAngle" value="{{system.attributes.coneAngle}}" data-dtype="Number"/>
                    <select name="system.attributes.coneAngleResolutionType">
                        {{selectOptions (config "resolutionTypes") selected=system.attributes.coneAngleResolutionType localize=true}}
                    </select>
                </div>
            {{else if (eq system.attributes.areaShape "square")}}
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.SquareLength"}}</label>
                    <input type="number" name="system.attributes.squareLength" value="{{system.attributes.squareLength}}" data-dtype="Number"/>
                    <select name="system.attributes.squareLengthResolutionType">
                        {{selectOptions (config "resolutionTypes") selected=system.attributes.squareLengthResolutionType localize=true}}
                    </select>
                </div>
            {{else if (eq system.attributes.areaShape "ray")}}
                <div class="item-attribute flexrow">
                    <label class="attribute-name">{{localize "PL1E.RayLength"}}</label>
                    <input type="number" name="system.attributes.rayLength" value="{{system.attributes.rayLength}}" data-dtype="Number"/>
                    <select name="system.attributes.rayLengthResolutionType">
                        {{selectOptions (config "resolutionTypes") selected=system.attributes.rayLengthResolutionType localize=true}}
                    </select>
                </div>
            {{/if}}
        {{/if}}
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.CustomMacros"}}</label>
            <input type="checkbox" name="system.attributes.customMacro" {{checked system.attributes.customMacro}} data-dtype="Boolean"/>
        </div>
        {{#if system.attributes.customMacro}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.ActivationMacro"}}</label>
                <input type="text" name="system.attributes.activationMacro" value="{{system.attributes.activationMacro}}" data-dtype="String"/>
            </div>
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.LaunchMacro"}}</label>
                <input type="text" name="system.attributes.launchMacro" value="{{system.attributes.launchMacro}}" data-dtype="String"/>
            </div>
        {{else}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.ActivationMacro"}}</label>
                <select name="system.attributes.activationMacro">
                    {{selectOptions itemMacros selected=system.attributes.activationMacro localize=true}}
                </select>
            </div>
            <div class="item-attribute flexrow">
                <label class="attribute-name">{{localize "PL1E.LaunchMacro"}}</label>
                <select name="system.attributes.launchMacro">
                    {{selectOptions itemMacros selected=system.attributes.launchMacro localize=true}}
                </select>
            </div>
        {{/if}}
    </fieldset>
    {{> "systems/pl1e/templates/item/components/item-aspects-passives.hbs"}}
    {{> "systems/pl1e/templates/item/components/item-aspects-actives.hbs"}}
</section>