<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.MainAttributes"}}</legend>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Food"}}</label>
            <input type="checkbox" name="system.attributes.isFood.value" {{checked system.attributes.isFood.value}} data-dtype="Boolean"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Drink"}}</label>
            <input type="checkbox" name="system.attributes.isDrink.value" {{checked system.attributes.isDrink.value}} data-dtype="Boolean"/>
        </div>
    </fieldset>
</section>