<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Attributes"}}</legend>
        <div class="item-attribute flexrow">
            <label class="attribute-name">
                {{localize "PL1E.GoldPrice"}}
                <input type="number" name="system.attributes.price.gold" value="{{system.price.gold}}" data-dtype="Number"/>
            </label>
            <label class="attribute-name">
                {{localize "PL1E.SilverPrice"}}
                <input type="number" name="system.attributes.price.silver" value="{{system.price.silver}}" data-dtype="Number"/>
            </label>
            <label class="attribute-name">
                {{localize "PL1E.CopperPrice"}}
                <input type="number" name="system.attributes.price.copper" value="{{system.price.copper}}" data-dtype="Number"/>
            </label>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.CommonType"}}</label>
            <select name="system.attributes.commonType">
                {{selectOptions (config "commonTypes") selected=system.attributes.commonType localize=true}}
            </select>
        </div>
        {{#if (or (eq system.attributes.commonType "food") (eq system.attributes.commonType "drink"))}}
            <div class="item-attribute flexrow">
                <label class="attribute-name">
                    {{localize "PL1E.HealthRest"}}
                    <input type="number" name="system.attributes.healthRest" value="{{system.attributes.healthRest}}" data-dtype="Number"/>
                </label>
                <label class="attribute-name">
                    {{localize "PL1E.StaminaRest"}}
                    <input type="number" name="system.attributes.staminaRest" value="{{system.attributes.staminaRest}}" data-dtype="Number"/>
                </label>
                <label class="attribute-name">
                    {{localize "PL1E.ManaRest"}}
                    <input type="number" name="system.attributes.manaRest" value="{{system.attributes.manaRest}}" data-dtype="Number"/>
                </label>
            </div>
        {{/if}}
    </fieldset>
</section>