<div class="list-items">
    <div class="list-header">
        <h5>{{localize "PL1E.Attributes"}}</h5>
    </div>

    <div class="list-column">
        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.Description"}}</label>
                </div>
                <div class="fields">
                    <button class="launch-text-editor" data-target="system.description">
                        <i class="fas fa-edit"></i> {{localize "PL1E.EditDescription"}}
                    </button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.GoldPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.goldPrice" value="{{system.attributes.goldPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.SilverPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.silverPrice" value="{{system.attributes.silverPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.CopperPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.copperPrice" value="{{system.attributes.copperPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-items">
    <div class="list-header">
        <h5>{{localize "PL1E.Consumable"}}</h5>
    </div>

    <div class="list-column">
        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.Uses"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.uses" value="{{system.attributes.uses}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.IsReloadable"}}</label>
                </div>
                <div class="fields">
                    <input type="checkbox" name="system.attributes.isReloadable" {{checked system.attributes.isReloadable}} data-dtype="Boolean"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-items">
    <div class="list-header">
        <h5>{{localize "PL1E.Activation"}}</h5>
    </div>

    <div class="list-column">
        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.Activation"}}</label>
                </div>
                <div class="fields">
                    <select name="system.attributes.activation">
                        {{customSelectOptions (config "consumableActivations") selected=system.attributes.activation localize=true}}
                    </select>
                </div>
            </div>
        </div>

        {{#if (eq system.attributes.activation "action")}}
            <div class="item">
                <div class="item-content">
                    <div class="title">
                        <label>{{localize "PL1E.ActionCost"}}</label>
                    </div>
                    <div class="fields">
                        <input type="number" name="system.attributes.actionCost" value="{{system.attributes.actionCost}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-content">
                    <div class="title">
                        <label>{{localize "PL1E.IsMajorAction"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.isMajorAction" {{checked system.attributes.isMajorAction}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-content">
                    <div class="title">
                        <label>{{localize "PL1E.IsDangerous"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.isDangerous" {{checked system.attributes.isDangerous}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>

{{> "systems/pl1e/templates/item/parts/item-aspects-actives.hbs"}}
