<div class="list-fields">
    <div class="list-header">
        <h4>{{localize "PL1E.Attributes"}}</h4>
    </div>

    <div class="list-column">
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.Description"}}</label>
                </div>
                <div class="fields">
                    <button class="launch-text-editor" data-target="system.description">
                        <i class="fas fa-edit"></i> {{localize "PL1E.EditDescription"}}
                    </button>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.GoldPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.goldPrice" value="{{system.attributes.goldPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.SilverPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.silverPrice" value="{{system.attributes.silverPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.CopperPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.copperPrice" value="{{system.attributes.copperPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-fields">
    <div class="list-header">
        <h4>{{localize "PL1E.Consumables"}}</h4>
    </div>

    <div class="list-column">
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.ConsumableType"}}</label>
                </div>
                <div class="fields">
                    <select name="system.attributes.consumableType">
                        {{customSelectOptions (config "consumableTypes") selected=system.attributes.consumableType localize=true}}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-fields">
    <div class="list-header">
        <h4>{{localize "PL1E.Activation"}}</h4>
    </div>

    <div class="list-column">
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.Activation"}}</label>
                </div>
                <div class="fields">
                    <select name="system.attributes.activation">
                        {{customSelectOptions (config "consumableActivations") selected=system.attributes.activation localize=true}}
                    </select>
                </div>
            </div>
        </div>

        {{#if (eq system.attributes.activation "action")}}
            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.ActionCost"}}</label>
                    </div>
                    <div class="fields">
                        <input type="number" name="system.attributes.actionCost" value="{{system.attributes.actionCost}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.IsDangerous"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.isDangerous" {{checked system.attributes.isDangerous}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>

<div class="list-fields">
    <div class="list-header">
        <h4>{{localize "PL1E.Usage"}}</h4>
    </div>

    <div class="list-column">
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.Uses"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.uses" value="{{system.attributes.uses}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.IsReloadable"}}</label>
                </div>
                <div class="fields">
                    <input type="checkbox" name="system.attributes.isReloadable" {{checked system.attributes.isReloadable}} data-dtype="Boolean"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-fields">
    <div class="list-header">
        <h4>{{localize "PL1E.Target"}}</h4>
    </div>
    <div class="list-column">
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.AreaShape"}}</label>
                </div>
                <div class="fields">
                    <select name="system.attributes.areaShape">
                        {{customSelectOptions (config "areaShapesKeys") selected=system.attributes.areaShape localize=true}}
                    </select>
                </div>
            </div>
        </div>

        {{#if (ne system.attributes.areaShape "none")}}
            {{#unless system.attributes.useParentRange}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.Range"}}</label>
                        </div>
                        <div class="fields">
                            <input type="number" name="system.attributes.range" value="{{system.attributes.range}}" data-dtype="Number"/>
                            <select name="system.attributes.rangeNumberResolutionType">
                                {{customSelectOptions (config "resolutionTypesKeys") selected=system.attributes.rangeNumberResolutionType localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/unless}}

            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.AreaNumber"}}</label>
                    </div>
                    <div class="fields">
                        <input type="number" name="system.attributes.areaNumber" value="{{system.attributes.areaNumber}}" data-dtype="Number"/>
                        {{#if (or system.attributes.useParentRoll (ne (length system.attributes.roll) 0))}}
                            <select name="system.attributes.areaNumberResolutionType">
                                {{customSelectOptions (config "resolutionTypesKeys") selected=system.attributes.areaNumberResolutionType localize=true}}
                            </select>
                        {{/if}}
                    </div>
                </div>
            </div>

            {{#if (eq system.attributes.areaShape "circle")}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.CircleRadius"}}</label>
                        </div>
                        <div class="fields">
                            <input type="number" name="system.attributes.circleRadius" value="{{system.attributes.circleRadius}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            {{else if (eq system.attributes.areaShape "cone")}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.ConeLength"}}</label>
                        </div>
                        <div class="fields">
                            <input type="number" name="system.attributes.coneLength" value="{{system.attributes.coneLength}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.ConeAngle"}}</label>
                        </div>
                        <div class="fields">
                            <input type="number" name="system.attributes.coneAngle" value="{{system.attributes.coneAngle}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            {{else if (eq system.attributes.areaShape "ray")}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.RayLength"}}</label>
                        </div>
                        <div class="fields">
                            <input type="number" name="system.attributes.rayLength" value="{{system.attributes.rayLength}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/if}}

        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.SelfTarget"}}</label>
                </div>
                <div class="fields">
                    <select name="system.attributes.selfTarget">
                        {{customSelectOptions (config "selfTargetsKeys") selected=system.attributes.selfTarget localize=true}}
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.AutoTargetSelfIfNoToken"}}</label>
                </div>
                <div class="fields">
                    <input type="checkbox" name="system.attributes.autoTargetSelfIfNoToken" {{checked system.attributes.autoTargetSelfIfNoToken}} data-dtype="Boolean"/>
                </div>
            </div>
        </div>
    </div>
</div>

{{> "systems/pl1e/templates/item/parts/item-aspects-actives.hbs"}}
