<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Attributes"}}</legend>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.ActionCost"}}</label>
            <input type="number" name="system.attributes.actionCost" value="{{system.attributes.actionCost}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.ReactionCost"}}</label>
            <input type="number" name="system.attributes.reactionCost" value="{{system.attributes.reactionCost}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Uses"}}</label>
            <input type="number" name="system.attributes.uses" value="{{system.attributes.uses}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Reloadable"}}</label>
            <input type="checkbox" name="system.attributes.isReloadable" {{checked system.attributes.isReloadable}} data-dtype="Boolean"/>
        </div>
    </fieldset>
    {{> "systems/pl1e/templates/item/components/item-aspects-actives.hbs"}}
</section>