<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.MainAttributes"}}</legend>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Activation"}}</label>
            <select name="system.attributes.activation.value">
                {{selectOptions (config "activations") selected=system.attributes.activation.value localize=true}}
            </select>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Uses"}}</label>
            <input type="number" name="system.attributes.uses.value" value="{{system.attributes.uses.value}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Reloadable"}}</label>
            <input type="checkbox" name="system.attributes.reloadable.value" {{checked system.attributes.reloadable.value}} data-dtype="Boolean"/>
        </div>
    </fieldset>
    {{> "systems/pl1e/templates/item/parts/item-attributes-dynamics.hbs"}}
</section>