<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Attributes"}}</legend>
        <div class="form-group">
            <label>{{localize "PL1E.Description"}}</label>
            <button class="launch-text-editor" data-target="system.description">
                <i class="fas fa-edit"></i> {{localize "PL1E.EditDescription"}}
            </button>
        </div>
        <div class="form-group">
            <label>
                {{localize "PL1E.GoldPrice"}}
                <input type="number" name="system.attributes.price.gold" value="{{system.price.gold}}" data-dtype="Number"/>
            </label>
            <label>
                {{localize "PL1E.SilverPrice"}}
                <input type="number" name="system.attributes.price.silver" value="{{system.price.silver}}" data-dtype="Number"/>
            </label>
            <label>
                {{localize "PL1E.CopperPrice"}}
                <input type="number" name="system.attributes.price.copper" value="{{system.price.copper}}" data-dtype="Number"/>
            </label>
        </div>
    </fieldset>
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Consumable"}}</legend>
        <div class="form-group">
            <label>{{localize "PL1E.Uses"}}</label>
            <input type="number" name="system.attributes.uses" value="{{system.attributes.uses}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Reloadable"}}</label>
            <input type="checkbox" name="system.attributes.isReloadable" {{checked system.attributes.isReloadable}} data-dtype="Boolean"/>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.OutCombatOnly"}}</label>
            <input type="checkbox" name="system.attributes.outCombatOnly" {{checked system.attributes.outCombatOnly}} data-dtype="Boolean"/>
        </div>
        {{#unless system.attributes.outCombatOnly}}
            <hr>
            <div class="form-group">
                <label>{{localize "PL1E.Activation"}}</label>
                <select name="system.attributes.activation">
                    {{selectOptions (config "activations") selected=system.attributes.activation localize=true}}
                </select>
            </div>
            {{#if (eq system.attributes.activation "action")}}
                <div class="form-group">
                    <label>{{localize "PL1E.ActionCost"}}</label>
                    <input type="number" name="system.attributes.actionCost" value="{{system.attributes.actionCost}}" data-dtype="Number"/>
                </div>
            {{else if (eq system.attributes.activation "reaction")}}
                <div class="form-group">
                    <label>{{localize "PL1E.ReactionCost"}}</label>
                    <input type="number" name="system.attributes.reactionCost" value="1" data-dtype="Number" disabled/>
                </div>
            {{/if}}
        {{/unless}}
        <hr>
        <div class="form-group">
            <label>{{localize "PL1E.Roll"}}</label>
            <select name="system.attributes.roll">
                {{selectOptions (config "abilitySkills") selected=system.attributes.roll localize=true}}
            </select>
        </div>
        {{#unless system.attributes.outCombatOnly}}
            {{#if (ne (length system.attributes.roll) 0)}}
                <div class="form-group">
                    <label>{{localize "PL1E.OppositeRoll"}}</label>
                    <div class="form-fields">
                        <ul>
                            {{#each system.attributes.oppositeRoll}}
                                <li class="tag {{this}}">{{localize (config "abilityResistances" this)}}</li>
                            {{/each}}
                        </ul>
                        <a style="flex: 0;" class="trait-selector flexshrink" data-trait="abilityResistances" data-trait-label="PL1E.OppositeRoll" data-key-path="attributes.oppositeRoll"
                           data-tooltip="{{localize 'PL1E.OppositeRollConfig'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            {{/if}}
            <div class="form-group">
                <label>{{localize "PL1E.AreaShape"}}</label>
                <select name="system.attributes.areaShape">
                    {{selectOptions (config "areaShapes") selected=system.attributes.areaShape localize=true}}
                </select>
            </div>
            {{#if (ne system.attributes.areaShape "none")}}
                <div class="form-group">
                    <label>{{localize "PL1E.Range"}}</label>
                    <input type="number" name="system.attributes.range" value="{{system.attributes.range}}" data-dtype="Number"/>
                </div>
                <div class="form-group">
                    <label>{{localize "PL1E.AreaNumber"}}</label>
                    <input type="number" name="system.attributes.areaNumber" value="{{system.attributes.areaNumber}}" data-dtype="Number"/>
                </div>
                {{#if (eq system.attributes.areaShape "circle")}}
                    <div class="form-group">
                        <label>{{localize "PL1E.CircleRadius"}}</label>
                        <input type="number" name="system.attributes.circleRadius" value="{{system.attributes.circleRadius}}" data-dtype="Number"/>
                    </div>
                {{else if (eq system.attributes.areaShape "cone")}}
                    <div class="form-group">
                        <label>{{localize "PL1E.ConeLength"}}</label>
                        <input type="number" name="system.attributes.coneLength" value="{{system.attributes.coneLength}}" data-dtype="Number"/>
                    </div>
                {{else if (eq system.attributes.areaShape "square")}}
                    <div class="form-group">
                        <label>{{localize "PL1E.SquareLength"}}</label>
                        <input type="number" name="system.attributes.squareLength" value="{{system.attributes.squareLength}}" data-dtype="Number"/>
                    </div>
                {{else if (eq system.attributes.areaShape "ray")}}
                    <div class="form-group">
                        <label>{{localize "PL1E.RayLength"}}</label>
                        <input type="number" name="system.attributes.rayLength" value="{{system.attributes.rayLength}}" data-dtype="Number"/>
                    </div>
                {{/if}}
            {{/if}}
            <hr>
            <div class="form-group">
                <label>{{localize "PL1E.CustomMacros"}}</label>
                <input type="checkbox" name="system.attributes.customMacro" {{checked system.attributes.customMacro}} data-dtype="Boolean"/>
            </div>
            {{#if system.attributes.customMacro}}
                <div class="form-group">
                    <label>{{localize "PL1E.ActivationMacro"}}</label>
                    <input type="text" name="system.attributes.activationMacro" value="{{system.attributes.activationMacro}}" data-dtype="String"/>
                </div>
                <div class="form-group">
                    <label>{{localize "PL1E.PreLaunchMacro"}}</label>
                    <input type="text" name="system.attributes.preLaunchMacro" value="{{system.attributes.preLaunchMacro}}" data-dtype="String"/>
                </div>
                <div class="form-group">
                    <label>{{localize "PL1E.PostLaunchMacro"}}</label>
                    <input type="text" name="system.attributes.postLaunchMacro" value="{{system.attributes.postLaunchMacro}}" data-dtype="String"/>
                </div>
            {{else}}
                <div class="form-group">
                    <label>{{localize "PL1E.ActivationMacro"}}</label>
                    <select name="system.attributes.activationMacro">
                        {{selectOptions sequencerMacros selected=system.attributes.activationMacro localize=true}}
                    </select>
                </div>
                <div class="form-group">
                    <label>{{localize "PL1E.PreLaunchMacro"}}</label>
                    <select name="system.attributes.preLaunchMacro">
                        {{selectOptions sequencerMacros selected=system.attributes.preLaunchMacro localize=true}}
                    </select>
                </div>
                <div class="form-group">
                    <label>{{localize "PL1E.PostLaunchMacro"}}</label>
                    <select name="system.attributes.postLaunchMacro">
                        {{selectOptions sequencerMacros selected=system.attributes.postLaunchMacro localize=true}}
                    </select>
                </div>
            {{/if}}
        {{/unless}}
    </fieldset>
    {{> "systems/pl1e/templates/item/components/item-aspects-actives.hbs"}}
</section>