<div class="list-items">
    <div class="list-header">
        <h5>{{localize "PL1E.Attributes"}}</h5>
    </div>

    <div class="list-column">
        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.Description"}}</label>
                </div>
                <div class="fields">
                    <button class="launch-text-editor" data-target="system.description">
                        <i class="fas fa-edit"></i> {{localize "PL1E.EditDescription"}}
                    </button>
                </div>
            </div>
        </div>

        {{!-- Gold, Silver, Copper Price Inputs --}}
        {{#each ["GoldPrice", "SilverPrice", "CopperPrice"] as |priceType|}}
            <div class="item">
                <div class="item-content">
                    <div class="title">
                        <label>{{localize (concat "PL1E." priceType)}}</label>
                    </div>
                    <div class="fields">
                        <input type="number" name="system.attributes.{{lowercase priceType}}" value="{{system.attributes.[(lowercase priceType)]}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<div class="list-items">
    <div class="list-header">
        <h5>{{localize "PL1E.Consumable"}}</h5>
    </div>

    <div class="list-column">
        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.Uses"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.uses" value="{{system.attributes.uses}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.IsReloadable"}}</label>
                </div>
                <div class="fields">
                    <input type="checkbox" name="system.attributes.isReloadable" {{checked system.attributes.isReloadable}} data-dtype="Boolean"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-items">
    <div class="list-header">
        <h5>{{localize "PL1E.Activation"}}</h5>
    </div>

    <div class="list-column">
        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.Activation"}}</label>
                </div>
                <div class="fields">
                    <select name="system.attributes.activation">
                        {{customSelectOptions (config "consumableActivations") selected=system.attributes.activation localize=true}}
                    </select>
                </div>
            </div>
        </div>

        {{#if (eq system.attributes.activation "action")}}
            {{#each ["ActionCost", "IsMajorAction", "IsDangerous"] as |actionAttr|}}
                <div class="item">
                    <div class="item-content">
                        <div class="title">
                            <label>{{localize (concat "PL1E." actionAttr)}}</label>
                        </div>
                        <div class="fields">
                            <input type="{{#if (includes actionAttr "Is")}}checkbox{{else}}number{{/if}}"
                                   name="system.attributes.{{lowercase actionAttr}}"
                                {{#if (includes actionAttr "Is")}}{{checked system.attributes.[(lowercase actionAttr)]}}{{/if}}
                                   value="{{system.attributes.[(lowercase actionAttr)]}}"
                                   data-dtype="Boolean"/>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>

{{!-- Similar structure for Usage, Target, and Sequencer Macros sections --}}
{{> "systems/pl1e/templates/item/parts/item-aspects-actives.hbs"}}
