<div class="list-items">
    <div class="list-header">
        <h5 class="header-title">
            {{localize "PL1E.PassiveAspects"}}
        </h5>
        <div class="header-actions item-filter-list" data-filter="abilities">
            {{#each passiveAspectsObjects}}
                {{#with (config "aspects" name)}}
                    <a class="aspect-add hover-action" data-aspect-type="passive" data-aspect-id="{{@key}}" data-tooltip='{{localize label}}'>
                        <i class="fas {{icon}}"></i>
                    </a>
                {{/with}}
            {{/each}}
            <a class="active-aspects-copy hover-action" data-tooltip='{{localize "PL1E.Copy"}}'><i class="fas fa-copy"></i></a>
            <a class="active-aspects-paste hover-action" data-tooltip='{{localize "PL1E.Paste"}}'><i class="fas fa-paste"></i></a>
        </div>
    </div>
    <div class="list-column">
        {{#each passiveAspects}}
            {{#with (config "aspects" name)}}
                <div class="item" data-aspect-id="{{@key}}" data-aspect-type="passive" data-item-id="{{@key}}">
                    <div class="item-content">
                        <div class="title">
                            <a class="hover-info" data-tooltip="{{localize label}}"><i class="far {{icon}}"></i></a>
                            <label class="hover-info item-tooltip-activate">{{localize ../description}}</label>
                        </div>
                        <div class="controls">
                            <a class="aspect-remove hover-action" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="item-tooltip">
                        {{#if (eq ../name "modify")}}
                            {{> "systems/pl1e/templates/item/components/passive-aspect-modify.hbs" this aspect=../this}}
                        {{else if (eq ../name "status")}}
                            {{> "systems/pl1e/templates/item/components/passive-aspect-status.hbs" this aspect=../this}}
                        {{else if (eq ../name "passiveMacro")}}
                            {{> "systems/pl1e/templates/item/components/passive-aspect-macro.hbs" this aspect=../this}}
                        {{/if}}
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>
</div>
