<div class="form-group">
    <input type="checkbox" name="system.attributes.damage.apply" {{checked system.attributes.damage.apply}} >
    <label>{{localize "PL1E.Damage"}}</label>
    <input type="text" name="system.attributes.damage.value" value="{{system.attributes.damage.value}}"
           data-dtype="Number"/>
</div>
<div class="form-group">
    <input type="checkbox" name="system.attributes.impact.apply" {{checked system.attributes.impact.apply}} >
    <label>{{localize "PL1E.Impact"}}</label>
    <input type="text" name="system.attributes.impact.value" value="{{system.attributes.impact.value}}"
           data-dtype="Number"/>
</div>
<div class="form-group">
    <input type="checkbox" name="system.attributes.parry.apply" {{checked system.attributes.parry.apply}} >
    <label>{{localize "PL1E.Parry"}}</label>
    <input type="text" name="system.attributes.parry.value" value="{{system.attributes.parry.value}}"
           data-dtype="Number"/>
</div>
<div class="form-group">
    <input type="checkbox" name="system.attributes.hands.apply" {{checked
            system.attributes.hands.apply}} >
    <label>{{localize "PL1E.Hands"}}</label>
    <input type="text" name="system.attributes.hands.value" value="{{system.attributes.hands.value}}"
           data-dtype="Number"/>
</div>
<div class="form-group">
    <input type="checkbox" name="system.attributes.ammo.apply" {{checked
            system.attributes.ammo.apply}} >
    <label>{{localize "PL1E.Ammo"}}</label>
    <input type="text" name="system.attributes.ammo.value"
           value="{{system.attributes.ammo.value}}" data-dtype="Number"/>
</div>
<div class="form-group">
    <input type="checkbox" name="system.attributes.range.apply" {{checked
            system.attributes.range.apply}} >
    <label>{{localize "PL1E.Range"}}</label>
    <input type="text" name="system.attributes.range.value" value="{{system.attributes.range.value}}"
           data-dtype="Number"/>
</div>