<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.MainAttributes"}}</legend>
        {{#each system.attributes}}
            {{#with (configEntry "attributes" @key)}}
                {{#if (and (eq category "fixed") ../show)}}
                    <div class="item-attribute flexrow">
                        <label>{{localize label}}</label>
                        {{#if (eq type "number")}}
                            <input type="text" name="system.attributes.{{@key}}.value" value="{{../value}}" data-dtype="Number"/>
                        {{else if (eq type "bool")}}
                            <input type="checkbox" name="system.attributes.{{@key}}.value" {{checked ../value}} data-dtype="Boolean"/>
                        {{else if (eq type "select")}}
                            <select name="system.attributes.{{@key}}.value">
                                {{selectOptions (config select) selected=../value localize=true}}
                            </select>
                        {{/if}}
                        {{#if (ne resolutionType undefined)}}
                            <select name="system.attributes.{{@key}}.resolutionType">
                                {{selectOptions (config "resolutionTypes") selected=resolutionType localize=true}}
                            </select>
                        {{/if}}
                    </div>
                {{/if}}
            {{/with}}
        {{/each}}
    </fieldset>
    <fieldset>
        <legend class="section-header">{{localize "PL1E.SecondaryAttributes"}}</legend>
        <div class="item-attribute-select flexrow">
            <select name="system.selectedOptionalAttribute">
                {{selectOptions (configEntry "dynamicAttributesGroups" document.type) selected=system.selectedOptionalAttribute localize=true}}
            </select>
            <a class="attribute-add flexshrink" data-attribute={{system.selectedOptionalAttribute}} data-tooltip='{{localize "PL1E.AddAttribute"}}'>
                <i class="fas fa-plus"></i>
            </a>
        </div>
        {{#each system.optionalAttributes}}
            <hr>
            {{#with (configEntry "attributes" name)}}
                <div class="item-attribute flexrow">
                    <!-- Main values -->
                    <label class="attribute-name">{{localize label}}</label>
                    {{#with (configEntry ../dataGroup ../data)}}
                        {{#if (eq type "number")}}
                            <input class="input-positive-decimal" type="number" name="system.optionalAttributes.{{@key}}.value"
                                   value="{{../../value}}" data-dtype="Number"/>
                        {{else if (eq type "bool")}}
                            <input type="checkbox" name="system.optionalAttributes.{{@key}}.value" {{checked ../../value}} data-dtype="Boolean"/>
                        {{else if (eq type "select")}}
                            <select name="system.optionalAttributes.{{@key}}.value">
                                {{selectOptions (config select) selected=../../value localize=true}}
                            </select>
                        {{/if}}
                    {{/with}}
                    {{#if ../showActivationToggle}}
                        <select name="system.optionalAttributes.{{@key}}.activation">
                            {{selectOptions (config "activations") selected=../activation localize=true}}
                        </select>
                    {{/if}}
                    <a class="attribute-remove flexshrink" data-attribute={{@key}} data-tooltip='{{localize "PL1E.RemoveAttribute"}}'>
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                <!-- Secondary values -->
                <div class="item-attribute flexrow">
                    <select name="system.optionalAttributes.{{@key}}.dataGroup">
                        {{selectOptions dataGroups selected=../dataGroup localize=true}}
                    </select>
                    <select name="system.optionalAttributes.{{@key}}.data">
                        {{selectOptionsWithLabel (config ../dataGroup) selected=../data localize=true}}
                    </select>
                    {{#if (ne ../damageType undefined)}}
                        <select name="system.optionalAttributes.{{@key}}.damageType">
                            {{selectOptions (config "damageTypes") selected=../damageType localize=true}}
                        </select>
                    {{/if}}
                </div>
                <!-- Activation related values -->
                <div class="item-attribute flexrow">
                    {{#unless (eq ../activation "passive")}}
                        <select name="system.optionalAttributes.{{@key}}.targetGroup">
                            {{selectOptions (config "targetGroups") selected=../targetGroup localize=true}}
                        </select>
                        <select name="system.optionalAttributes.{{@key}}.resolutionType">
                            {{selectOptions (config "resolutionTypes") selected=../resolutionType localize=true}}
                        </select>
                    {{/unless}}
                </div>
            {{/with}}
        {{/each}}
    </fieldset>
</section>