<div>
    {{{enriched}}}
</div>

{{#unless (isEmpty attributesDisplay)}}
    <div class="list-fields">
        <div class="list-header">
            <h4>{{localize "PL1E.Attributes"}}</h4>
        </div>
        <div class="list-column">
            {{#each attributesDisplay}}
                <div class="field dashed">
                    <div class="field-content">
                        <div class="title">
                            <label>{{label}}</label>
                        </div>
                        <label class="value">{{value}}</label>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/unless}}

{{#unless (isEmpty passiveAspectsDisplay)}}
    <div class="list-fields">
        <div class="list-header">
            <h4>{{localize "PL1E.PassiveAspects"}}</h4>
        </div>
        <div class="list-column">
            {{#each passiveAspectsDisplay}}
                <div class="field dashed">
                    <div class="field-content">
                        <div class="title">
                            <label>{{label}}</label>
                        </div>
                        <label class="value">{{description}}</label>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/unless}}

{{#unless (isEmpty activeAspectsDisplay)}}
    <div class="list-fields">
        <div class="list-header">
            <h4>{{localize "PL1E.ActiveAspects"}}</h4>
        </div>
        <div class="list-column">
            {{#each activeAspectsDisplay}}
                <div class="field dashed">
                    <div class="field-content">
                        <div class="title">
                            <label>{{label}}</label>
                        </div>
                        <label class="value">{{description}}</label>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/unless}}