{{{enriched}}}

{{#unless (isEmpty attributesDisplay)}}
    <div class="descriptor-list">
        <h3 class="descriptor-header">{{localize "PL1E.Attributes"}}</h3>
        <div class="descriptor-column">
            {{#each attributesDisplay}}
                <div class="descriptor">
                    <label class="descriptor-label">{{label}}</label>
                    <label class="descriptor-value">{{value}}</label>
                </div>
            {{/each}}
        </div>
    </div>
{{/unless}}

{{#unless (isEmpty passiveAspectsDisplay)}}
    <div class="descriptor-list">
        <h3 class="descriptor-header">{{localize "PL1E.PassiveAspects"}}</h3>
        <div class="descriptor-column">
            {{#each passiveAspectsDisplay}}
                <div class="descriptor">
                    <label class="descriptor-label">{{label}}</label>
                    <label class="descriptor-value">{{description}}</label>
                </div>
            {{/each}}
        </div>
    </div>
{{/unless}}

{{#unless (isEmpty activeAspectsDisplay)}}
    <div class="descriptor-list">
        <h3 class="descriptor-header">{{localize "PL1E.ActiveAspects"}}</h3>
        <div class="descriptor-column">
            {{#each activeAspectsDisplay}}
                <div class="descriptor">
                    <label class="descriptor-label">{{label}}</label>
                    <label class="descriptor-value">{{description}}</label>
                </div>
            {{/each}}
        </div>
    </div>
{{/unless}}