<section class="scroll-auto">
    {{#each system.attributes as |attribute id|}}
        {{#if (and (eq attribute.category "fixed") attribute.apply)}}
            <div class="form-group">
                <label>{{localize attribute.label}}</label>
                {{#if (eq attribute.type "number")}}
                    <label class="align-right">{{attribute.value}}</label>
                {{else if (eq attribute.type "bool")}}
                {{else if (eq attribute.type "select")}}
                    <label class="align-right">{{localize (configEntry attribute.select attribute.value)}}</label>
                {{/if}}
            </div>
        {{/if}}
    {{/each}}
    <hr>
    {{#each system.optionalAttributes as |attribute id|}}
        <div class="form-group">
            <label>{{localize attribute.label}}</label>
            {{#if (eq attribute.type "number")}}
                <label class="align-right">{{attribute.value}}</label>
            {{else if (eq attribute.type "bool")}}
            {{else if (eq attribute.type "select")}}
                <label class="align-right">{{localize (configEntry attribute.select attribute.value)}}</label>
            {{/if}}
        </div>
    {{/each}}
    <ul class="traits-list">
        {{#each abilities as |abilities level|}}
            {{#each abilities as |item id|}}
                <li class="item-edit tag" data-item-id="{{item._id}}">
                    <a>{{level }} {{item.name}}</a>
                </li>
            {{/each}}
        {{/each}}
        {{#each features as |item id|}}
            <li class="item-edit tag" data-item-id="{{item._id}}">
                <a>{{item.name}}</a>
            </li>
        {{/each}}
    </ul>
    <hr>
    {{editor system.attributes.description.value target="system.attributes.description.value" rollData=rollData
             button=true owner=owner editable=editable engine="prosemirror"}}
</section>