{{#each system.attributes as |attribute id|}}
    <div class="form-group">
        <input type="checkbox" name="{{attribute}}.apply" {{checked attribute.apply}} >
        <label>{{localize attribute.label}}</label>
        <input type="text" name="{{attribute}}.value" value="{{attribute.value}}"
               data-dtype="Number"/>
    </div>
{{/each}}