<div>
    {{{enriched}}}
</div>

{{#unless (isEmpty attributesDisplay)}}
    <div class="list-items">
        <div class="list-header">
            <h5>{{localize "PL1E.Attributes"}}</h5>
        </div>
        <div class="list-column">
            {{#each attributesDisplay}}
                <div class="item dashed">
                    <div class="item-content">
                        <div class="title">
                            <label>{{label}}</label>
                        </div>
                        <label class="value">{{value}}</label>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/unless}}

{{#unless (isEmpty passiveAspectsDisplay)}}
    <div class="list-items">
        <div class="list-header">
            <h5>{{localize "PL1E.PassiveAspects"}}</h5>
        </div>
        <div class="list-column">
            {{#each passiveAspectsDisplay}}
                <div class="item dashed">
                    <div class="item-content">
                        <div class="title">
                            <label>{{label}}</label>
                        </div>
                        <label class="value">{{description}}</label>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/unless}}

{{#unless (isEmpty activeAspectsDisplay)}}
    <div class="list-items">
        <div class="list-header">
            <h5>{{localize "PL1E.ActiveAspects"}}</h5>
        </div>
        <div class="list-column">
            {{#each activeAspectsDisplay}}
                <div class="item dashed">
                    <div class="item-content">
                        <div class="title">
                            <label>{{label}}</label>
                        </div>
                        <label class="value">{{description}}</label>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/unless}}