{{log system}}
{{#each system.attributes as |attribute id|}}
    {{#unless (eq attribute.apply undefined)}}
        <div class="form-group">
            <input type="checkbox" name="system.attributes.{{id}}.apply" {{checked attribute.apply}}/>
            <label>{{localize attribute.label}}</label>
            {{#if (eq attribute.type "number")}}
                <input type="text" name="system.attributes.{{id}}.value" value="{{attribute.value}}" data-dtype="Number"/>
            {{else if (eq attribute.type "bool")}}
                <input type="checkbox" name="system.attributes.{{id}}.value" {{checked attribute.value}} data-dtype="Boolean"/>
            {{else if (eq attribute.type "select")}}
                <select name="system.attributes.{{id}}.value">
                    {{selectOptions (config attribute.select) selected=attribute.value localize=true}}
                </select>
            {{/if}}
        </div>
    {{/unless}}
{{/each}}