{{#each system.attributes as |attribute id|}}
    {{#if attribute.apply}}
        <div class="form-group">
            <label>{{localize attribute.label}}</label>
            <label class="align-right">{{attribute.value}}</label>
        </div>
    {{/if}}
{{/each}}
<ul class="traits-list">
    {{#each abilities as |abilities level|}}
        {{#each abilities as |item id|}}
            <li class="tag {{id}}"><a>{{level }} {{item.name}}</a></li>
        {{/each}}
    {{/each}}
    {{#each features as |item id|}}
        <li class="tag {{id}}"><a>{{item.name}}</a></li>
    {{/each}}
</ul>
<hr>
{{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}