{{#each system.attributes as |attribute id|}}
    {{#if attribute.apply}}
        <div class="form-group">
            <label>{{localize (getAttribute id "label")}}</label>
            {{#if (eq (getAttribute id "type") "number")}}
                <label class="align-right">{{attribute.value}}</label>
            {{else if (eq (getAttribute id "type") "bool")}}
            {{else if (eq (getAttribute id "type") "select")}}
                <label class="align-right">{{localize (configEntry (getAttribute id "select") attribute.value)}}</label>
            {{/if}}
        </div>
    {{/if}}
{{/each}}
<ul class="traits-list">
    {{#each abilities as |abilities level|}}
        {{#each abilities as |item id|}}
            <li class="tag {{id}}"><a>{{level }} {{item.name}}</a></li>
        {{/each}}
    {{/each}}
    {{#each features as |item id|}}
        <li class="tag {{id}}"><a>{{item.name}}</a></li>
    {{/each}}
</ul>
<hr>
{{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}