<div class="list-items">
    <div class="list-header">
        <h5>{{localize "PL1E.Attributes"}}</h5>
    </div>

    <div class="list-column">
        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.Description"}}</label>
                </div>
                <div class="fields">
                    <button class="launch-text-editor" data-target="system.description">
                        <i class="fas fa-edit"></i> {{localize "PL1E.EditDescription"}}
                    </button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.GoldPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.goldPrice" value="{{system.attributes.goldPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.SilverPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.silverPrice" value="{{system.attributes.silverPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.CopperPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.copperPrice" value="{{system.attributes.copperPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-items">
    <div class="list-header">
        <h5>{{localize "PL1E.Module"}}</h5>
    </div>

    <div class="list-column">
        <div class="item">
            <div class="item-content">
                <div class="title">
                    <label>{{localize "PL1E.ModuleTypes"}}</label>
                </div>
                <div class="fields">
                    <ul>
                        {{#each system.attributes.moduleTypes}}
                            <li class="tag {{this}}">{{localize (config "moduleTypes" this)}}</li>
                        {{/each}}
                    </ul>
                    <a class="trait-selector align-right" data-trait="moduleTypes" data-trait-label="PL1E.ModuleTypes" data-key-path="attributes.moduleTypes" data-tooltip="{{localize 'PL1E.ModuleTypesConfig'}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> "systems/pl1e/templates/item/parts/item-aspects-passives.hbs"}}
{{> "systems/pl1e/templates/item/parts/item-aspects-actives.hbs"}}
