<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Attributes"}}</legend>
        <div class="form-group">
            <label>{{localize "PL1E.Description"}}</label>
            <button class="launch-text-editor" data-target="system.description">
                <i class="fas fa-edit"></i> {{localize "PL1E.EditDescription"}}
            </button>
        </div>
        <div class="form-group">
            <label>
                {{localize "PL1E.GoldPrice"}}
                <input type="number" name="system.attributes.price.gold" value="{{system.price.gold}}" data-dtype="Number"/>
            </label>
            <label>
                {{localize "PL1E.SilverPrice"}}
                <input type="number" name="system.attributes.price.silver" value="{{system.price.silver}}" data-dtype="Number"/>
            </label>
            <label>
                {{localize "PL1E.CopperPrice"}}
                <input type="number" name="system.attributes.price.copper" value="{{system.price.copper}}" data-dtype="Number"/>
            </label>
        </div>
    </fieldset>
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Weapon"}}</legend>
        <div class="form-group">
            <label>{{localize "PL1E.Customizable"}}</label>
            <input type="checkbox" name="system.attributes.customizable" {{checked system.attributes.customizable}} data-dtype="Boolean"/>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Modules"}}</label>
            <input type="number" name="system.attributes.modules" value="{{system.attributes.modules}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Hands"}}</label>
            <input type="number" name="system.attributes.hands" value="{{system.attributes.hands}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Uses"}}</label>
            <input type="number" name="system.attributes.uses" value="{{system.attributes.uses}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.MeleeUse"}}</label>
            <input type="checkbox" name="system.attributes.meleeUse" {{checked system.attributes.meleeUse}} data-dtype="Boolean"/>
        </div>
        {{#if system.attributes.meleeUse}}
            <div class="form-group">
                <label>{{localize "PL1E.Reach"}}</label>
                <input type="number" name="system.attributes.reach" value="{{system.attributes.reach}}" data-dtype="Number"/>
            </div>
            <div class="form-group">
                <label>{{localize "PL1E.MeleeRoll"}}</label>
                <div class="form-fields">
                    <ul>
                        {{#each system.attributes.meleeRoll}}
                            <li class="tag {{this}}">{{localize (config "abilitySkills" this)}}</li>
                        {{/each}}
                    </ul>
                    <a style="flex: 0;" class="trait-selector flexshrink" data-trait="abilitySkills" data-trait-label="PL1E.MeleeRoll" data-key-path="attributes.meleeRoll"
                       data-tooltip="{{localize 'PL1E.MeleeRollConfig'}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div>
            {{#if (gt system.attributes.meleeRoll.length 0)}}
                <div class="form-group">
                    <label>{{localize "PL1E.MeleeOppositeRoll"}}</label>
                    <div class="form-fields">
                        <ul>
                            {{#each system.attributes.meleeOppositeRoll}}
                                <li class="tag {{this}}">{{localize (config "abilityResistances" this)}}</li>
                            {{/each}}
                        </ul>
                        <a style="flex: 0;" class="trait-selector flexshrink" data-trait="abilityResistances" data-trait-label="PL1E.MeleeOppositeRoll" data-key-path="attributes.meleeOppositeRoll"
                           data-tooltip="{{localize 'PL1E.MeleeOppositeRollConfig'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        <div class="form-group">
            <label>{{localize "PL1E.RangedUse"}}</label>
            <input type="checkbox" name="system.attributes.rangedUse" {{checked system.attributes.rangedUse}} data-dtype="Boolean"/>
        </div>
        {{#if system.attributes.rangedUse}}
            <div class="form-group">
                <label>{{localize "PL1E.Range"}}</label>
                <input type="number" name="system.attributes.range" value="{{system.attributes.range}}" data-dtype="Number"/>
            </div>
            <div class="form-group">
                <label>{{localize "PL1E.RangeRoll"}}</label>
                <div class="form-fields">
                    <ul>
                        {{#each system.attributes.rangeRoll}}
                            <li class="tag {{this}}">{{localize (config "abilitySkills" this)}}</li>
                        {{/each}}
                    </ul>
                    <a style="flex: 0;" class="trait-selector flexshrink" data-trait="abilitySkills" data-trait-label="PL1E.RangeRoll" data-key-path="attributes.rangeRoll"
                       data-tooltip="{{localize 'PL1E.RangeRollConfig'}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div>
            {{#if (gt system.attributes.rangeRoll.length 0)}}
                <div class="form-group">
                    <label>{{localize "PL1E.RangeOppositeRoll"}}</label>
                    <div class="form-fields">
                        <ul>
                            {{#each system.attributes.rangeOppositeRoll}}
                                <li class="tag {{this}}">{{localize (config "abilityResistances" this)}}</li>
                            {{/each}}
                        </ul>
                        <a style="flex: 0;" class="trait-selector flexshrink" data-trait="abilityResistances" data-trait-label="PL1E.RangeOppositeRoll" data-key-path="attributes.rangeOppositeRoll"
                           data-tooltip="{{localize 'PL1E.RangeOppositeRollConfig'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        <div class="form-group">
            <label>{{localize "PL1E.MagicUse"}}</label>
            <input type="checkbox" name="system.attributes.magicUse" {{checked system.attributes.magicUse}} data-dtype="Boolean"/>
        </div>
        {{#if system.attributes.magicUse}}
            <div class="form-group">
                <label>{{localize "PL1E.MagicRoll"}}</label>
                <div class="form-fields">
                    <ul>
                        {{#each system.attributes.magicRoll}}
                            <li class="tag {{this}}">{{localize (config "abilitySkills" this)}}</li>
                        {{/each}}
                    </ul>
                    <a style="flex: 0;" class="trait-selector flexshrink" data-trait="abilitySkills" data-trait-label="PL1E.MagicRoll" data-key-path="attributes.magicRoll"
                       data-tooltip="{{localize 'PL1E.MagicRollConfig'}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div>
            {{#if (gt system.attributes.magicRoll.length 0)}}
                <div class="form-group">
                    <label>{{localize "PL1E.MagicOppositeRoll"}}</label>
                    <div class="form-fields">
                        <ul>
                            {{#each system.attributes.magicOppositeRoll}}
                                <li class="tag {{this}}">{{localize (config "abilityResistances" this)}}</li>
                            {{/each}}
                        </ul>
                        <a style="flex: 0;" class="trait-selector flexshrink" data-trait="abilityResistances" data-trait-label="PL1E.MagicOppositeRoll" data-key-path="attributes.magicOppositeRoll"
                           data-tooltip="{{localize 'PL1E.MagicOppositeRollConfig'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            {{/if}}
        {{/if}}
    </fieldset>
    <fieldset>
        <legend class="section-header">{{localize "PL1E.SequencerMacros"}}</legend>
        <div class="form-group">
            <label>{{localize "PL1E.ActivationMacro"}}</label>
            <select name="system.attributes.activationMacro">
                {{selectOptions (config "sequencerMacros") selected=system.attributes.activationMacro localize=true}}
            </select>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.PreLaunchMacro"}}</label>
            <select name="system.attributes.preLaunchMacro">
                {{selectOptions (config "sequencerMacros") selected=system.attributes.preLaunchMacro localize=true}}
            </select>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.PostLaunchMacro"}}</label>
            <select name="system.attributes.postLaunchMacro">
                {{selectOptions (config "sequencerMacros") selected=system.attributes.postLaunchMacro localize=true}}
            </select>
        </div>
    </fieldset>
    {{> "systems/pl1e/templates/item/components/item-aspects-passives.hbs"}}
    {{> "systems/pl1e/templates/item/components/item-aspects-actives.hbs"}}
</section>