<div class="list-fields">
    <div class="list-header">
        <h4>{{localize "PL1E.Attributes"}}</h4>
    </div>

    <div class="list-column">
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.Description"}}</label>
                </div>
                <div class="fields">
                    <button class="launch-text-editor" data-target="system.description">
                        <i class="fas fa-edit"></i> {{localize "PL1E.EditDescription"}}
                    </button>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.GoldPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.goldPrice" value="{{system.attributes.goldPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.SilverPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.silverPrice" value="{{system.attributes.silverPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.CopperPrice"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.copperPrice" value="{{system.attributes.copperPrice}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-fields">
    <div class="list-header">
        <h4>{{localize "PL1E.Weapon"}}</h4>
    </div>
    <div class="list-column">
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.Customizable"}}</label>
                </div>
                <div class="fields">
                    <input type="checkbox" name="system.attributes.customizable" {{checked system.attributes.customizable}} data-dtype="Boolean"/>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.Modules"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.modules" value="{{system.attributes.modules}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.Hands"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.hands" value="{{system.attributes.hands}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.Uses"}}</label>
                </div>
                <div class="fields">
                    <input type="number" name="system.attributes.uses" value="{{system.attributes.uses}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.MeleeUse"}}</label>
                </div>
                <div class="fields">
                    <input type="checkbox" name="system.attributes.meleeUse" {{checked system.attributes.meleeUse}} data-dtype="Boolean"/>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.RangedUse"}}</label>
                </div>
                <div class="fields">
                    <input type="checkbox" name="system.attributes.rangedUse" {{checked system.attributes.rangedUse}} data-dtype="Boolean"/>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.MagicUse"}}</label>
                </div>
                <div class="fields">
                    <input type="checkbox" name="system.attributes.magicUse" {{checked system.attributes.magicUse}} data-dtype="Boolean"/>
                </div>
            </div>
        </div>
    </div>
</div>

{{#if system.attributes.meleeUse}}
    <div class="list-fields">
        <div class="list-header">
            <h4>{{localize "PL1E.Melee"}}</h4>
        </div>
        <div class="list-column">
            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.Reach"}}</label>
                    </div>
                    <div class="fields">
                        <input type="number" name="system.attributes.reach" value="{{system.attributes.reach}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.MeleeRoll"}}</label>
                    </div>
                    <div class="fields">
                        <ul>
                            {{#each system.attributes.meleeRoll}}
                                <li class="tag {{this}}">{{localize (config "abilitySkills" this)}}</li>
                            {{/each}}
                        </ul>
                        <a style="flex: 0;" class="trait-selector flex-shrink" data-trait="abilitySkills" data-trait-label="PL1E.MeleeRoll" data-key-path="attributes.meleeRoll" data-tooltip="{{localize 'PL1E.MeleeRollConfig'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
            {{#if (gt system.attributes.meleeRoll.length 0)}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MeleeOppositeRoll"}}</label>
                        </div>
                        <div class="fields">
                            <ul>
                                {{#each system.attributes.meleeOppositeRoll}}
                                    <li class="tag {{this}}">{{localize (config "abilityResistances" this)}}</li>
                                {{/each}}
                            </ul>
                            <a style="flex: 0;" class="trait-selector flex-shrink" data-trait="abilityResistances" data-trait-label="PL1E.MeleeOppositeRoll" data-key-path="attributes.meleeOppositeRoll" data-tooltip="{{localize 'PL1E.MeleeOppositeRollConfig'}}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {{/if}}

            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.CustomMeleeActivationMacro"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.customMeleeActivationMacro" {{checked system.attributes.customMeleeActivationMacro}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>
            {{#unless system.attributes.customMeleeActivationMacro}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MeleeActivationPreset"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.meleeActivationPreset">
                                {{customSelectOptions (config "sequencerPresets") selected=system.attributes.meleeActivationPreset localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MeleeActivationMacro"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.meleeActivationMacro">
                                {{customSelectOptions (config "sequencerMacros") selected=system.attributes.meleeActivationMacro localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/unless}}

            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.CustomMeleePreLaunchMacro"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.customMeleePreLaunchMacro" {{checked system.attributes.customMeleePreLaunchMacro}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>
            {{#unless system.attributes.customMeleePreLaunchMacro}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MeleePreLaunchPreset"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.meleePreLaunchPreset">
                                {{customSelectOptions (config "sequencerPresets") selected=system.attributes.meleePreLaunchPreset localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MeleePreLaunchMacro"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.meleePreLaunchMacro">
                                {{customSelectOptions (config "sequencerMacros") selected=system.attributes.meleePreLaunchMacro localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/unless}}

            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.CustomMeleePostLaunchMacro"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.customMeleePostLaunchMacro" {{checked system.attributes.customMeleePostLaunchMacro}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>
            {{#unless system.attributes.customMeleePostLaunchMacro}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MeleePostLaunchPreset"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.meleePostLaunchPreset">
                                {{customSelectOptions (config "sequencerPresets") selected=system.attributes.meleePostLaunchPreset localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MeleePostLaunchMacro"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.meleePostLaunchMacro">
                                {{customSelectOptions (config "sequencerMacros") selected=system.attributes.meleePostLaunchMacro localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/unless}}
        </div>
    </div>
{{/if}}

{{#if system.attributes.rangedUse}}
    <div class="list-fields">
        <div class="list-header">
            <h4>{{localize "PL1E.Ranged"}}</h4>
        </div>
        <div class="list-column">
            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.Range"}}</label>
                    </div>
                    <div class="fields">
                        <input type="number" name="system.attributes.range" value="{{system.attributes.range}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.RangeRoll"}}</label>
                    </div>
                    <div class="fields">
                        <ul>
                            {{#each system.attributes.rangeRoll}}
                                <li class="tag {{this}}">{{localize (config "abilitySkills" this)}}</li>
                            {{/each}}
                        </ul>
                        <a style="flex: 0;" class="trait-selector flex-shrink" data-trait="abilitySkills" data-trait-label="PL1E.RangeRoll" data-key-path="attributes.rangeRoll" data-tooltip="{{localize 'PL1E.RangeRollConfig'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
            {{#if (gt system.attributes.rangeRoll.length 0)}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.RangeOppositeRoll"}}</label>
                        </div>
                        <div class="fields">
                            <ul>
                                {{#each system.attributes.rangeOppositeRoll}}
                                    <li class="tag {{this}}">{{localize (config "abilityResistances" this)}}</li>
                                {{/each}}
                            </ul>
                            <a style="flex: 0;" class="trait-selector flex-shrink" data-trait="abilityResistances" data-trait-label="PL1E.RangeOppositeRoll" data-key-path="attributes.rangeOppositeRoll" data-tooltip="{{localize 'PL1E.RangeOppositeRollConfig'}}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {{/if}}

            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.CustomRangeActivationMacro"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.customRangeActivationMacro" {{checked system.attributes.customRangeActivationMacro}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>
            {{#unless system.attributes.customRangeActivationMacro}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.RangeActivationPreset"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.rangeActivationPreset">
                                {{customSelectOptions (config "sequencerPresets") selected=system.attributes.rangeActivationPreset localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.RangeActivationMacro"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.rangeActivationMacro">
                                {{customSelectOptions (config "sequencerMacros") selected=system.attributes.rangeActivationMacro localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/unless}}

            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.CustomRangePreLaunchMacro"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.customRangePreLaunchMacro" {{checked system.attributes.customRangePreLaunchMacro}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>
            {{#unless system.attributes.customRangePreLaunchMacro}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.RangePreLaunchPreset"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.rangePreLaunchPreset">
                                {{customSelectOptions (config "sequencerPresets") selected=system.attributes.rangePreLaunchPreset localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.RangePreLaunchMacro"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.rangePreLaunchMacro">
                                {{customSelectOptions (config "sequencerMacros") selected=system.attributes.rangePreLaunchMacro localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/unless}}

            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.CustomRangePostLaunchMacro"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.customRangePostLaunchMacro" {{checked system.attributes.customRangePostLaunchMacro}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>
            {{#unless system.attributes.customRangePostLaunchMacro}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.RangePostLaunchPreset"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.rangePostLaunchPreset">
                                {{customSelectOptions (config "sequencerPresets") selected=system.attributes.rangePostLaunchPreset localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.RangePostLaunchMacro"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.rangePostLaunchMacro">
                                {{customSelectOptions (config "sequencerMacros") selected=system.attributes.rangePostLaunchMacro localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/unless}}

        </div>
    </div>
{{/if}}

{{#if system.attributes.magicUse}}
    <div class="list-fields">
        <div class="list-header">
            <h4>{{localize "PL1E.Magic"}}</h4>
        </div>
        <div class="list-column">
            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.MagicRoll"}}</label>
                    </div>
                    <div class="fields">
                        <ul>
                            {{#each system.attributes.magicRoll}}
                                <li class="tag {{this}}">{{localize (config "abilitySkills" this)}}</li>
                            {{/each}}
                        </ul>
                        <a style="flex: 0;" class="trait-selector flex-shrink" data-trait="abilitySkills" data-trait-label="PL1E.MagicRoll" data-key-path="attributes.magicRoll" data-tooltip="{{localize 'PL1E.MagicRollConfig'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
            {{#if (gt system.attributes.magicRoll.length 0)}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MagicOppositeRoll"}}</label>
                        </div>
                        <div class="fields">
                            <ul>
                                {{#each system.attributes.magicOppositeRoll}}
                                    <li class="tag {{this}}">{{localize (config "abilityResistances" this)}}</li>
                                {{/each}}
                            </ul>
                            <a style="flex: 0;" class="trait-selector flex-shrink" data-trait="abilityResistances" data-trait-label="PL1E.MagicOppositeRoll" data-key-path="attributes.magicOppositeRoll" data-tooltip="{{localize 'PL1E.MagicOppositeRollConfig'}}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {{/if}}

            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.CustomMagicActivationMacro"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.customMagicActivationMacro" {{checked system.attributes.customMagicActivationMacro}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>
            {{#unless system.attributes.customMagicActivationMacro}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MagicActivationPreset"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.magicActivationPreset">
                                {{customSelectOptions (config "sequencerPresets") selected=system.attributes.magicActivationPreset localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MagicActivationMacro"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.magicActivationMacro">
                                {{customSelectOptions (config "sequencerMacros") selected=system.attributes.magicActivationMacro localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/unless}}

            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.CustomMagicPreLaunchMacro"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.customMagicPreLaunchMacro" {{checked system.attributes.customMagicPreLaunchMacro}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>
            {{#unless system.attributes.customMagicPreLaunchMacro}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MagicPreLaunchPreset"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.magicPreLaunchPreset">
                                {{customSelectOptions (config "sequencerPresets") selected=system.attributes.magicPreLaunchPreset localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MagicPreLaunchMacro"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.magicPreLaunchMacro">
                                {{customSelectOptions (config "sequencerMacros") selected=system.attributes.magicPreLaunchMacro localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/unless}}

            <div class="field">
                <div class="field-content">
                    <div class="title">
                        <label>{{localize "PL1E.CustomMagicPostLaunchMacro"}}</label>
                    </div>
                    <div class="fields">
                        <input type="checkbox" name="system.attributes.customMagicPostLaunchMacro" {{checked system.attributes.customMagicPostLaunchMacro}} data-dtype="Boolean"/>
                    </div>
                </div>
            </div>
            {{#unless system.attributes.customMagicPostLaunchMacro}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MagicPostLaunchPreset"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.magicPostLaunchPreset">
                                {{customSelectOptions (config "sequencerPresets") selected=system.attributes.magicPostLaunchPreset localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="field">
                    <div class="field-content">
                        <div class="title">
                            <label>{{localize "PL1E.MagicPostLaunchMacro"}}</label>
                        </div>
                        <div class="fields">
                            <select name="system.attributes.magicPostLaunchMacro">
                                {{customSelectOptions (config "sequencerMacros") selected=system.attributes.magicPostLaunchMacro localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/unless}}

        </div>
    </div>
{{/if}}

{{> "systems/pl1e/templates/item/parts/item-aspects-passives.hbs"}}
{{> "systems/pl1e/templates/item/parts/item-aspects-actives.hbs"}}
