<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.MainAttributes"}}</legend>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Hands"}}</label>
            <input type="number" name="system.attributes.hands" value="{{system.attributes.hands}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Range"}}</label>
            <input type="number" name="system.attributes.range" value="{{system.attributes.range}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Ammo"}}</label>
            <input type="number" name="system.attributes.ammo" value="{{system.attributes.ammo}}" data-dtype="Number"/>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.ParryProjectiles"}}</label>
            <input type="checkbox" name="system.attributes.parryProjectiles" {{checked system.attributes.parryProjectiles}} data-dtype="Boolean"/>
        </div>
    </fieldset>
    {{> "systems/pl1e/templates/item/components/item-aspects-passives.hbs"}}
    {{> "systems/pl1e/templates/item/components/item-aspects-actives.hbs"}}
</section>