<section class="scroll-auto">
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Attributes"}}</legend>
        <div class="form-group">
            <label>{{localize "PL1E.Description"}}</label>
            <button class="launch-text-editor" data-target="system.description">
                <i class="fas fa-edit"></i> {{localize "PL1E.EditDescription"}}
            </button>
        </div>
        <div class="form-group">
            <label>
                {{localize "PL1E.GoldPrice"}}
                <input type="number" name="system.attributes.price.gold" value="{{system.price.gold}}" data-dtype="Number"/>
            </label>
            <label>
                {{localize "PL1E.SilverPrice"}}
                <input type="number" name="system.attributes.price.silver" value="{{system.price.silver}}" data-dtype="Number"/>
            </label>
            <label>
                {{localize "PL1E.CopperPrice"}}
                <input type="number" name="system.attributes.price.copper" value="{{system.price.copper}}" data-dtype="Number"/>
            </label>
        </div>
    </fieldset>
    <fieldset>
        <legend class="section-header">{{localize "PL1E.Wearable"}}</legend>
        <div class="form-group">
            <label>{{localize "PL1E.Customizable"}}</label>
            <input type="checkbox" name="system.attributes.customizable" {{checked system.attributes.customizable}} data-dtype="Boolean"/>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Modules"}}</label>
            <input type="number" name="system.attributes.modules" value="{{system.attributes.modules}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.Slot"}}</label>
            <select name="system.attributes.slot">
                {{customSelectOptions (config "slots") selected=system.attributes.slot localize=true}}
            </select>
        </div>
        <div class="form-group">
            <label>{{localize "PL1E.MagicUse"}}</label>
            <input type="checkbox" name="system.attributes.magicUse" {{checked system.attributes.magicUse}} data-dtype="Boolean"/>
        </div>
    </fieldset>
    {{#if system.attributes.magicUse}}
        <fieldset>
            <legend class="section-header">{{localize "PL1E.Magic"}}</legend>
            <div class="form-group">
                <label>{{localize "PL1E.MagicRoll"}}</label>
                <div class="form-fields">
                    <ul>
                        {{#each system.attributes.magicRoll}}
                            <li class="tag {{this}}">{{localize (config "abilitySkills" this)}}</li>
                        {{/each}}
                    </ul>
                    <a style="flex: 0;" class="trait-selector flexshrink" data-trait="abilitySkills" data-trait-label="PL1E.MagicRoll" data-key-path="attributes.magicRoll"
                       data-tooltip="{{localize 'PL1E.MagicRollConfig'}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div>
            {{#if (gt system.attributes.magicRoll.length 0)}}
                <div class="form-group">
                    <label>{{localize "PL1E.MagicOppositeRoll"}}</label>
                    <div class="form-fields">
                        <ul>
                            {{#each system.attributes.magicOppositeRoll}}
                                <li class="tag {{this}}">{{localize (config "abilityResistances" this)}}</li>
                            {{/each}}
                        </ul>
                        <a style="flex: 0;" class="trait-selector flexshrink" data-trait="abilityResistances" data-trait-label="PL1E.MagicOppositeRoll" data-key-path="attributes.magicOppositeRoll"
                           data-tooltip="{{localize 'PL1E.MagicOppositeRollConfig'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
            {{/if}}
            <div class="form-group">
                <label>{{localize "PL1E.MagicActivationMacro"}}</label>
                <select name="system.attributes.magicActivationMacro">
                    {{customSelectOptions (config "sequencerMacros") selected=system.attributes.magicActivationMacro localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "PL1E.MagicPreLaunchMacro"}}</label>
                <select name="system.attributes.magicPreLaunchMacro">
                    {{customSelectOptions (config "sequencerMacros") selected=system.attributes.magicPreLaunchMacro localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "PL1E.MagicPostLaunchMacro"}}</label>
                <select name="system.attributes.magicPostLaunchMacro">
                    {{customSelectOptions (config "sequencerMacros") selected=system.attributes.magicPostLaunchMacro localize=true}}
                </select>
            </div>
        </fieldset>
    {{/if}}
    {{> "systems/pl1e/templates/item/components/item-aspects-passives.hbs"}}
</section>