<div class="list-items">
    <div class="list-column">

        <div class="item">
            <div class="item-content">
                <label class="title">{{localize "PL1E.DataGroup"}}</label>
                <div class="controls">
                    <select name="system.activeAspects.{{@key}}.dataGroup">
                        {{customSelectOptions dataGroups selected=aspect.dataGroup localize=true}}
                    </select>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-content">
                <label class="title">{{localize "PL1E.Data"}}</label>
                <div class="controls">
                    <select name="system.activeAspects.{{@key}}.data">
                        {{customSelectOptions (config aspect.dataGroup) selected=aspect.data localize=true}}
                    </select>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-content">
                <label class="title">{{localize "PL1E.TargetGroup"}}</label>
                <div class="controls">
                    <select name="system.activeAspects.{{@key}}.targetGroup">
                        {{customSelectOptions (config "targetGroups") selected=aspect.targetGroup localize=true}}
                    </select>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-content">
                <label class="title">{{localize "PL1E.MovementDestination"}}</label>
                <div class="controls">
                    <select name="system.activeAspects.{{@key}}.movementDestination">
                        {{customSelectOptions (config "targetGroupWithTemplate") selected=aspect.movementDestination localize=true}}
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>
