<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.DataGroup"}}</label>
    <select name="system.activeAspects.{{@key}}.dataGroup">
        {{selectOptions dataGroups selected=aspect.dataGroup localize=true}}
    </select>
</div>
<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.Data"}}</label>
    <select name="system.activeAspects.{{@key}}.data">
        {{selectOptions (config aspect.dataGroup) selected=aspect.data localize=true}}
    </select>
</div>
<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.TargetGroup"}}</label>
    <select name="system.activeAspects.{{@key}}.targetGroup">
        {{selectOptions (config "targetGroups") selected=aspect.targetGroup localize=true}}
    </select>
</div>
{{#unless (eq aspect.context "targetsResolution")}}
    <div class="item-attribute flexrow">
        <label class="attribute-name">{{localize "PL1E.EffectDuration"}}</label>
        <input class="input-positive-decimal" type="number" name="system.activeAspects.{{@key}}.effectDuration" value="{{aspect.effectDuration}}" data-dtype="Number"/>
    </div>
    <div class="item-attribute flexrow">
        <label class="attribute-name">{{localize "PL1E.EffectDurationResolutionType"}}</label>
        <select name="system.activeAspects.{{@key}}.effectDurationResolutionType">
            {{selectOptions (config "resolutionTypes") selected=aspect.effectDurationResolutionType localize=true}}
        </select>
    </div>
{{/unless}}