<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.DataGroup"}}</label>
    <select name="system.activeAspects.{{@key}}.dataGroup">
        {{customSelectOptions dataGroups selected=aspect.dataGroup localize=true}}
    </select>
</div>
<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.Data"}}</label>
    <select name="system.activeAspects.{{@key}}.data">
        {{customSelectOptions (config aspect.dataGroup) selected=aspect.data localize=true}}
    </select>
</div>
{{#with (config aspect.dataGroup aspect.data)}}
    {{#if (eq type "number")}}
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Operator"}}</label>
            <select name="system.activeAspects.{{@key}}.operator">
                {{customSelectOptions (config "numberOperators") selected=../aspect.operator localize=true}}
            </select>
        </div>
    {{/if}}
    {{#if (and (eq ../aspect.operator "remove") (eq type "number"))}}
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.DamageType"}}</label>
            <select name="system.activeAspects.{{@key}}.damageType">
                {{customSelectOptions (config "damageTypes") selected=../aspect.damageType localize=true}}
            </select>
        </div>
    {{/if}}
    <div class="item-attribute flexrow">
        <label class="attribute-name">{{localize "PL1E.Value"}}</label>
        {{#if (eq type "number")}}
            <input class="input-positive-decimal" type="number" name="system.activeAspects.{{@key}}.value" value="{{../aspect.value}}" data-dtype="Number"/>
        {{else if (eq type "bool")}}
            <input type="checkbox" name="system.activeAspects.{{@key}}.value" {{checked ../aspect.value}} data-dtype="Boolean"/>
        {{else if (eq type "select")}}
            <select name="system.activeAspects.{{@key}}.value">
                {{customSelectOptions (config select) selected=../aspect.value localize=true}}
            </select>
        {{else if (eq type "array")}}
            <select name="system.activeAspects.{{@key}}.value">
                {{customSelectOptions (config select) selected=../aspect.value localize=true}}
            </select>
        {{/if}}
    </div>
{{/with}}
<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.ResolutionType"}}</label>
    <select name="system.activeAspects.{{@key}}.resolutionType">
        {{customSelectOptions (config "resolutionTypes") selected=aspect.resolutionType localize=true}}
    </select>
</div>
<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.TargetGroup"}}</label>
    <select name="system.activeAspects.{{@key}}.targetGroup">
        {{customSelectOptions (config "targetGroups") selected=aspect.targetGroup localize=true}}
    </select>
</div>
<div class="item-attribute flexrow">
    <label class="attribute-name">
        <i class="item-info far fa-circle-exclamation hover-green" data-tooltip='{{localize "PL1E.TooltipCreateEffect"}}'></i>
        {{localize "PL1E.CreateEffect"}}
    </label>
    <input type="checkbox" name="system.activeAspects.{{@key}}.createEffect" {{checked aspect.createEffect}} data-dtype="Boolean"/>
</div>
{{#if aspect.createEffect}}
    <div class="item-attribute flexrow">
        <label class="attribute-name">{{localize "PL1E.EffectDuration"}}</label>
        <input class="input-positive-decimal" type="number" name="system.activeAspects.{{@key}}.effectDuration" value="{{aspect.effectDuration}}" data-dtype="Number"/>
    </div>
    <div class="item-attribute flexrow">
        <label class="attribute-name">{{localize "PL1E.EffectDurationResolutionType"}}</label>
        <select name="system.activeAspects.{{@key}}.effectDurationResolutionType">
            {{customSelectOptions (config "resolutionTypes") selected=aspect.effectDurationResolutionType localize=true}}
        </select>
    </div>
{{/if}}
