<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.MacroContext"}}</label>
    <select name="system.activeAspects.{{@key}}.context">
        {{selectOptions contexts selected=aspect.context localize=true}}
    </select>
</div>
<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.Macro"}}</label>
    <select name="system.activeAspects.{{@key}}.macroId">
        {{selectOptions (lookup @root aspect.context) selected=aspect.macroId localize=true}}
    </select>
</div>