<div class="list-column">

    <div class="field">
        <div class="field-content">
            <div class="title">
                <label>{{localize "PL1E.DataGroup"}}</label>
            </div>
            <div class="fields">
                <select name="system.activeAspects.{{@key}}.dataGroup">
                    {{customSelectOptions dataGroups selected=aspect.dataGroup localize=true}}
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="field-content">
            <div class="title">
                <label>{{localize "PL1E.Data"}}</label>
            </div>
            <div class="fields">
                <select name="system.activeAspects.{{@key}}.data">
                    {{customSelectOptions (config aspect.dataGroup) selected=aspect.data localize=true}}
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="field-content">
            <div class="title">
                <label>{{localize "PL1E.TargetGroup"}}</label>
            </div>
            <div class="fields">
                <select name="system.activeAspects.{{@key}}.targetGroup">
                    {{customSelectOptions (config "targetGroups") selected=aspect.targetGroup localize=true}}
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="field-content">
            <div class="title">
                <label>{{localize "PL1E.MovementDestination"}}</label>
            </div>
            <div class="fields">
                <select name="system.activeAspects.{{@key}}.movementDestination">
                    {{customSelectOptions (config "targetGroupWithTemplate") selected=aspect.movementDestination localize=true}}
                </select>
            </div>
        </div>
    </div>

    {{#if (or (eq aspect.movementDestination "templatePrimary") (eq aspect.movementDestination "templateSecondary"))}}
        <div class="field">
            <div class="field-content">
                <div class="title">
                    <label>{{localize "PL1E.TemplateScope"}}</label>
                </div>
                <div class="fields">
                    <select name="system.activeAspects.{{@key}}.templateScope">
                        {{customSelectOptions (config "templateScopes") selected=aspect.templateScope localize=true}}
                    </select>
                </div>
            </div>
        </div>
    {{/if}}
</div>
