{{#if (eq @root.actor.type "merchant")}}
    {{#with (lookup @root.merchantPrices _id)}}
        {{#if (gt gold 0)}}
            <div class="icon">
                <i class="far fa-coins color-gold hover-info" data-tooltip='{{localize "PL1E.Gold"}}'></i>
                <label>{{gold}}</label>
            </div>
        {{/if}}
        {{#if (gt silver 0)}}
            <div class="icon">
                <i class="far fa-coins color-silver hover-info" data-tooltip='{{localize "PL1E.Silver"}}'></i>
                <label>{{silver}}</label>
            </div>
        {{/if}}
        {{#if (gt copper 0)}}
            <div class="icon">
                <i class="far fa-coins color-copper hover-info" data-tooltip='{{localize "PL1E.Copper"}}'></i>
                <label>{{copper}}</label>
            </div>
        {{/if}}
    {{/with}}
{{/if}}

{{> "systems/pl1e/templates/item/components/icons-passive-aspects.hbs"}}
{{> "systems/pl1e/templates/item/components/icons-active-aspects.hbs"}}