{{> "systems/pl1e/templates/item/components/icons-price.hbs"}}

<div class="icon-group">
    {{#if (ne system.attributes.hands 0)}}
        <div class="icon">
            <i class="far fa-hand hover-info" data-tooltip="{{localize "PL1E.Hands"}}"></i>
            <label>{{system.attributes.hands}}</label>
        </div>
    {{/if}}
    {{#if (gt system.attributes.reach 0)}}
        <div class="icon">
            <i class="far fa-sword hover-info" data-tooltip="{{localize "PL1E.Reach"}}"></i>
            <label>{{system.attributes.reach}}</label>
        </div>
    {{/if}}
    {{#if (gt system.attributes.range 0)}}
        <div class="icon">
            <i class="far fa-bow-arrow hover-info" data-tooltip="{{localize "PL1E.Range"}}"></i>
            <label>{{system.attributes.range}}</label>
        </div>
    {{/if}}
    {{#if (gt system.attributes.uses 0)}}
        <div class="icon">
            <i class="far fa-tally hover-info" data-tooltip='{{localize "PL1E.Uses"}}'></i>
            <label>{{minus system.attributes.uses system.removedUses}}</label>
        </div>
    {{/if}}
    {{#if system.majorActionUsed}}
        <div class="icon">
            <i class="far fa-star hover-info" data-tooltip='{{localize "PL1E.MajorActionUsed"}}'></i>
        </div>
    {{/if}}
</div>

{{> "systems/pl1e/templates/item/components/icons-passive-aspects.hbs"}}
{{> "systems/pl1e/templates/item/components/icons-active-aspects.hbs"}}