{{> "systems/pl1e/templates/item/components/icons-price.hbs"}}

<div class="icon-group">
    {{#if (ne system.attributes.healthGain 0)}}
        <div class="icon">
            <i class="fas fa-heart color-health hover-info" data-tooltip='{{localize "PL1E.Health"}}'></i>
            <label>{{system.attributes.healthGain}}</label>
        </div>
    {{/if}}
    {{#if (ne system.attributes.staminaGain 0)}}
        <div class="icon">
            <i class="fas fa-lungs color-stamina hover-info" data-tooltip='{{localize "PL1E.Stamina"}}'></i>
            <label>{{system.attributes.staminaGain}}</label>
        </div>
    {{/if}}
    {{#if (ne system.attributes.manaGain 0)}}
        <div class="icon">
            <i class="fas fa-brain color-mana hover-info" data-tooltip='{{localize "PL1E.Mana"}}'></i>
            <label>{{system.attributes.manaGain}}</label>
        </div>
    {{/if}}
    {{#if (ne system.attributes.intoxication 0)}}
        <div class="icon">
            <i class="far fa-skull-crossbones hover-info" data-tooltip='{{localize "PL1E.Intoxication"}}'></i>
            <label>{{system.attributes.intoxication}}</label>
        </div>
    {{/if}}
</div>