{{> "systems/pl1e/templates/item/components/icons-price.hbs"}}

<div class="icon-group">
    {{#if (ne system.attributes.actionCost 0)}}
        <div class="icon">
            <i class="far fa-clock hover-info" data-tooltip='{{localize "PL1E.ActionCost"}}'></i>
            <label>{{system.attributes.actionCost}}</label>
        </div>
    {{/if}}
    {{#if (ne system.attributes.reactionCost 0)}}
        <div class="icon">
            <i class="far fa-reply-clock hover-info" data-tooltip='{{localize "PL1E.ReactionCost"}}'></i>
            <label>{{system.attributes.reactionCost}}</label>
        </div>
    {{/if}}
    {{#if (ne system.attributes.quickActionCost 0)}}
        <div class="icon">
            <i class="far fa-bell hover-info" data-tooltip='{{localize "PL1E.QuickActionCost"}}'></i>
            <label>{{system.attributes.quickActionCost}}</label>
        </div>
    {{/if}}
    {{#if system.attributes.isMajorAction}}
        <div class="icon">
            <i class="far fa-star hover-info" data-tooltip='{{localize "PL1E.IsMajorAction"}}'></i>
        </div>
    {{/if}}
    {{#if system.attributes.isDangerous}}
        <div class="icon">
            <i class="far fa-exclamation-triangle hover-info" data-tooltip='{{localize "PL1E.IsDangerous"}}'></i>
        </div>
    {{/if}}
    {{#if (gt system.attributes.uses 0)}}
        {{#if (eq system.removedUses 0)}}
            <div class="icon">
                <i class="far fa-battery-full hover-info" data-tooltip='{{localize "PL1E.Uses"}}'></i>
                <label>{{minus system.attributes.uses system.removedUses}}</label>
            </div>
        {{else if (eq system.removedUses system.attributes.uses)}}
            <div class="icon">
                <i class="far fa-battery-empty hover-info" data-tooltip='{{localize "PL1E.Uses"}}'></i>
                <label>{{minus system.attributes.uses system.removedUses}}</label>
            </div>
        {{else}}
            <div class="icon">
                <i class="far fa-battery-half hover-info" data-tooltip='{{localize "PL1E.Uses"}}'></i>
                <label>{{minus system.attributes.uses system.removedUses}}</label>
            </div>
        {{/if}}
        {{#if system.attributes.isReloadable}}
            <div class="icon">
                <i class="far fa-repeat hover-info" data-tooltip='{{localize "PL1E.Reloadable"}}'></i>
            </div>
        {{/if}}
    {{/if}}
    {{#if (eq system.attributes.consumableType "drug")}}
        <div class="icon">
            <i class="far fa-biohazard hover-info" data-tooltip='{{localize "PL1E.Drug"}}'></i>
        </div>
    {{/if}}
</div>

{{> "systems/pl1e/templates/item/components/icons-active-aspects.hbs"}}