{{> "systems/pl1e/templates/item/components/icons-price.hbs"}}

<div class="icon-group">
    {{#if (ne system.attributes.actionCost 0)}}
        <i class="far fa-clock hover-info" data-tooltip='{{localize "PL1E.ActionCost"}}'>
            <label>{{system.attributes.actionCost}}</label>
        </i>
    {{/if}}
    {{#if (ne system.attributes.reactionCost 0)}}
        <i class="far fa-reply-clock hover-info" data-tooltip='{{localize "PL1E.ReactionCost"}}'>
            <label>{{system.attributes.reactionCost}}</label>
        </i>
    {{/if}}
    {{#if (ne system.attributes.quickActionCost 0)}}
        <i class="far fa-bell hover-info" data-tooltip='{{localize "PL1E.QuickActionCost"}}'>
            <label>{{system.attributes.quickActionCost}}</label>
        </i>
    {{/if}}
    {{#if system.attributes.isMajorAction}}
        <i class="far fa-star hover-info" data-tooltip='{{localize "PL1E.IsMajorAction"}}'></i>
    {{/if}}
    {{#if system.attributes.isDangerous}}
        <i class="far fa-exclamation-triangle hover-info" data-tooltip='{{localize "PL1E.IsDangerous"}}'></i>
    {{/if}}
    {{#if (gt system.attributes.uses 0)}}
        {{#if (eq system.removedUses 0)}}
            <i class="far fa-battery-full hover-info" data-tooltip='{{localize "PL1E.Uses"}}'>
                <label>{{minus system.attributes.uses system.removedUses}}</label>
            </i>
        {{else if (eq system.removedUses system.attributes.uses)}}
            <i class="far fa-battery-empty hover-info" data-tooltip='{{localize "PL1E.Uses"}}'>
                <label>{{minus system.attributes.uses system.removedUses}}</label>
            </i>
        {{else}}
            <i class="far fa-battery-half hover-info" data-tooltip='{{localize "PL1E.Uses"}}'>
                <label>{{minus system.attributes.uses system.removedUses}}</label>
            </i>
        {{/if}}
        {{#if system.attributes.isReloadable}}
            <i class="far fa-repeat hover-info" data-tooltip='{{localize "PL1E.Reloadable"}}'></i>
        {{/if}}
    {{/if}}
</div>

{{> "systems/pl1e/templates/item/components/icons-active-aspects.hbs"}}