{{#if (eq @root.actor.type "merchant")}}
    {{#with (lookup @root.merchantPrices _id)}}
        {{#if (gt gold 0)}}
            <i class="far fa-coins color-gold hover-info" data-tooltip='{{localize "PL1E.Gold"}}'>
                <label>{{gold}}</label>
            </i>
        {{/if}}
        {{#if (gt silver 0)}}
            <i class="far fa-coins color-silver hover-info" data-tooltip='{{localize "PL1E.Silver"}}'>
                <label>{{silver}}</label>
            </i>
        {{/if}}
        {{#if (gt copper 0)}}
            <i class="far fa-coins color-copper hover-info" data-tooltip='{{localize "PL1E.Copper"}}'>
                <label>{{copper}}</label>
            </i>
        {{/if}}
    {{/with}}
{{/if}}

{{> "systems/pl1e/templates/item/components/icons-passive-aspects.hbs"}}
{{> "systems/pl1e/templates/item/components/icons-active-aspects.hbs"}}