{{> "systems/pl1e/templates/item/components/icons-price.hbs"}}

<div class="icon-group">
    {{#if (ne system.attributes.hands 0)}}
        <i class="far fa-hand hover-info" data-tooltip="{{localize "PL1E.Hands"}}">
            <label>{{system.attributes.hands}}</label>
        </i>
    {{/if}}
    {{#if (gt system.attributes.reach 0)}}
        <i class="far fa-sword hover-info" data-tooltip="{{localize "PL1E.Reach"}}">
            <label>{{system.attributes.reach}}</label>
        </i>
    {{/if}}
    {{#if (gt system.attributes.range 0)}}
        <i class="far fa-bow-arrow hover-info" data-tooltip="{{localize "PL1E.Range"}}">
            <label>{{system.attributes.range}}</label>
        </i>
    {{/if}}
    {{#if (gt system.attributes.uses 0)}}
        <i class="far fa-tally hover-info" data-tooltip='{{localize "PL1E.Uses"}}'>
            <label>{{minus system.attributes.uses system.removedUses}}</label>
        </i>
    {{/if}}
</div>

{{> "systems/pl1e/templates/item/components/icons-passive-aspects.hbs"}}
{{> "systems/pl1e/templates/item/components/icons-active-aspects.hbs"}}