<ol class="items-list">
    <li class="items-header grid grid-12col">
        <div class="item-title grid-span-4 flexrow">
            <div class="item-name">{{localize "PL1E.PassiveAspects"}}</div>
        </div>
        <div class="item-controls grid-span-8">
            {{#each passiveAspectsObjects}}
                {{#with (config "aspects" name)}}
                    <input type="image" class="item-control aspect-add hover-red" src="{{img}}" data-aspect-id="{{@key}}"
                           data-aspect-type="passive" data-tooltip='{{localize label}}' width="20" height="20"/>
                {{/with}}
            {{/each}}
            <a class="item-control active-aspects-copy" data-tooltip='{{localize "PL1E.Copy"}}'><i class="fas fa-copy"></i></a>
            <a class="item-control active-aspects-paste" data-tooltip='{{localize "PL1E.Paste"}}'><i class="fas fa-paste"></i></a>
        </div>
    </li>
    {{#each passiveAspects}}
        {{#with (config "aspects" name)}}
            <li class="item" data-aspect-id="{{@key}}" data-aspect-type="passive" data-item-id="{{@key}}">
                <div class="item-content grid grid-12col">
                    <div class="item-title grid-span-10 flexrow">
                        <img class="item-image" src="{{img}}" title="{{localize label}}" width="24" height="24"/>
                        <label class="item-name item-tooltip-activate">{{localize ../description}}</label>
                    </div>
                    <div class="item-controls grid-span-2">
                        <a class="item-control aspect-remove" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                <div class="item-tooltip flexcol">
                    {{#if (eq ../name "modify")}}
                        {{> "systems/pl1e/templates/item/components/passive-aspect-modify.hbs" this aspect=../this}}
                    {{else if (eq ../name "status")}}
                        {{> "systems/pl1e/templates/item/components/passive-aspect-status.hbs" this aspect=../this}}
                    {{else if (eq ../name "passiveMacro")}}
                        {{> "systems/pl1e/templates/item/components/passive-aspect-macro.hbs" this aspect=../this}}
                    {{/if}}
                </div>
            </li>
        {{/with}}
    {{/each}}
</ol>