<ol class="items-list">
    <li class="item flexrow items-header">
        <div class="item-name">{{localize "PL1E.ActiveAspects"}}</div>
        <div class="item-controls">
            {{#each activeAspectsObjects}}
                {{#with (configEntry "aspects" name)}}
                    <input type="image" class="item-control aspect-add hover-red" src="{{img}}" data-aspect-id="{{@key}}"
                           data-aspect-type="active" data-tooltip='{{localize label}}' width="20" height="20"/>
                {{/with}}
            {{/each}}
        </div>
    </li>
    {{#each activeAspects}}
        {{#with (configEntry "aspects" name)}}
            <li class="item" data-aspect-id="{{@key}}" data-aspect-type="active">
                <div class="item-attribute flexrow">
                    <img class="item-image" src="{{#if ../createEffect}}
                        {{../effectIcon}}
                    {{else if (eq ../name "status")}}
                        {{#with (configEntry ../dataGroup ../data)}}
                            {{img}}
                        {{/with}}
                    {{else}}
                        {{img}}
                    {{/if}}" title="{{localize label}}" width="24" height="24"/>
                    {{#with (configEntry ../dataGroup ../data)}}
                        <label class="item-name item-tooltip-activate">{{localize ../label}} ({{localize label}})</label>
                        <div class="item-stats">
                            {{#if (eq type "number")}}
                                <input class="input-positive-decimal" type="number" name="system.activeAspects.{{@key}}.value" value="{{../../value}}" data-dtype="Number"/>
                            {{else if (eq type "bool")}}
                                <input type="checkbox" name="system.activeAspects.{{@key}}.value" {{checked ../../value}} data-dtype="Boolean"/>
                            {{else if (eq type "select")}}
                                <select name="system.activeAspects.{{@key}}.value">
                                    {{selectOptions (config select) selected=../../value localize=true}}
                                </select>
                            {{/if}}
                        </div>
                    {{/with}}
                    <div class="item-controls">
                        <a class="item-control aspect-remove" data-tooltip='{{localize "PL1E.Delete"}}'><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                <div class="item-tooltip flexcol">
                    <div class="item-attribute flexrow">
                        <label class="attribute-name">{{localize "PL1E.DataGroup"}}</label>
                        <select name="system.activeAspects.{{@key}}.dataGroup">
                            {{selectOptions dataGroups selected=../dataGroup localize=true}}
                        </select>
                    </div>
                    <div class="item-attribute flexrow">
                        <label class="attribute-name">{{localize "PL1E.Data"}}</label>
                        <select name="system.activeAspects.{{@key}}.data">
                            {{selectOptionsWithLabel (config ../dataGroup) selected=../data localize=true}}
                        </select>
                    </div>
                    {{#if ../damageType}}
                        <div class="item-attribute flexrow">
                            <label class="attribute-name">{{localize "PL1E.DamageType"}}</label>
                            <select name="system.activeAspects.{{@key}}.damageType">
                                {{selectOptions (config "damageTypes") selected=../damageType localize=true}}
                            </select>
                        </div>
                    {{/if}}
                    {{#if (and ../targetGroup (ne ../name "transfer"))}}
                        <div class="item-attribute flexrow">
                            <label class="attribute-name">{{localize "PL1E.TargetGroup"}}</label>
                            <select name="system.activeAspects.{{@key}}.targetGroup">
                                {{selectOptions (config "targetGroups") selected=../targetGroup localize=true}}
                            </select>
                        </div>
                    {{/if}}
                    {{#if ../transferSource}}
                        <div class="item-attribute flexrow">
                            <label class="attribute-name">{{localize "PL1E.TransferSource"}}</label>
                            <select name="system.activeAspects.{{@key}}.transferSource">
                                {{selectOptions (config "targetGroups") selected=../transferSource localize=true}}
                            </select>
                        </div>
                    {{/if}}
                    {{#if ../transferDestination}}
                        <div class="item-attribute flexrow">
                            <label class="attribute-name">{{localize "PL1E.TransferDestination"}}</label>
                            <select name="system.activeAspects.{{@key}}.transferDestination">
                                {{selectOptions (config "targetGroups") selected=../transferDestination localize=true}}
                            </select>
                        </div>
                    {{/if}}
                    {{#if ../statusType}}
                        <div class="item-attribute flexrow">
                            <label class="attribute-name">{{localize "PL1E.StatusType"}}</label>
                            <select name="system.activeAspects.{{@key}}.statusType">
                                {{selectOptions (config "statusTypes") selected=../statusType localize=true}}
                            </select>
                        </div>
                    {{/if}}
                    {{#if (eq ../statusType "durationIfSuccess")}}
                        <div class="item-attribute flexrow">
                            <label class="attribute-name">{{localize "PL1E.StatusDuration"}}</label>
                            <input class="input-positive-decimal" type="number" name="system.activeAspects.{{@key}}.statusDuration" value="{{../statusDuration}}" data-dtype="Number"/>
                        </div>
                    {{/if}}
                    {{#if ../resolutionType}}
                        <div class="item-attribute flexrow">
                            <label class="attribute-name">{{localize "PL1E.ResolutionType"}}</label>
                            <select name="system.activeAspects.{{@key}}.resolutionType">
                                {{selectOptions (config "resolutionTypes") selected=../resolutionType localize=true}}
                            </select>
                        </div>
                    {{/if}}
                    {{#if (ne ../name "status")}}
                        <div class="item-attribute flexrow">
                            <label class="attribute-name">{{localize "PL1E.CreateEffect"}}</label>
                            <input type="checkbox" name="system.activeAspects.{{@key}}.createEffect" {{checked ../createEffect}} data-dtype="Boolean"/>
                        </div>
                    {{/if}}
                    {{#if ../createEffect}}
                        <div class="item-attribute flexrow">
                            <label class="attribute-name">{{localize "PL1E.EffectDuration"}}</label>
                            <input class="input-positive-decimal" type="number" name="system.activeAspects.{{@key}}.effectDuration" value="{{../effectDuration}}" data-dtype="Number"/>
                        </div>
                        <div class="item-attribute flexrow">
                            <label class="attribute-name">{{localize "PL1E.EachTurnEffect"}}</label>
                            <input type="checkbox" name="system.activeAspects.{{@key}}.eachTurnEffect" {{checked ../eachTurnEffect}} data-dtype="Boolean"/>
                        </div>
                        <div class="item-attribute flexrow">
                            <label class="attribute-name">{{localize "PL1E.EffectIcon"}}</label>
                            <div class="flexrow">
                                <input name="system.activeAspects.{{@key}}.effectIcon" type="text" value="{{../effectIcon}}"/>
                                {{filePicker target=(concat "system.activeAspects." @key ".effectIcon") type="image"}}
                            </div>
                        </div>
                    {{/if}}
                </div>
            </li>
        {{/with}}
    {{/each}}
</ol>

