<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.DataGroup"}}</label>
    <select name="system.passiveAspects.{{@key}}.dataGroup">
        {{customSelectOptions dataGroups selected=aspect.dataGroup localize=true}}
    </select>
</div>
<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.Data"}}</label>
    <select name="system.passiveAspects.{{@key}}.data">
        {{customSelectOptions (config aspect.dataGroup) selected=aspect.data localize=true}}
    </select>
</div>
<div class="item-attribute flexrow">
    <label class="attribute-name">{{localize "PL1E.CreateEffect"}}</label>
    <input type="checkbox" name="system.passiveAspects.{{@key}}.createEffect" {{checked aspect.createEffect}} data-dtype="Boolean"/>
</div>