<div class="list-column">
    <div class="item">
        <div class="item-content">
            <div class="title">
                <label>{{localize "PL1E.DataGroup"}}</label>
            </div>
            <div class="fields">
                <select name="system.passiveAspects.{{@key}}.dataGroup">
                    {{customSelectOptions dataGroups selected=aspect.dataGroup localize=true}}
                </select>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="item-content">
            <div class="title">
                <label>{{localize "PL1E.Data"}}</label>
            </div>
            <div class="fields">
                <select name="system.passiveAspects.{{@key}}.data">
                    {{customSelectOptions (config aspect.dataGroup) selected=aspect.data localize=true}}
                </select>
            </div>
        </div>
    </div>
</div>
