<form class="pl1e flexcol" autocomplete="off">
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="rest">{{localize "PL1E.Rest"}}</a>
        <a class="item" data-tab="abilities">{{localize "PL1E.Abilities"}}</a>
        <a class="item" data-tab="skills">{{localize "PL1E.Skills"}}</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Rest Tab --}}
        <div class="tab rest flexcol" data-group="primary" data-tab="rest">
            <section class="scroll-auto">
                <p>Resting for 8 hours will give you the following benefits:</p>
                <ul>
                    <li>+{{ health }} health</li>
                    <li>+{{ stamina }} stamina</li>
                    <li>+{{ mana }} mana</li>
                </ul>
                <ol class="items-list">
                    {{#each foods}}
                        <li class="item" data-item-id="{{_id}}">
                            <div class="flexrow">
                                <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                                <label class="item-name hover-red">{{name}}</label>
                                <div class="item-stats">
                                    {{#if (gt system.attributes.healthRest.value 0)}}
                                        <i class="item-info fas fa-heart hover-green" data-tooltip="{{localize "PL1E.HealthRest"}}">
                                            <label>{{system.attributes.healthRest.value}}</label>
                                        </i>
                                    {{/if}}
                                    {{#if (gt system.attributes.staminaRest.value 0)}}
                                        <i class="item-info fas fa-wave-pulse hover-green" data-tooltip="{{localize "PL1E.StaminaRest"}}">
                                            <label>{{system.attributes.staminaRest.value}}</label>
                                        </i>
                                    {{/if}}
                                    {{#if (gt system.attributes.manaRest.value 0)}}
                                        <i class="item-info fas fa-sparkles hover-green" data-tooltip="{{localize "PL1E.ManaRest"}}">
                                            <label>{{system.attributes.manaRest.value}}</label>
                                        </i>
                                    {{/if}}
                                </div>
                                <div class="item-controls">
                                    <a class="item-control item-use {{#if (ne _id @root.itemEaten._id)}}icon-inactive{{/if}}"
                                       data-usage="eaten" data-tooltip='{{localize "PL1E.Eat"}}'><i class="fas fa-fork-knife"></i></a>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ol>
                <ol class="items-list">
                    {{#each drinks}}
                        <li class="item" data-item-id="{{_id}}">
                            <div class="flexrow">
                                <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                                <label class="item-name hover-red">{{name}}</label>
                                <div class="item-stats grid-span-2">
                                    {{#if (gt system.attributes.healthRest.value 0)}}
                                        <i class="item-info fas fa-heart hover-green" data-tooltip="{{localize "PL1E.HealthRest"}}">
                                            <label>{{system.attributes.healthRest.value}}</label>
                                        </i>
                                    {{/if}}
                                    {{#if (gt system.attributes.staminaRest.value 0)}}
                                        <i class="item-info fas fa-wave-pulse hover-green" data-tooltip="{{localize "PL1E.StaminaRest"}}">
                                            <label>{{system.attributes.staminaRest.value}}</label>
                                        </i>
                                    {{/if}}
                                    {{#if (gt system.attributes.manaRest.value 0)}}
                                        <i class="item-info fas fa-sparkles hover-green" data-tooltip="{{localize "PL1E.ManaRest"}}">
                                            <label>{{system.attributes.manaRest.value}}</label>
                                        </i>
                                    {{/if}}
                                </div>
                                <div class="item-controls">
                                    <a class="item-control item-use {{#if (ne _id @root.itemDrink._id)}}icon-inactive{{/if}}"
                                       data-usage="drink" data-tooltip='{{localize "PL1E.Drink"}}'><i class="fas fa-glass"></i></a>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            </section>
        </div>
        {{!-- Abilities Tab --}}
        <div class="tab abilities flexcol" data-group="primary" data-tab="abilities">
            <section class="scroll-auto">
                <p>You have {{slots}} slots to memorize new abilities.</p>
                <ol class="items-list">
                    {{#each abilities as |abilities level|}}
                        {{#if (gt abilities.length 0)}}
                            <li class="item items-header flexrow">
                                <div class="item-name">{{localize "PL1E.AbilitiesLevel"}} {{level}}</div>
                            </li>
                            {{#each abilities}}
                                <li class="item" data-item-id="{{_id}}" data-item-uuid="{{flags.core.sourceUuid}}">
                                    <div class="flexrow">
                                        <img class="item-image item-edit hover-red" src="{{img}}" title="{{name}}" width="24" height="24"/>
                                        <label class="item-name">{{name}}</label>
                                        <div class="item-stats grid-span-2">

                                        </div>
                                        <div class="item-controls">
                                            <a class="item-control {{#if system.isMemorized}}item-toggle{{else if (lt (minus @root.slots system.attributes.level.value) 0)}}
                                            color-red{{else}}icon-inactive item-toggle{{/if}}" data-tooltip='{{localize "PL1E.Memorize"}}'>
                                                <i class="fas fa-book"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        {{/if}}
                    {{/each}}
                </ol>
            </section>
        </div>
        {{!-- Skills Tab --}}
        <div class="tab skills flexcol" data-group="primary" data-tab="skills">
            <section class="scroll-auto">
                <p>You have {{ ranks }} ranks available to increase your skill mastery.</p>
                <p>You can increase your skill mastery up to rank {{ maxRank }}.</p>
                <ul class="skills">
                    <!-- Listing defenses, resistances and skills -->
                    {{#each skills}}
                        {{#with (configEntry "skills" @key)}}
                            <li class="skill grid grid-8col" data-skill-id={{@key}}>
                                <i class="align-left fas fa-dice-d{{../dice}}">
                                    <label>{{../number}}</label>
                                </i>
                                <label class="skill-label grid-span-2 align-left">{{localize label}}</label>
                                <div class="skill-ranks grid-span-5 flexrow">
                                    {{#each ../ranks}}
                                        <i class="align-right far fa-circle-{{@key}} fa-lg
                                        {{#if (eq state "bought")}}
                                            rank-control hover-red color-green
                                        {{else if (eq state "affordable")}}
                                            rank-control hover-red icon-inactive
                                        {{else if (eq state "notAffordable")}}
                                            color-red
                                        {{/if}}" data-rank="{{@key}}">
                                        </i>
                                    {{/each}}
                                </div>
                            </li>
                        {{/with}}
                    {{/each}}
                </ul>
            </section>
        </div>
    </section>
    <div class="flexrow">
        <button class="rest-confirm">
            <i class="fas fa-check"></i>
            Rest
        </button>
        <button class="rest-cancel">
            <i class="fas fa-times"></i>
            Cancel
        </button>
    </div>
</form>