<form class="pl1e dm-tool app window-app">
    <header class="window-header">
        <h4 class="window-title">{{localize "PL1E.DMTools"}}</h4>
    </header>
    <section class="window-content">
        <fieldset>
            <legend>{{localize "PL1E.Modifiers"}}</legend>
            <div class="form-group">
                <label>{{localize "PL1E.Advantages"}}</label>
                <div class="form-fields">
                    <a class="item sub"><i class="fas fa-minus"></i></a>
                    <input type="number" class="input num-short" value="{{advantages}}">
                    <a class="item add"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "PL1E.Bonuses"}}</label>
                <div class="form-fields">
                    <a class="item sub"><i class="fas fa-minus"></i></a>
                    <input type="number" class="input num-short" value="{{bonuses}}">
                    <a class="item add"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>{{localize "PL1E.Actions"}}</legend>
            <div class="form-group flexrow">
                <a class="item" data-tooltip='{{localize "PL1E.ShortRest"}}'><i class="fas fa-coffee"></i></a>
                <a class="item" data-tooltip='{{localize "PL1E.LongRest"}}'><i class="fas fa-bed"></i></a>
                <a class="item" data-tooltip='{{localize "PL1E.Reward"}}'><i class="fas fa-award"></i></a>
                <a class="item" data-tooltip='{{localize "PL1E.Reset"}}'><i class="fas fa-sync-alt"></i></a>
            </div>
        </fieldset>
    </section>
</form>
