<form class="pl1e gm-toolbox" autocomplete="off">
    <ul class="gm-tools-container">
        <li class="toolbox-sleep" data-type="sleep" data-tooltip="{{localize "PL1E.Sleep"}}">
            <i class="fa fa-bed"></i>
        </li>
        <li class="toolbox-fight" data-type="fight" data-tooltip="{{localize "PL1E.Fight"}}">
            <i class="fa fa-swords"></i>
        </li>
        <li class="toolbox-bonuses" data-tooltip="{{localize "PL1E.Bonuses"}}">
            <i class="fa fa-cubes"></i>
            <strong>{{object.bonuses}}</strong>
        </li>
        <li class="toolbox-advantages" data-tooltip="{{localize "PL1E.Advantages"}}">
            <i class="fa fa-cube"></i>
            <strong>{{object.advantages}}</strong>
        </li>
    </ul>
</form>