<section class="note-tooltip-content">
    {{#if (eq type "organization")}}
        <h4>{{data.name}}</h4>
    {{else}}
        <h3>{{data.name}}</h3>
    {{/if}}

    {{#if (and (ne system.translation undefined) (ne system.translation ""))}}
        <p><strong>{{localize "PL1E.Translation"}}:</strong> {{system.translation}}</p>
    {{/if}}

    {{#if (and (ne system.type undefined) (ne system.type ""))}}
        <p><strong>{{localize "PL1E.Type"}}:</strong> {{system.type}}</p>
    {{/if}}

    {{#if (and (ne system.culture undefined) (ne system.culture ""))}}
        <p><strong>{{localize "PL1E.Culture"}}:</strong> {{system.culture}}</p>
    {{/if}}

    {{#if (and (ne system.religion undefined) (ne system.religion ""))}}
        <p><strong>{{localize "PL1E.Religion"}}:</strong> {{system.religion}}</p>
    {{/if}}

    {{#if (and (ne system.population undefined) (ne system.population 0))}}
        <p><strong>{{localize "PL1E.Population"}}:</strong>
            {{#range 1 9}}
                {{#if (lte this ../system.population)}}
                    <i class="fas fa-user"></i>
                {{/if}}
            {{/range}}
            ({{system.population}})
        </p>
    {{/if}}

    {{#if (and (ne system.power undefined) (ne system.power 0))}}
        <p><strong>{{localize "PL1E.Power"}}:</strong>
            {{#range 1 9}}
                {{#if (lte this ../system.power)}}
                    <i class="fas fa-star"></i>
                {{/if}}
            {{/range}}
            ({{system.power}})
        </p>
    {{/if}}

    {{#if (and (ne system.dangerousness undefined) (ne system.dangerousness 0))}}
        <p><strong>{{localize "PL1E.Dangerousness"}}:</strong>
            {{#range 1 9}}
                {{#if (lte this ../system.dangerousness)}}
                    <i class="fas fa-skull"></i>
                {{/if}}
            {{/range}}
            ({{system.dangerousness}})
        </p>
    {{/if}}

    {{#if (and (ne system.nickname undefined) (ne system.nickname ""))}}
        <p><strong>{{localize "PL1E.Nickname"}}:</strong> {{system.nickname}}</p>
    {{/if}}

    {{#if (and (ne system.race undefined) (ne system.race ""))}}
        <p><strong>{{localize "PL1E.Race"}}:</strong> {{system.race}}</p>
    {{/if}}

    {{#if (and (ne system.attributes undefined) (ne system.attributes ""))}}
        <p><strong>{{localize "PL1E.Attributes"}}:</strong> {{system.attributes}}</p>
    {{/if}}
</section>