<form class="rest-manager flex-horizontal gap-md scroll-auto-group" autocomplete="off">
    <!-- Training Panel -->
    <div class="flex-vertical flex-shrink">
        <h5 class="underline">{{localize "PL1E.Training"}}</h5>
        {{> "systems/pl1e/templates/actor/parts/stats-skills.hbs"}}
    </div>

    <!-- Camping Panel -->
    <div class="flex-vertical gap-md flex-large">
        <!-- Environment Section -->
        <div class="toggle-section">
            <h5 class="toggle-title underline">
                {{localize "PL1E.Environment"}}
                <i class="fas fa-question-circle help-icon" data-tooltip="{{localize 'PL1E.EnvironmentTooltip'}}"></i>
            </h5>
            <div class="toggle-group">
                {{#each environmentOptions}}
                    <div class="toggle-item" data-value="{{this.value}}">
                        <img src="{{this.img}}" alt="{{this.alt}}" />
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- Service Section -->
        <div class="toggle-section">
            <h5 class="toggle-title underline">
                {{localize "PL1E.Service"}}
                <i class="fas fa-question-circle help-icon" data-tooltip="{{localize 'PL1E.ServiceTooltip'}}"></i>
            </h5>
            <div class="toggle-group">
                {{#each serviceOptions}}
                    <div class="toggle-item" data-value="{{this.value}}">
                        <img src="{{this.img}}" alt="{{this.alt}}" />
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- Service Section -->
        <div class="toggle-section">
            <h5 class="toggle-title underline">
                {{localize "PL1E.Service"}}
                <i class="fas fa-question-circle help-icon" data-tooltip="{{localize 'PL1E.ServiceTooltip'}}"></i>
            </h5>
            <div class="toggle-group">
                {{#each serviceOptions}}
                    <div class="toggle-item" data-value="{{this.value}}">
                        <img src="{{this.img}}" alt="{{this.alt}}" />
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</form>