<section class="placeable-tooltip-content">
    <h2>{{data.name}}</h2>

    {{#if (ne system.translation "")}}
        <p><strong>{{localize "PL1E.Translation"}}:</strong> {{system.translation}}</p>
    {{/if}}

    {{#if (ne system.type "")}}
        <p><strong>{{localize "PL1E.Type"}}:</strong> {{system.type}}</p>
    {{/if}}

    {{#if (ne system.culture "")}}
        <p><strong>{{localize "PL1E.Culture"}}:</strong> {{system.culture}}</p>
    {{/if}}

    {{#if (ne system.religion "")}}
        <p><strong>{{localize "PL1E.Religion"}}:</strong> {{system.religion}}</p>
    {{/if}}

    {{#if (ne system.population 0)}}
        <p><strong>{{localize "PL1E.Population"}}:</strong>
            {{#range 1 9}}
                {{#if (lte this ../system.population)}}
                    <i class="fas fa-user"></i>
                {{/if}}
            {{/range}}
            ({{system.population}})
        </p>
    {{/if}}

    {{#if (ne system.power 0)}}
        <p><strong>{{localize "PL1E.Power"}}:</strong>
            {{#range 1 9}}
                {{#if (lte this ../system.power)}}
                    <i class="fas fa-star"></i>
                {{/if}}
            {{/range}}
            ({{system.power}})
        </p>
    {{/if}}

    <div class="tooltip-body">
        {{{data.text.content}}}
    </div>
</section>