<form class="pl1e {{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="sheet-name"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="resources grid grid-2col">
                <div class="form-group box">
                    <label>{{localize "PL1E.Level"}}</label>
                    <input type="number" step="1" min="0" max="5" name="system.attributes.level.value"
                           value="{{system.attributes.level.value}}" data-dtype="Number"/>
                </div>
                <div class="form-group box">
                    <select name="system.attributes.mastery.value">
                        {{selectOptions (config "masteries") selected=system.attributes.mastery.value localize=true}}
                    </select>
                </div>
            </div>
        </div>
    </header>
    {{#if game.user.isGM}}
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "PL1E.Description"}}</a>
        <a class="item" data-tab="attributes">{{localize "PL1E.Attributes"}}</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab description flexcol" data-group="primary" data-tab="description">
            {{> "systems/pl1e/templates/item/parts/item-description.hbs"}}
        </div>
        {{!-- Attributes Tab --}}
        <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">
            {{> "systems/pl1e/templates/item/parts/item-attributes.hbs"}}
        </div>
    </section>
    {{else}}
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab flexcol">
            {{> "systems/pl1e/templates/item/parts/item-description.hbs"}}
        </div>
    </section>
    {{/if}}
</form>