<form class="item-sheet {{item.type}} {{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header color-negative">
        <div class="profile-container">
            <div class="profile-wrapper">
                {{#if (not item.isEmbedded)}}
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                {{else if (and item.system.attributes.customizable item.system.attributes.isCustomized)}}
                    <img class="profile-img" src="{{item.realImg}}" data-edit="system.customImg" title="{{item.name}}"/>
                {{else}}
                    <img class="profile-img" src="{{item.img}}" title="{{item.name}}"/>
                {{/if}}
                <img class="profile-frame" src="systems/pl1e/assets/frames/sheet-frame-1.png"/>
            </div>
        </div>
        <div class="flex-vertical gap-md header-infos">
            <div class="flex-horizontal gap-md flex-shrink">
                {{#if (and @root.game.user.isGM (not item.isEmbedded))}}
                    <input class="sheet-name" name="name" type="text" value="{{item.name}}"
                           placeholder="{{localize "PL1E.Name"}}"/>
                {{else if (and item.system.attributes.customizable item.isEmbedded item.isOwner item.system.attributes.isCustomized)}}
                    <input class="sheet-name" name="system.customName" type="text" value="{{item.system.customName}}"
                           placeholder="Custom name"/>
                {{else}}
                    <input class="sheet-name" name="name" type="text" value="{{item.name}}"
                           placeholder="{{localize "PL1E.Name"}}" disabled/>
                {{/if}}
                <div class="dropdown-icons">
                    <div class="dropdown-button" data-tooltip="{{localize "PL1E.Actions"}}">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="dropdown-content">
                        {{#if (and item.system.attributes.customizable item.isEmbedded)}}
                            {{#if item.system.attributes.isCustomized}}
                                <i class="fas fa-undo switch-customize" data-tooltip="{{localize "PL1E.Uncustomize"}}"></i>
                            {{else}}
                                <i class="fas fa-wrench switch-customize" data-tooltip="{{localize "PL1E.Customize"}}"></i>
                            {{/if}}
                        {{/if}}
                        <i class="fas fa-lock" data-tooltip="{{localize "PL1E.Lock"}}"></i>
                    </div>
                </div>
            </div>
            <div class="icons-stats">
                {{#if (eq item.type "race")}}
                    {{> "systems/pl1e/templates/item/components/icons-race.hbs"}}
                {{else if (eq item.type "culture")}}
                    {{> "systems/pl1e/templates/item/components/icons-culture.hbs"}}
                {{else if (eq item.type "class")}}
                    {{> "systems/pl1e/templates/item/components/icons-class.hbs"}}
                {{else if (eq item.type "feature")}}
                    {{> "systems/pl1e/templates/item/components/icons-feature.hbs"}}
                {{else if (eq item.type "mastery")}}
                    {{> "systems/pl1e/templates/item/components/icons-mastery.hbs"}}
                {{else if (eq item.type "ability")}}
                    {{> "systems/pl1e/templates/item/components/icons-ability.hbs"}}
                {{else if (eq item.type "weapon")}}
                    {{> "systems/pl1e/templates/item/components/icons-weapon.hbs"}}
                {{else if (eq item.type "wearable")}}
                    {{> "systems/pl1e/templates/item/components/icons-wearable.hbs"}}
                {{else if (eq item.type "consumable")}}
                    {{> "systems/pl1e/templates/item/components/icons-consumable.hbs"}}
                {{else if (eq item.type "common")}}
                    {{> "systems/pl1e/templates/item/components/icons-common.hbs"}}
                {{else if (eq item.type "module")}}
                    {{> "systems/pl1e/templates/item/components/icons-module.hbs"}}
                {{/if}}
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="hover-action enabled-action" data-tab="description">{{localize "PL1E.Description"}}</a>
        {{#if (gt (length system.refItems) 0)}}
            <a class="hover-action enabled-action" data-tab="linked-items">{{localize "PL1E.LinkedItems"}}</a>
        {{/if}}
        {{#if (and game.user.isGM (not item.isEmbedded))}}
            <a class="hover-action enabled-action" data-tab="parameters">{{localize "PL1E.Parameters"}}</a>
        {{/if}}
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="description">
            {{> "systems/pl1e/templates/item/parts/item-description.hbs"}}
        </div>
        {{!-- Attributes Tab --}}
        <div class="tab scroll-auto" data-group="primary" data-tab="parameters">
            {{#if (eq item.type "race")}}
                {{> "systems/pl1e/templates/item/parts/race-attributes.hbs"}}
            {{else if (eq item.type "culture")}}
                {{> "systems/pl1e/templates/item/parts/culture-attributes.hbs"}}
            {{else if (eq item.type "class")}}
                {{> "systems/pl1e/templates/item/parts/class-attributes.hbs"}}
            {{else if (eq item.type "feature")}}
                {{> "systems/pl1e/templates/item/parts/feature-attributes.hbs"}}
            {{else if (eq item.type "mastery")}}
                {{> "systems/pl1e/templates/item/parts/mastery-attributes.hbs"}}
            {{else if (eq item.type "ability")}}
                {{> "systems/pl1e/templates/item/parts/ability-attributes.hbs"}}
            {{else if (eq item.type "weapon")}}
                {{> "systems/pl1e/templates/item/parts/weapon-attributes.hbs"}}
            {{else if (eq item.type "wearable")}}
                {{> "systems/pl1e/templates/item/parts/wearable-attributes.hbs"}}
            {{else if (eq item.type "consumable")}}
                {{> "systems/pl1e/templates/item/parts/consumable-attributes.hbs"}}
            {{else if (eq item.type "common")}}
                {{> "systems/pl1e/templates/item/parts/common-attributes.hbs"}}
            {{else if (eq item.type "module")}}
                {{> "systems/pl1e/templates/item/parts/module-attributes.hbs"}}
            {{/if}}
        </div>
        {{!-- Linked Items Tab --}}
        {{#if (gt (length item.system.refItems) 0)}}
            <div class="tab scroll-auto" data-group="primary" data-tab="linked-items">
                {{> "systems/pl1e/templates/item/parts/item-linked.hbs" section=masters title="PL1E.Masters"}}
                {{> "systems/pl1e/templates/item/parts/item-linked.hbs" section=abilities title="PL1E.Abilities"}}
                {{> "systems/pl1e/templates/item/parts/item-linked.hbs" section=features title="PL1E.Features"}}
                {{> "systems/pl1e/templates/item/parts/item-linked.hbs" section=weapons title="PL1E.Weapons"}}
                {{> "systems/pl1e/templates/item/parts/item-linked.hbs" section=wearables title="PL1E.Wearables"}}
                {{> "systems/pl1e/templates/item/parts/item-linked.hbs" section=modules title="PL1E.Modules"}}
                {{> "systems/pl1e/templates/item/parts/item-linked.hbs" section=unknowns title="PL1E.Unknowns"}}
            </div>
        {{/if}}
    </section>
</form>
