<form class="pl1e {{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="sheet-name"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Function"}}</label>
            <select name="system.function">
                {{selectOptions (config "functions") selected=system.function localize=true}}
            </select>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.DataGroup"}}</label>
            <select name="system.dataGroup">
                {{selectOptions (config "dataGroups") selected=system.dataGroup localize=true}}
            </select>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.Data"}}</label>
            <select name="system.data">
                {{selectOptionsWithLabel (config system.dataGroup) selected=system.data localize=true}}
            </select>
        </div>
        <div class="item-attribute flexrow">
            <label class="attribute-name">{{localize "PL1E.DamageType"}}</label>
            <select name="system.damageType">
                {{selectOptions (config "damageTypes") selected=system.damageType localize=true}}
            </select>
        </div>
    </section>
</form>