<form class="pl1e {{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="sheet-name"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="resources grid grid-5col">
                <div class="form-group resource box grid-span-2">
                    <select name="system.attributes.slot">
                        {{selectOptions (config "slots") selected=system.attributes.slot localize=true}}
                    </select>
                </div>
                <div class="grid-span-3">
                    {{> "systems/pl1e/templates/item/components/price.hbs"}}
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">{{localize "PL1E.Description"}}</a>
            <a class="item" data-tab="attributes">{{localize "PL1E.Attributes"}}</a>
            <a class="item" data-tab="linked-items">{{localize "PL1E.LinkedItems"}}</a>
        </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab description flexcol" data-group="primary" data-tab="description">
            {{> "systems/pl1e/templates/item/parts/item-description.hbs"}}
        </div>
        {{!-- Attributes Tab --}}
        <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">
            {{> "systems/pl1e/templates/item/parts/wearable-attributes.hbs"}}
        </div>
        {{!-- Linked Items Tab --}}
        <div class="tab items flexcol" data-group="primary" data-tab="linked-items">
            {{> "systems/pl1e/templates/item/parts/item-linked.hbs"}}
        </div>
    </section>
</form>
